{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE MATERIAL (EDITAR)
{% endblock %}
{% block content %}

	<div class="col-xs-12">
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
    <div class="col-xs-12 text-left">
		<button type="submit" class="btn btn-info"><a href="{% url 'materialesView' %}"><font color="FFFFFF"> << Regresar </font></a></button>
	</div>
{% endblock %}