{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE USUARIOS (EDICIÓN)
{% endblock %}
{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        {{ group.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>

    <div class="col-xs-12 text-left">
		<button type="submit" class="btn btn-info"><a href="{% url 'transportesView' %}"><font color="FFFFFF"> << Regresar </font></a></button>
	</div>
{% endblock %}