{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE FRENTES
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Identificación</th>
					<th class="text-center">Ubicación</th>
					<th class="text-center">Kilometros</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for frente in frentes %}
				<tr>
			    	<td>{{frente.nombre}}</td>
			    	<td>{{frente.identificacion}}</td>
			    	<td>{{frente.ubicacion}}</td>
			    	<td>{{frente.kilometros}}</td>
			    	<td><a href="/control_acero/catalogos/frentes/{{frente.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catalogos/frentes/delete/{{frente.id}}"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="col-md-12">
	        <ul class="pagination">
		        {% if frentes.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ frentes.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in frentes.paginator.page_range %}
	            	<li class="{% if frentes.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if frentes.has_next %}
		        	<li>
		            	<a href="?page={{ frentes.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ frentes.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'frentesNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}