{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE FRENTES
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Identificación</th>
					<th class="text-center">Ubicación</th>
					<th class="text-center">Kilometros</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for frente in frentes %}
				<tr>
			    	<td>{{frente.nombre}}</td>
			    	<td>{{frente.identificacion}}</td>
			    	<td>{{frente.ubicacion}}</td>
			    	<td>{{frente.kilometros}}</td>
			    	<td><a href="/control_acero/catalogos/frentes/{{frente.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catalogos/frentes/delete/{{frente.id}}"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
		    <span class="step-links">
		        {% if frentes.has_previous %}
		            <a href="?page={{ frentes.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ frentes.number }} of {{ frentes.paginator.num_pages }}.
		        </span>

		        {% if frentes.has_next %}
		            <a href="?page={{ frentes.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'frentesNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}