{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CREAR PROGRAMA DE SUMINISTRO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elegir Orden de Compra:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
					<option value="0">Selecciona una Orden de Compra</option>
					<option value="1">Orden 1</option>
					<option value="2">Orden 2</option>
					<option value="3">Orden 3</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFrente">Elegir frente de trabajo:</label>
				<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
				</select>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaInicial">Fecha Inicial:</label>
				<input type="text" class="calendario form-control" name="fechaInicial" id="fechaInicial"></input>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaFinal">Fecha Final:</label>
				<input type="text" class="calendario form-control" name="fechaFinal" id="fechaFinal"></input>
			</div>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-success" name="seleccionarFrente" id="seleccionarFrente">Seleccionar</button>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaFrente" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Nombre del Frente</th>
						<th class="text-center">Identificación del Tramo</th>
						<th class="text-center">Ubicación</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbApoyo">Elegir Apoyo:</label>
				<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbElemento">Elegir Elemento:</label>
				<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
				</select>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12 text-center">
				<h4>Cantidades de Varilla</h4>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtCuatro">#4</label>
				<label class="control-label" for="countCuatro">Elige Cantidad</label>
				<input class="form-control currency" name="countCuatro" id="countCuatro" type="number" min="1" value="1" />
				<label class="control-label" for="txtCuatro">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtCuatro" id="txtCuatro"></input>
				<label class="control-label" for="txtCuatro">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtCuatroOriginal" id="txtCuatroOriginal"></input>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtCinco">#5</label>
				<label class="control-label" for="countCinco">Elige Cantidad</label>
				<input class="form-control currency" name="countCinco" id="countCinco" type="number" min="1" value="1" />
				<label class="control-label" for="txtCinco">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtCinco" id="txtCinco"></input>
				<label class="control-label" for="txtCinco">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtCincoOriginal" id="txtCincoOriginal"></input>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtSeis">#6</label>
				<label class="control-label" for="countSeis">Elige Cantidad</label>
				<input class="form-control currency" name="countSeis" id="countSeis" type="number" min="1" value="1" />
				<label class="control-label" for="txtSeis">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtSeis" id="txtSeis"></input>
				<label class="control-label" for="txtSeis">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtSeisOriginal" id="txtSeisOriginal"></input>
			</div>
			<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
			<div class="form-group col-md-4">
				<label class="control-label" for="txtSiete">#7</label>
				<label class="control-label" for="countSiete">Elige Cantidad</label>
				<input class="form-control currency" name="countSiete" id="countSiete" type="number" min="1" value="1" />
				<label class="control-label" for="txtSiete">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtSiete" id="txtSiete"></input>
				<label class="control-label" for="txtSiete">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtSieteOriginal" id="txtSieteOriginal"></input>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtOcho">#8</label>
				<label class="control-label" for="countOcho">Elige Cantidad</label>
				<input class="form-control currency" name="countOcho" id="countOcho" type="number" min="1" value="1" />
				<label class="control-label" for="txtOcho">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtOcho" id="txtOcho"></input>
				<label class="control-label" for="txtOcho">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtOchoOriginal" id="txtOchoOriginal"></input>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtNueve">#9</label>
				<label class="control-label" for="countNueve">Elige Cantidad</label>
				<input class="form-control currency" name="countNueve" id="countNueve" type="number" min="1" value="1" />
				<label class="control-label" for="txtNueve">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtNueve" id="txtNueve"></input>
				<label class="control-label" for="txtNueve">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtNueveOriginal" id="txtNueveOriginal"></input>
			</div>
			<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
			<div class="form-group col-md-4">
				<label class="control-label" for="txtDiez">#10</label>
				<label class="control-label" for="countDiez">Elige Cantidad</label>
				<input class="form-control currency" name="countDiez" id="countDiez" type="number" min="1" value="1" />
				<label class="control-label" for="txtDiez">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtDiez" id="txtDiez"></input>
				<label class="control-label" for="txtDiez">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtDiezOriginal" id="txtDiezOriginal"></input>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtOnce">#11</label>
				<label class="control-label" for="countOnce">Elige Cantidad</label>
				<input class="form-control currency" name="countOnce" id="countOnce" type="number" min="1" value="1" />
				<label class="control-label" for="txtOnce">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtOnce" id="txtOnce"></input>
				<label class="control-label" for="txtOnce">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtOnceOriginal" id="txtOnceOriginal"></input>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="txtDoce">#12</label>
				<label class="control-label" for="countDoce">Elige Cantidad</label>
				<input class="form-control currency" name="countDoce" id="countDoce" type="number" min="1" value="1" />
				<label class="control-label" for="txtDoce">Cantidad Total</label>
				<input type="text" disabled class="form-control" name="txtDoce" id="txtDoce"></input>
				<label class="control-label" for="txtDoce">Cantidad Real por Varilla</label>
				<input type="text" disabled class="form-control" name="txtDoceOriginal" id="txtDoceOriginal"></input>
			</div>
			<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-info" name="btnAgregaVarilla" id="btnAgregaVarilla">Agregar</button>
			<button type="button" class="btn btn-success" name="btnExcel" id="btnExcel">Cargar Excel</button>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaApoyoElemento" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Apoyo</th>
						<th class="text-center">Elemento</th>
						<th class="text-center">Varilla #4</th>
						<th class="text-center">Varilla #5</th>
						<th class="text-center">Varilla #6</th>
						<th class="text-center">Varilla #7</th>
						<th class="text-center">Varilla #8</th>
						<th class="text-center">Varilla #9</th>
						<th class="text-center">Varilla #10</th>
						<th class="text-center">Varilla #11</th>
						<th class="text-center">Varilla #12</th>
						<th class="text-center">Total</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div class="col-md-6 text-center">
			<button type="button" class="btn btn-success" name="btnSolicitar" id="btnSolicitar">Solicitar</button>
		</div>
		<div class="col-md-6 text-center">
			<button type="button" class="btn btn-warning" name="btnCancelar" id="btnCancelar">Cancelar</button>
		</div>
	</div>
	<script type="text/javascript">
		comboFrente = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frente/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.idFrente + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Frente:\n\n" + otroobj);
		        }
		    });
		};
		comboApoyo = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/apoyo/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.idApoyo + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Apoyo:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Apoyo:\n\n" + otroobj);
		        }
		    });
		};
		comboElementoApoyo = function (idApoyo) {
			var idApoyo = idApoyo;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/comboapoyoelmento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idApoyo: idApoyo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.idElemento + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Apoyo:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Apoyo:\n\n" + otroobj);
		        }
		    });
		};
		$( "#seleccionarFrente" ).click(function() {
			$("#tablaFrente tbody").empty();
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frenteTrabajo/show/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idFrente: frente
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                        tabla += '<tr>'
	                        			+'<td>'+object.nombreFrente+'</td>'
	                        			+'<td>'+object.identificacion+'</td>'
	                        			+'<td>'+object.ubicacion+'</td>'
	                        		+'</tr>'
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaFrente tbody").append(tabla);

		});
		$( "#cmbApoyo" ).change(function() {
			var value = this.value;
			comboElementoApoyo(value);
		});
		$( "#cmbElemento" ).change(function() {
			limpiaCantidadVarilla();
			var value = this.value;
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/elementomaterial/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idElemento: value
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                    	if(object.materialNumero == 4){
	                    		$("#txtCuatro").val(object.materialPeso);
	                    		$("#txtCuatroOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 5){
	                    		$("#txtCinco").val(object.materialPeso);
	                    		$("#txtCincoOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 6){
	                    		$("#txtSeis").val(object.materialPeso);
	                    		$("#txtSeisOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 7){
	                    		$("#txtSiete").val(object.materialPeso);
	                    		$("#txtSieteOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 8){
	                    		$("#txtOcho").val(object.materialPeso);
	                    		$("#txtOchoOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 9){
	                    		$("#txtNueve").val(object.materialPeso);
	                    		$("#txtNueveOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 10){
	                    		$("#txtDiez").val(object.materialPeso);
	                    		$("#txtDiezOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 11){
	                    		$("#txtOnce").val(object.materialPeso);
	                    		$("#txtOnceOriginal").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 12){
	                    		$("#txtDoce").val(object.materialPeso);
	                    		$("#txtDoceOriginal").val(object.materialPeso);
	                    	}
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaInformacionVarillas tbody").append(tabla);
		});
		limpiaCantidadVarilla = function () {
			$("#txtCuatro").val(0);
			$("#txtCinco").val(0);
			$("#txtSeis").val(0);
			$("#txtSiete").val(0);
			$("#txtOcho").val(0);
			$("#txtNueve").val(0);
			$("#txtDiez").val(0);
			$("#txtNueve").val(0);
			$("#txtDiez").val(0);
			$("#txtOnce").val(0);
			$("#txtDoce").val(0);
			$("#txtCuatroOriginal").val(0);
			$("#txtCincoOriginal").val(0);
			$("#txtSeisOriginal").val(0);
			$("#txtSieteOriginal").val(0);
			$("#txtOchoOriginal").val(0);
			$("#txtNueveOriginal").val(0);
			$("#txtDiezOriginal").val(0);
			$("#txtNueveOriginal").val(0);
			$("#txtDiezOriginal").val(0);
			$("#txtOnceOriginal").val(0);
			$("#txtDoceOriginal").val(0);
			$("#countCuatro").val(1);
			$("#countCinco").val(1);
			$("#countSeis").val(1);
			$("#countSiete").val(1);
			$("#countOcho").val(1);
			$("#countNueve").val(1);
			$("#countDiez").val(1);
			$("#countNueve").val(1);
			$("#countDiez").val(1);
			$("#countOnce").val(1);
			$("#countDoce").val(1);
		}
		$( "#btnAgregaVarilla" ).click(function() {
			var apoyo = $("#cmbApoyo").val();
			var apoyoText = $("#cmbApoyo option[value='"+apoyo+"']").text();
			var elemento = $("#cmbElemento").val();
			var elementoText = $("#cmbElemento option[value='"+elemento+"']").text();
			var numeroCuatro = $("#txtCuatro").val();
			var numeroCinco = $("#txtCinco").val();
			var numeroSeis = $("#txtSeis").val();
			var numeroSiete = $("#txtSiete").val();
			var numeroOcho = $("#txtOcho").val();
			var numeroNueve = $("#txtNueve").val();
			var numeroDiez = $("#txtDiez").val();
			var numeroOnce = $("#txtOnce").val();
			var numeroDoce = $("#txtDoce").val();
			var total = parseFloat(numeroCuatro) + parseFloat(numeroCinco) + parseFloat(numeroSeis) + parseFloat(numeroSiete) + parseFloat(numeroOcho);
			var tabla = '';
				tabla += '<tr>'
							+'<td class="text-center">'+apoyoText+'</td>'
							+'<td class="text-center">'+elementoText+'</td>'
							+'<td class="text-center">'+numeroCuatro+'</td>'
							+'<td class="text-center">'+numeroCinco+'</td>'
							+'<td class="text-center">'+numeroSeis+'</td>'
							+'<td class="text-center">'+numeroSiete+'</td>'
							+'<td class="text-center">'+numeroOcho+'</td>'
							+'<td class="text-center">'+numeroNueve+'</td>'
							+'<td class="text-center">'+numeroDiez+'</td>'
							+'<td class="text-center">'+numeroOnce+'</td>'
							+'<td class="text-center">'+numeroDoce+'</td>'
							+'<td class="text-center">'+parseFloat(total).toFixed(4)+'</td>'
							+'<td class="text-center"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span</td>'
							+'<td style="display:none" class="text-center">'
								+'<input type="hidden" class="dataVarilla" name="txtVarilla" id="txtVarilla" value="'+apoyo+'|'+elemento+'|'+numeroCuatro+'|'+numeroCinco+'|'+numeroSeis+'|'+numeroSiete+'|'+numeroOcho+'|'+numeroNueve+'|'+numeroDiez+'|'+numeroOnce+'|'+numeroDoce+'|'+parseFloat(total).toFixed(4)+'" />'
							+'</td>'
						+'<tr>';
			$("#tablaApoyoElemento").append(tabla);
			limpiaCantidadVarilla();
		});
		$( "#btnSolicitar" ).click(function() {
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
        	var datos = [];
			$(":input[class=dataVarilla]").each(function(index, element) {
				datos.push({"data": this.value});
			});
			var json = JSON.stringify(datos);
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/programa/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idOrden: orden,
		        		idFrente: frente,
		        		fechaInicial: fechaInicial,
		        		fechaFinal: fechaFinal,
		        		json: json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		$( "#countCuatro" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var cuatro = parseFloat($("#txtCuatroOriginal").val()).toFixed(4);
			var total = (value)*(cuatro);
			$("#txtCuatro").val(parseFloat(total).toFixed(4));
		});
		$( "#countCinco" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var cinco = parseFloat($("#txtCincoOriginal").val()).toFixed(4);
			var total = (value)*(cinco);
			$("#txtCinco").val(parseFloat(total).toFixed(4));
		});
		$( "#countSeis" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var seis = parseFloat($("#txtSeisOriginal").val()).toFixed(4);
			var total = (value)*(seis);
			$("#txtSeis").val(parseFloat(total).toFixed(4));
		});
		$( "#countSiete" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var siete = parseFloat($("#txtSieteOriginal").val()).toFixed(4);
			var total = (value)*(siete);
			$("#txtSiete").val(parseFloat(total).toFixed(4));
		});
		$( "#countOcho" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var ocho = parseFloat($("#txtOchoOriginal").val()).toFixed(4);
			var total = (value)*(ocho);
			$("#txtOcho").val(parseFloat(total).toFixed(4));
		});
		$( "#countNueve" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var nueve = parseFloat($("#txtNueveOriginal").val()).toFixed(4);
			var total = (value)*(nueve);
			$("#txtNueve").val(parseFloat(total).toFixed(4));
		});
		$( "#countDiez" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var diez = parseFloat($("#txtDiezOriginal").val()).toFixed(4);
			var total = (value)*(diez);
			$("#txtDiez").val(parseFloat(total).toFixed(4));
		});
		$( "#countOnce" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var once = parseFloat($("#txtOnceOriginal").val()).toFixed(4);
			var total = (value)*(once);
			$("#txtOnce").val(parseFloat(total).toFixed(4));
		});
		$( "#countDoce" ).change(function() {
			var value = parseFloat(this.value).toFixed(4);
			var doce = parseFloat($("#txtDoceOriginal").val()).toFixed(4);
			var total = (value)*(doce);
			$("#txtDoce").val(parseFloat(total).toFixed(4));
		});
	    $(function () {
	    	comboFrente();
	    	comboApoyo();
	    });
	</script>
{% endblock %}