{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CREAR PROGRAMA DE SUMINISTRO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elegir Orden de Compra:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
					<option value="0">Selecciona una Orden de Compra</option>
					<option value="1">Orden 1</option>
					<option value="2">Orden 2</option>
					<option value="3">Orden 3</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFrente">Elegir frente de trabajo:</label>
				<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
				</select>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaInicial">Fecha Inicial:</label>
				<input type="text" class="calendario form-control" name="fechaInicial" id="fechaInicial"></input>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaFinal">Fecha Final:</label>
				<input type="text" class="calendario form-control" name="fechaFinal" id="fechaFinal"></input>
			</div>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-success" name="seleccionarFrente" id="seleccionarFrente">Seleccionar</button>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaFrente" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Nombre del Frente</th>
						<th class="text-center">Identificación del Tramo</th>
						<th class="text-center">Ubicación</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbApoyo">Elegir Apoyo:</label>
				<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbElemento">Elegir Elemento:</label>
				<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
				</select>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12 text-center">
				<h4>Cantidades de Varilla</h4>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtCuatro">#4</label>
				<input type="text" class="form-control" name="txtCuatro" id="txtCuatro"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtCinco">#5</label>
				<input type="text" class="form-control" name="txtCinco" id="txtCinco"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtSeis">#6</label>
				<input type="text" class="form-control" name="txtSeis" id="txtSeis"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtSiete">#7</label>
				<input type="text" class="form-control" name="txtSiete" id="txtSiete"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtOcho">#8</label>
				<input type="text" class="form-control" name="txtOcho" id="txtOcho"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtNueve">#9</label>
				<input type="text" class="form-control" name="txtNueve" id="txtNueve"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtDiez">#10</label>
				<input type="text" class="form-control" name="txtDiez" id="txtDiez"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtOnce">#11</label>
				<input type="text" class="form-control" name="txtOnce" id="txtOnce"></input>
			</div>
			<div class="form-group col-md-4">
				<label  class="control-label" for="txtDoce">#12</label>
				<input type="text" class="form-control" name="txtDoce" id="txtDoce"></input>
			</div>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-info" name="btnAgregaVarilla" id="btnAgregaVarilla">Agregar</button>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaApoyoElemento" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Apoyo</th>
						<th class="text-center">Elemento</th>
						<th class="text-center">Varilla #4</th>
						<th class="text-center">Varilla #5</th>
						<th class="text-center">Varilla #6</th>
						<th class="text-center">Varilla #7</th>
						<th class="text-center">Varilla #8</th>
						<th class="text-center">Varilla #9</th>
						<th class="text-center">Varilla #10</th>
						<th class="text-center">Varilla #11</th>
						<th class="text-center">Varilla #12</th>
						<th class="text-center">Total</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div class="col-md-6 text-center">
			<button type="button" class="btn btn-success" name="btnSolicitar" id="btnSolicitar">Solicitar</button>
		</div>
		<div class="col-md-6 text-center">
			<button type="button" class="btn btn-warning" name="btnCancelar" id="btnCancelar">Cancelar</button>
		</div>
	</div>
	<script type="text/javascript">
		comboFrente = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frente/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.idFrente + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Frente:\n\n" + otroobj);
		        }
		    });
		};
		comboApoyo = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/apoyo/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.idApoyo + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Apoyo:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Apoyo:\n\n" + otroobj);
		        }
		    });
		};
		comboElementoApoyo = function (idApoyo) {
			var idApoyo = idApoyo;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/comboapoyoelmento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idApoyo: idApoyo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.idElemento + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Apoyo:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Apoyo:\n\n" + otroobj);
		        }
		    });
		};
		$( "#seleccionarFrente" ).click(function() {
			$("#tablaFrente tbody").empty();
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frenteTrabajo/show/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idFrente: frente
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                        tabla += '<tr>'
	                        			+'<td>'+object.nombreFrente+'</td>'
	                        			+'<td>'+object.identificacion+'</td>'
	                        			+'<td>'+object.ubicacion+'</td>'
	                        		+'</tr>'
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaFrente tbody").append(tabla);

		});
		$( "#cmbApoyo" ).change(function() {
			var value = this.value;
			comboElementoApoyo(value);
		});
		$( "#cmbElemento" ).change(function() {
			limpiaCantidadVarilla();
			var value = this.value;
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/elementomaterial/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idElemento: value
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                    	if(object.materialNumero == 4){
	                    		$("#txtCuatro").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 5){
	                    		$("#txtCinco").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 6){
	                    		$("#txtSeis").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 7){
	                    		$("#txtSiete").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 8){
	                    		$("#txtOcho").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 9){
	                    		$("#txtNueve").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 10){
	                    		$("#txtDiez").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 11){
	                    		$("#txtOnce").val(object.materialPeso);
	                    	}
	                    	if(object.materialNumero == 12){
	                    		$("#txtDoce").val(object.materialPeso);
	                    	}
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaInformacionVarillas tbody").append(tabla);
		});
		limpiaCantidadVarilla = function () {
			$("#txtCuatro").val('');
			$("#txtCinco").val('');
			$("#txtSeis").val('');
			$("#txtSiete").val('');
			$("#txtOcho").val('');
			$("#txtNueve").val('');
			$("#txtDiez").val('');
			$("#txtNueve").val('');
			$("#txtDiez").val('');
			$("#txtOnce").val('');
			$("#txtDoce").val('');
		}
		$( "#btnAgregaVarilla" ).click(function() {
			var apoyo = $("#cmbApoyo").val();
			var apoyoText = $("#cmbApoyo option[value='"+apoyo+"']").text();
			var elemento = $("#cmbElemento").val();
			var elementoText = $("#cmbElemento option[value='"+elemento+"']").text();
			var numeroCuatro = $("#txtCuatro").val();
			var numeroCinco = $("#txtCinco").val();
			var numeroSeis = $("#txtSeis").val();
			var numeroSiete = $("#txtSiete").val();
			var numeroOcho = $("#txtOcho").val();
			var numeroNueve = $("#txtNueve").val();
			var numeroDiez = $("#txtDiez").val();
			var numeroOnce = $("#txtOnce").val();
			var numeroDoce = $("#txtDoce").val();
			var tabla = '';
				tabla += '<tr>'
							+'<td class="text-center">'+apoyoText+'</td>'
							+'<td class="text-center">'+elementoText+'</td>'
							+'<td class="text-center">'+numeroCuatro+'</td>'
							+'<td class="text-center">'+numeroCinco+'</td>'
							+'<td class="text-center">'+numeroSeis+'</td>'
							+'<td class="text-center">'+numeroSiete+'</td>'
							+'<td class="text-center">'+numeroOcho+'</td>'
							+'<td class="text-center">'+numeroNueve+'</td>'
							+'<td class="text-center">'+numeroDiez+'</td>'
							+'<td class="text-center">'+numeroOnce+'</td>'
							+'<td class="text-center">'+numeroDoce+'</td>'
							+'<td style="display:none" class="text-center">'
								+'<input type="hidden" class="dataVarilla" name="txtVarilla" id="txtVarilla" value="'+apoyo+'|'+elemento+'|'+numeroCuatro+'|'+numeroCinco+'|'+numeroSeis+'|'+numeroSiete+'|'+numeroOcho+'|'+numeroNueve+'|'+numeroDiez+'|'+numeroOnce+'|'+numeroDoce+'|1000" />'
							+'</td>'
							+'<td class="text-center">1000</td>'
							+'<td class="text-center"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span</td>'
						+'<tr>';
			$("#tablaApoyoElemento").append(tabla);
			limpiaCantidadVarilla();
		});
		$( "#btnSolicitar" ).click(function() {
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
        	var datos = [];
			$(":input[class=dataVarilla]").each(function(index, element) {
				datos.push({"data": this.value});
			});
			var json = JSON.stringify(datos);
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/programa/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idOrden: orden,
		        		idFrente: frente,
		        		fechaInicial: fechaInicial,
		        		fechaFinal: fechaFinal,
		        		json: json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
	    $(function () {
	    	comboFrente();
	    	comboApoyo();
	    });
	</script>
{% endblock %}