{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CREAR PROGRAMA DE SUMINISTRO
{% endblock %}
{% block modals %}
<!-- Modal -->
<div class="modal fade" id="modalPdf" tabindex="-1" role="dialog" aria-labelledby="modalPdfLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalPdfLabel">Impresion PDF</h4>
			</div>
			<div class="modal-body">
				<iframe class="col-lg-12 col-md-12 col-sm-12" height="600" name="framePdf" id="framePdf"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12 text-left">
				<h4> Folio: <label id="folio"></label><input type="hidden" readonly disabled name="txtFolio" id="txtFolio" /></h4>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elegir Orden de Compra:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
					<option value="0">Selecciona una Orden de Compra</option>
					<option value="1">Orden 1</option>
					<option value="2">Orden 2</option>
					<option value="3">Orden 3</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFrente">Elegir Frente de trabajo:</label>
				<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
				</select>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaInicial">Fecha Inicial:</label>
				<input type="text" class="calendario form-control" name="fechaInicial" id="fechaInicial"></input>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaFinal">Fecha Final:</label>
				<input type="text" class="calendario form-control" name="fechaFinal" id="fechaFinal"></input>
			</div>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-success" name="seleccionarFrente" id="seleccionarFrente">Seleccionar</button>
		</div>
		<div style="display:none;" id="divFrente" class="col-md-12 table-responsive">
			<table id="tablaFrente" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Nombre del Frente</th>
						<th class="text-center">Identificación del Tramo</th>
						<th class="text-center">Ubicación</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div style="display:none;" id="divApoyo" class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbApoyo">Elegir Apoyo:</label>
				<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbElemento">Elegir Elemento:</label>
				<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
				</select>
			</div>
		</div>
		<div class="col-md-12">
			<h4>Cantidades de Varilla</h4>
		</div>
		<div id="divCantidades" class="col-md-12">
		</div>
		<div style="display:none;" id="divCantidadesBotones" class="col-md-12">
			<button type="button" class="btn btn-info" name="btnAgregaVarilla" id="btnAgregaVarilla">Agregar</button>
			<button type="button" class="btn btn-success" name="btnExcel" id="btnExcel">Cargar Excel</button>
		</div>
		<div style="display:none;" id="divDetalle" class="col-md-12 table-responsive">
			<table id="tablaApoyoElemento" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Apoyo</th>
						<th class="text-center">Elemento</th>
						<th class="text-center">Material</th>
						<th class="text-center">Peso Total</th>
						<th class="text-center">Número de Piezas</th>
						<th class="text-center">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div style="display:none;" id="divDetalleSolicita" class="col-md-6 text-center">
			<button type="button" class="btn btn-success" name="btnSolicitar" id="btnSolicitar">Solicitar</button>
		</div>
		<div style="display:none;" id="divDetalleCancelar" class="col-md-6 text-center">
			<button type="button" class="btn btn-warning" name="btnCancelar" id="btnCancelar">Cancelar</button>
		</div>
		<div style="display:none;" id="divImpresion" class="col-md-12 text-center">
			<button type="button" class="btn btn-success btn-lg" name="btnImprimir" id="btnImprimir" data-toggle="modal" data-target="#modalPdf">Imprimir</button>
		</div>
	</div>
	<script type="text/javascript">
		comboFrente = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frente/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.idFrente + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Frente:\n\n" + otroobj);
		        }
		    });
		};
		comboApoyo = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/apoyo/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.idApoyo + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Apoyo:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Apoyo:\n\n" + otroobj);
		        }
		    });
		};
		comboElementoApoyo = function (idApoyo) {
			var idApoyo = idApoyo;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/comboapoyoelmento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idApoyo: idApoyo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.idElemento + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Apoyo:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Apoyo:\n\n" + otroobj);
		        }
		    });
		};
		$( "#seleccionarFrente" ).click(function() {
			$("#tablaFrente tbody").empty();
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
			if(orden == 0){
				mensajeWarning("<b>Debes elegir una Orden de Compra.</b>");
				return false;
			}
			if(frente == 0){
				mensajeWarning("<b>Debes elegir un Frente de Trabajo.</b>");
				return false;
			}
			if(fechaInicial == 0){
				mensajeWarning("<b>Debes elegir una Fecha Inicial.</b>");
				return false;
			}
			if(fechaFinal == 0){
				mensajeWarning("<b>Debes elegir una Fecha Final.</b>");
				return false;
			}
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frenteTrabajo/show/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idFrente: frente
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                        tabla += '<tr>'
	                        			+'<td>'+object.nombreFrente+'</td>'
	                        			+'<td>'+object.identificacion+'</td>'
	                        			+'<td>'+object.ubicacion+'</td>'
	                        		+'</tr>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaFrente tbody").append(tabla);
		    $("#divFrente").show("slide");
		    $("#divApoyo").show("slide");
		});
		$( "#cmbApoyo" ).change(function() {
			var value = this.value;
			comboElementoApoyo(value);
		});
		$( "#cmbElemento" ).change(function() {
			$("#divCantidades").empty();
			var value = this.value;
			var tabla = '';
			var html = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/elementomaterial/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idElemento: value
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                    	html +=	'<div class="form-group col-md-6">'
										+ '<label class="control-label" for="txt'+object.idMaterial+'">'+object.nombreMaterial+'</label>'
										+ '<label class="control-label" for="count'+object.idMaterial+'"></label>'
										+ '<input class="form-control currency" name="count'+object.idMaterial+'" id="count'+object.idMaterial+'" type="number" min="1" value="1" title="Elige una Cantidad" onChange="cantidadMaterial('+object.idMaterial+');" />'
										+ '<label class="control-label" for="txt'+object.idMaterial+'">Cantidad Total</label>'
										+ '<input type="text" disabled class="form-control cantidadTotal" attrMaterial="'+object.nombreMaterial+'" attrIdMaterial="'+object.idMaterial+'" name="txt'+object.idMaterial+'" id="txt'+object.idMaterial+'" value="'+object.conversion+'"></input>'
										+ '<label class="control-label" for="txt'+object.idMaterial+'">Peso Real por Varilla</label>'
										+ '<input type="text" disabled class="form-control" name="txt'+object.idMaterial+'Original" id="txt'+object.idMaterial+'Original" value="'+object.conversion+'"></input>'
										+ '<hr style="width: 100%; color: black; height: 1px; background-color:black;" />'
									+ '</div>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaInformacionVarillas tbody").append(tabla);
		    $("#divCantidades").append(html);
		    $("#divCantidadesBotones").show('slide');
		    $("#divDetalle").show('slide');
		    $("#divDetalleSolicita").show('slide');
		    $("#divDetalleCancelar").show('slide');
		});
		$( "#btnAgregaVarilla" ).click(function() {
			var apoyo = $("#cmbApoyo").val();
			var apoyoText = $("#cmbApoyo option[value='"+apoyo+"']").text();
			var elemento = $("#cmbElemento").val();
			var elementoText = $("#cmbElemento option[value='"+elemento+"']").text();
			var tabla = '';
			var idMaterial = 0;
			var pesoMaterial = 0;
			var material = '';
			var cantidadMaterial = 0;
			if(apoyo == 0){
				mensajeWarning("<b>Debes elegir un Apoyo.</b>");
				return false;
			}
			if(elemento == 0){
				mensajeWarning("<b>Debes elegir un Elemento.</b>");
				return false;
			}
			var colors = ["primary", "success", "info", "warning", "default", "danger"];
			var randomColor = Math.floor(Math.random()*colors.length);
			var color = colors[randomColor];

			$("input.cantidadTotal[type=text]").each(function(index, element) {
				idMaterial = $(this).attr("attrIdMaterial");
				cantidadMaterial = $("#count"+idMaterial).val();
				pesoMaterial = this.value;
				material = $(this).attr("attrMaterial");
				tabla += '<tr class="'+color+'">'
							+'<td class="text-center">'+apoyoText+'</td>'
							+'<td class="text-center">'+elementoText+'</td>'
							+'<td class="text-center">'+material+'</td>'
							+'<td class="text-center">'+pesoMaterial+'</td>'
							+'<td class="text-center">'+cantidadMaterial+'</td>'
							//+'<td class="text-center">'+parseFloat(total).toFixed(4)+'</td>'
							+'<td class="text-center"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span</td>'
							+'<td style="display:none" class="text-center">'
								+'<input type="hidden" class="dataVarilla" name="txtVarilla" id="txtVarilla" value="'+apoyo+'|'+elemento+'|'+idMaterial+'|'+pesoMaterial+'|'+cantidadMaterial+'" />'
							+'</td>'
						+'<tr>';
			});
			$("#tablaApoyoElemento").append(tabla);
			$("#cmbElemento").val(0);
		});
		$( "#btnSolicitar" ).click(function() {
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
        	var datos = [];
			$(":input[class=dataVarilla]").each(function(index, element) {
				datos.push({"data": this.value});
			});
			var json = JSON.stringify(datos);
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/programa/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idOrden: orden,
		        		idFrente: frente,
		        		fechaInicial: fechaInicial,
		        		fechaFinal: fechaFinal,
		        		json: json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            	$("#folio").html(datos.folio);
		            	$("#txtFolio").val(datos.folio);
		            	$("#divImpresion").show('slide');
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		$( "#btnCancelar" ).click(function() {
			$("#cmbOrden").val(0);
			$("#cmbFrente").val(0);
			$("#fechaInicial").val('');
			$("#fechaFinal").val('');
			$("#cmbApoyo").val(0);
			$("#cmbElemento").val(0);
			$("#divFrente").hide('slide');
			$("#divApoyo").hide('slide');
		    $("#divCantidadesBotones").hide('slide');
		    $("#divDetalle").hide('slide');
		    $("#divDetalleSolicita").hide('slide');
		    $("#divDetalleCancelar").hide('slide');
		    $("#tablaFrente tbody").empty();
		    $("#tablaApoyoElemento tbody").empty();
		});
		function cantidadMaterial (id){
			var value = $("#count"+id).val();
			var original = parseFloat($("#txt"+id+"Original").val());
			var total = (value)*(original);
			$("#txt"+id).val(parseFloat(total).toFixed(4));
		}
		$( "#btnImprimir" ).click(function() {
			var folio = $("#txtFolio").val();
			var href = "http://localhost:8000/ProgramaSuministro/"+folio;
			$("#framePdf").attr("src", href);
		});
	    $(function () {
	    	comboFrente();
	    	comboApoyo();
	    });
	</script>
{% endblock %}