{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE APOYO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for apoyo in apoyos %}
				<tr>
			    	<td>{{apoyo.numero}}</td>
			    	<td><a href="/control_acero/catalogos/apoyos/{{apoyo.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catalogos/apoyos/{{apoyo.id}}/delete/"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="col-md-12">
	        <ul class="pagination">
		        {% if apoyos.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ apoyos.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in apoyos.paginator.page_range %}
	            	<li class="{% if apoyos.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if apoyos.has_next %}
		        	<li>
		            	<a href="?page={{ apoyos.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ apoyos.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'apoyosNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}