{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CIERRE DE INVENTARIO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
			<div class="col-md-12">
				<label><b>Selecciona que tipo de cierre quieres realizar</b></label>
			</div>
			<div class="col-md-12">

				<div id="divDetalleMaterial" class="col-md-3 text-center">
					<button type="button" class="btn btn-success" name="Material" id="Material">Material</button>
				</div>
				<div class="form-group col-md-3">
					<button type="button" class="btn btn-success" name="Despiece" id="Despiece">Despiece</button>
				</div>
				<div class="form-group col-md-3">
					<button type="button" class="btn btn-success" name="Elemento" id="Elemento">Elemento</button>
				</div>
				<div class="form-group col-md-3">
					<button type="button" class="btn btn-success" name="Apoyo" id="Apoyo">Apoyo</button>
				</div>
				<div style = "display:none" id="fecha">
					<div class="form-group col-md-6">
						<label  class="control-label" for="fechaInicial">Fecha Inicial:</label>
						<input type="text" class="calendario form-control" name="fechaInicial" id="fechaInicial"></input>
					</div>
					<div class="form-group col-md-6">
						<label  class="control-label" for="fechaFinal">Fecha Final:</label>
						<input type="text" class="calendario form-control" name="fechaFinal" id="fechaFinal"></input>
					</div>
					<div class="form-group col-md-12">
							<label  class="control-label" for="cmbProveedor">Elige un Proveedor:</label>
							<select name="cmbProveedor" id="cmbProveedor" class="cmbProveedor form-control">
							</select>
					</div>
				</div>
			</div>
		<div style="display:none" id="divDetalleInventario" class="col-md-12 text-center">
			<button type="button" class="btn btn-success" name="buscarInventarios" id="buscarInventarios">Seleccionar</button>
		</div>

		<div style="display:none" id="divDetalle" class="col-md-12 table-responsive">
			<table id="tablaInformacion" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Varilla</th>
						<th class="text-center">Cantidad Asignada</th>
						<th class="text-center">Cantidad</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Proveedor</th>
						<th class="text-center">Taller</th>
						<th class="text-center">Longitud</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				
				<tbody>
					
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		comboProveedor = function () {
			
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/inventario/cierre/comboProveedor/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbProveedor').empty();
		                $('.cmbProveedor').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbProveedor').append('<option value="' + object.idProveedor + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Proveedor:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Proveedor:\n\n" + otroobj);
		        }
		    });
		};
		//
		$( "#divDetalleMaterial" ).click(function() {
			// body...
			$("#fecha").show("slide");
			$("#divDetalleInventario").show("slide");




		})
		$( "#buscarInventarios" ).click(function() {
			$("#tablaInformacion tbody").empty();
			// var apoyo = $("#cmbApoyo").val();
			// var despiece = $("#cmbDespiece").val();
			// var material = $("#cmbMaterial").val();
			// var elemento = $("#cmbElemento").val();
			var proveedor=$("#cmbProveedor").val();
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
			var etapa=0;
			var orden=0;
			var r=0;
			var nombre="";

			// if(elemento == 0){
			// 	mensajeWarning("<b>Debes elegir un elemento.</b>");
			// 	return false;
			// }
			if(proveedor == 0){
				mensajeWarning("<b>Debes elegir un Proveedor</b>");
				return false;
			}
			if(fechaInicial == 0){
				mensajeWarning("<b>Debes elegir una Fecha Inicial.</b>");
				return false;
			}
			if(fechaFinal == 0){
				mensajeWarning("<b>Debes elegir una Fecha Final.</b>");
				return false;
			}
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/inventario/cierre/busqueda/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		fechaInicial: fechaInicial,
		        		fechaFinal: fechaFinal
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                    	
	                    	if(orden==object.orden && r==object.remision){
	                    		
		                        tabla += '<tr>'
		                        		
		                        		console.log(object.etapa);

		                        		if(etapa==object.etapa){
		                       				tabla +='<td>'+object.material+'</td>'
		                       				tabla +='<td>'+object.cantidadAsignada+'</td>'
		                        			tabla +='<td>'+object.cantidad+'</td>'
		                        			tabla +='<td>'+object.peso+'</td>'
		                        			tabla +='<td>'+object.proveedor+'</td>'
		                        			tabla +='<td>'+object.taller+'</td>'
		                        			tabla +='<td>'+object.longitud+'</td>'

		                        			
		                        		}
		                        		else{
		                        			etapa++;
		                        			if(etapa==1){
		                        				nombre="Suministro Recepcion";
		                        			}
		                        			if(etapa==2){
		                        				nombre="Suministro Asignado";
		                        			}
		                        			if(etapa==3){
		                        				nombre="Habilitado Recepcion";
		                        			}
		                        			if(etapa==4){
		                        				nombre="Habilitado Asignado";
		                        			}
		                        			if(etapa==5){
		                        				nombre="Armado Recepcion";
		                        			}
		                        			if(etapa==6){
		                        				nombre="Armado Asignado";
		                        			}
		                        			if(etapa==7){
		                        				nombre="Colocado Recepcion";
		                        			}
		                        			tabla +='<tr>'
		                        			tabla +='<th class="text-center" colspan="8"><b>'+nombre+'</b></th>'
		                        			tabla +='</tr>'
		                        		
		                        		}

		                       			tabla +='</tr>';
		                       			orden=object.orden;
		                       			r=object.remision;
	                    	}
	                    	else{
	                    		tabla += '<tr><th class="text-center" colspan="4"> # Orden: '+object.orden+'</th>'
	                    		tabla += '<th class="text-center" colspan="4"> # Remisión: '+object.remision+'</th></tr>'
	                    		tabla += '<tr>'
		                        		if(etapa==object.etapa){
		                       				tabla +='<td>'+object.material+'</td>'
		                       				tabla +='<td>'+object.cantidadAsignada+'</td>'
		                        			tabla +='<td>'+object.cantidad+'</td>'
		                        			tabla +='<td>'+object.peso+'</td>'
		                        			tabla +='<td>'+object.proveedor+'</td>'
		                        			tabla +='<td>'+object.taller+'</td>'
		                        			tabla +='<td>'+object.longitud+'</td>'

		                        			
		                        		}
		                        		else{
		                        			etapa++;
		                        			if(etapa==1){
		                        				nombre="Suministro Recepcion";
		                        			}
		                        			if(etapa==2){
		                        				nombre="Suministro Asignado";
		                        			}
		                        			if(etapa==3){
		                        				nombre="Habilitado Recepcion";
		                        			}
		                        			if(etapa==4){
		                        				nombre="Habilitado Asignado";
		                        			}
		                        			if(etapa==5){
		                        				nombre="Armado Recepcion";
		                        			}
		                        			if(etapa==6){
		                        				nombre="Armado Asignado";
		                        			}
		                        			if(etapa==7){
		                        				nombre="Colocado Recepcion";
		                        			}
		                        			tabla +='<tr>'
		                        			tabla +='<th class="text-center" colspan="8"><b>'+nombre+'</b></th>'
		                        			tabla +='</tr>'
		                        		
		                        		}

		                       			tabla +='</tr>';
	                    		orden=object.orden;
	                    		r=object.remision;
	                    	}
	                    		                    	
	                    });
		            } catch (e) {
		                alert("Error al cargar: " + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion:\n\n" + otroobj);
		        }


		    });
		    $("#tablaInformacion tbody").append(tabla);
		    $("#divDetalle").show("slide");
		    $("#divDetalleInventario").show("slide");
		});
		// function cantidadMaterial (id){
		// 	var value = $("#count"+id).val();
		// 	var original = parseFloat($("#txt"+id+"Original").val());
		// 	var total = (value)*(original);
		// 	$("#txt"+id).val(parseFloat(total).toFixed(4));
		// }
	    $(function () {
	    	// comboElemento();
	    	// comboApoyo();
	    	// comboMaterial();
	    	// comboDespiece();
	    	comboProveedor();
	    	
	    });
	</script>
{% endblock %}