{% extends 'control_acero/layout.html' %}
{% block title_module %}
	INVENTARIO FÍSICO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaInicial">Fecha Inicial:</label>
				<input type="text" class="calendario form-control" name="fechaInicial" id="fechaInicial"></input>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaFinal">Fecha Final:</label>
				<input type="text" class="calendario form-control" name="fechaFinal" id="fechaFinal"></input>
			</div>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-success" name="buscarInventarios" id="buscarInventarios">Seleccionar</button>
		</div>
	</div>
	<script type="text/javascript">
		comboFrente = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frente/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.idFrente + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Frente:\n\n" + otroobj);
		        }
		    });
		};
		$( "#buscarInventarios" ).click(function() {
			var fechaInicial = $("#fechaInicial").val();
			var fechaFinal = $("#fechaFinal").val();
			if(fechaInicial == 0){
				mensajeWarning("<b>Debes elegir una Fecha Inicial.</b>");
				return false;
			}
			if(fechaFinal == 0){
				mensajeWarning("<b>Debes elegir una Fecha Final.</b>");
				return false;
			}
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/inventario/fisico/busqueda/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		fechaInicial: fechaInicial,
		        		fechaFinal: fechaFinal
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    /*$.each(datos.data, function (count, object) {
	                        tabla += '<tr>'
	                        			+'<td>'+object.nombreFrente+'</td>'
	                        			+'<td>'+object.identificacion+'</td>'
	                        			+'<td>'+object.ubicacion+'</td>'
	                        		+'</tr>';
	                    });*/
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		function cantidadMaterial (id){
			var value = $("#count"+id).val();
			var original = parseFloat($("#txt"+id+"Original").val());
			var total = (value)*(original);
			$("#txt"+id).val(parseFloat(total).toFixed(4));
		}
	    $(function () {
	    });
	</script>
{% endblock %}