{% extends 'control_acero/layout.html' %}
{% block title_module %}
	LEVANTAMIENTO DE INVENTARIO FISICO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		{% if request.session.nombreTaller > 0 %}
			<div class="form-group col-md-12 text-center alert-info">
				<h3> INVENTARIO FISICO DEL {{ request.session.nombreTaller }}</h3>
			</div>
		{% else %}
			<div class="form-group col-md-12 text-center alert-info">
				<h3> No cuentas con Taller Asignado</h3>
			</div>
		{% endif %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">Folio</th>
					<th class="text-center">Fecha de Registro</th>
					<th class="text-center">Estatus del Inventario</th>
					<th class="text-center">Ver</th>
					<th class="text-center">Cerrar Inventario</th>
				</tr>
			</thead>
			<tbody>
			{% if inventario %}
				{% for inv in inventario %}
					<tr>
				    	<td>{{inv.id}}</td>
				    	<td>{{inv.folio}}</td>
				    	<td>{{inv.fechaRegistro}}</td>
				    	{% if inv.estatusRegistro == 0 %}
				    		<td class="success">Abierto</td>
				    	{% else %}
				    		<td class="danger">Cerrado</td>
				    	{% endif %}
				    	<td>
				    		<a href="/control_acero/inventario/fisico/{{inv.id}}/edit/"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
				    	</td>
				    	{% if perms.control_acero.closing_inventarios %}
					    	{% if inv.estatusRegistro == 0 %}
						    	<td>
						    		<a href="/control_acero/inventario/fisico/{{inv.id}}/cierre/"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a>
						    	</td>
					    	{% else %}
						    	<td>
						    		<span aria-hidden="true">El inventario ha sido cerrado</span>
						    	</td>
					    	{% endif %}
				    	{% else %}
				    		<td>
					    		<span aria-hidden="true">No tiene permisos de cierre de inventario</span>
					    	</td>
					    {% endif %}
				   	</tr>
				{% endfor %}
			{% else %}
				<tr>
					<th class="text-center" colspan="6"><h2>AUN NO SE HA REALIZADO LEVANTAMIENTO FISICO </h2></th>
				</tr>
			{% endif %}
			</tbody>
		</table>

		<div class="col-md-12">
	        <ul class="pagination">
		        {% if inventario.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ inventario.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in inventario.paginator.page_range %}
	            	<li class="{% if inventario.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if inventario.has_next %}
		        	<li>
		            	<a href="?page={{ inventario.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ inventario.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	   	
	</div>
	<div class="col-md-12">
		<form action="{% url 'inventarioFisicoView' %}">
			<button type="submit" class="btn btn-primary">Generar Inventario Fisico</button>
		</form>
	</div>
{% endblock %}