{% extends 'control_acero/layout.html' %}
{% block title_module %}
	LEVANTAMIENTO DE INVENTARIO FISICO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		
		{% if request.session.nombreTaller > 0 %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> INVENTARIO DEL {{ request.session.nombreTaller }}</h3>
			</div>
		{% else %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> No cuentas con Taller Asignado</h3>
			</div>
		{% endif %}
		<div class="form-group col-md-6 text-center alert-info">
				<h3> Folio: <span id="folio"></span></h3>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaRemisiones" class="table table-hover">
				<thead>
					<tr class="info">
						<th class="text-center" colspan="2">Entradas</th>
						<th class="text-center" colspan="2">Salidas</th>
						<th class="text-center">Existencias</th>
					</tr>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Toneladas</th>
						<th class="text-center">No</th>
						<th class="text-center">Toneladas</th>
						<th class="text-center">Total Existencias</th>
					</tr>
				</thead>
				<tbody>
					{% for a in totales %}
					<tr>
						<td>
							{{ a.noEntradas }}
						</td>
						<td>
							{% widthratio a.totalEntradas 1000 1 %}
						</td>
						<td>
							{{ a.noSalidas }}
						</td>
						<td>
							{% widthratio a.totalSalidas 1000 1 %}
						</td>
						<td>
							{% widthratio a.totalExistencias 1000 1 %}
						</td>
					{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-md-12 table-responsive">
			<table id="tablaFolio" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="6">Existencias del Sistema vs Físicas</th>
					</tr>
					<tr>
						<th class="text-center">Material</th>
						<th class="text-center">Existencias del Sistema</th>
						<th class="text-center">Existencias Física</th>
						<th class="text-center">Referencia</th>
						<th class="text-center">Diferencia</th>

					</tr>
					
				</thead>
				
				<tbody>
						
							
				</tbody>
				
			</table>
			
		</div>
		
		<div style="display:none;" id="divRemisionRealEdit" class="col-md-12 table-responsive">
			<table id="tablaRemisionRealEdit" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="6">Edición del Inventario</th>
					</tr>
					<tr>
						<th class="text-center">Material</th>
						<th class="text-center">Existencias del Sistema</th>
						<th class="text-center">Existencias Física</th>
						<th class="text-center">Diferencia</th>
						<th class="text-center">Ajuste de Entrada</th>
						<th class="text-center">Ajuste de Salida</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-success" name="btnCerrar" id="btnCerrar">Cerrar Inventario</button>
		</div>
	</div>
	<script type="text/javascript">
		mostrarFolio = function(){
			var modulo = 5;
			$.post( "{% url 'foliosMostrar' %}",{
				modulo: modulo
			},
			function(data, status) {
		            try {
						$("#folio").html(data.folio);
						//$("#fechaRemision").html(data.date);
						
		            } catch (e) {
		                swal("Error!","Error al cargar el Folio:" + e,"error");
		            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición del Folio","error");
			});
		}

		mostrarDetalle = function(){
			
			$("#tablaFolio tbody").empty();
			var tabla = '';
			var tabla2 = '';
			var head = '';
			var i = 0;
			$.post( "{% url 'inventarioFisicoCierreDetalle' %}",{
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                	var folio = object.folio;
	             
		       
	                	$.each(data.detalle, function (cn, obj) {
	                		// console.log("data: ", object )
	                		// 	console.log("data: ", obj )
	                		
	                		if( object.id == obj.idInventario){
	                			i=parseInt(obj.pesoFisico)-parseInt(obj.pesoExistencia)
	                			
	                			tabla += '<tr>';
	                					tabla += '<td>'+obj.material+'</td>';
	                					tabla += '<td class="milesLimpio">'+Math.floor(obj.pesoExistencia)+'</td>';
	                					tabla += '<td class="milesLimpio">'+Math.floor(obj.pesoFisico)+'</td>';
	                					tabla += '<td>'+obj.referencia+'</td>';
	                					tabla += '<td>'+i+'</td>';
	                					tabla+='<td style="display:none;"><input type="text" class="form-control dataAsignacion" data-folio="'+object.folio+'" data-id="'+object.id+'" data-idmaterial="'+obj.idMaterial+'" data-material="'+obj.material+'" data-sistema="'+obj.pesoExistencia+'" data-fisico="'+obj.pesoFisico+'" data-diferencia="'+i+'" data-count="'+count+'" value="'+object.folio+'" /></td>';
	                			tabla += '</tr>'
	                			
	                		}
	              
	                   	});
	                	
						tabla +='<tr><th class="text-center" colspan="6"><button type="button" class="btn btn-info" name="btnAceptar" id="btnAceptar" onClick="agregaDetalle('+count+');">'+object.folio+'</button></th>';	
						tabla +='</tr>';
						$("#tablaFolio tbody").append(tabla);
						tabla = '';
	               
	                 });
	            } catch (e) {
	                swal("Error!","Error al cargar el Material Recepcionado:" + e,"error");
	            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición del Material Recepcionado","error");
			});
			//console.log(tabla)
			//$("#tablaFolio tbody").append(tabla);
			
		}

		agregaDetalle = function(posicion){
			//console.log(posicion);
			$("#tablaRemisionRealEdit tbody").empty();
			var tabla='';
			$("input.dataAsignacion[type=text]").each(function(index, element) {
				
				var id = $(this).data("id");
				var count = $(this).data("count");
				var folio = $(this).data("folio");
				var material = $(this).data("material");
				var pesoSistema = $(this).data("sistema");
				var pesoFisico = $(this).data("fisico");
				var folio = $(this).data("folio");
				var idMat = $(this).data("idmaterial");
				var diferencia = $(this).data("diferencia");
				
				if(count==posicion){
					tabla+='<tr class="trrow" id="row_'+idMat+'" data-material="'+idMat+'">'
						+'<td class="text-center" >'+material+'</td>'
						+'<td class="text-center" >'+Math.floor(pesoSistema)+'</td>'
						+'<td class="text-center" >'+Math.floor(pesoFisico)+'</td>'
						+'<td class="text-center" >'+Math.floor(diferencia)+'</td>'
						+'<td class="text-center" style="display:none;">'+pesoSistema+'</td>'
						+'<td class="text-center" style="display:none;">'+idMat+'</td>'
						+'<td class="text-center" style="display:none;">'+id+'</td>'
						+'<td class="text-center" style="display:none;">'+folio+'</td>'
						// +'<td>'++'</td>'
						// +'<td>'++'</td>'
						+'<td>'
						+'<div id="col-md-6">'
						+'<span class="glyphicon glyphicon-cog" aria-hidden="true" name="spanS_'+idMat+'" id="spanS_'+idMat+'" onClick="ajusteSistema('+idMat+');"></span>'
                        +'<input style="display: none;" type="number" class="form-control cantidadEntrada" name="inputS_'+idMat+'" id="inputS_'+idMat+'" placeholder="Ingresa Cantidad" onKeyup="calculaSistema('+idMat+');"></input>'
                        +'<textarea style="display: none;" rows="4" cols="20" class="form-control observacionEntrada" name="textS_'+idMat+'" id="textS_'+idMat+'" placeholder="Ingresa Observación"></textarea>'
						+'</div>'
						+'</td>'
						+'<td>'
						+'<div id="col-md-6">'
									+'<span class="glyphicon glyphicon-cog" aria-hidden="true" name="spanF_'+idMat+'" id="spanF_'+idMat+'" onClick="ajusteFisico('+idMat+');"></span>'
									+'<input style="display: none;" type="number" class="form-control cantidadSalida" name="inputF_'+idMat+'" id="inputF_'+idMat+'" placeholder="Ingresa Cantidad" onKeyup="calculaFisico('+idMat+');"></input>'
									+'<textarea style="display: none;" rows="4" cols="20" class="form-control observacionSalida" name="textF_'+idMat+'" id="textF_'+idMat+'" placeholder="Ingresa Observación"></textarea>'
								+'</div>'
							+'</td>'
						+'</tr>';
				}
				

			}); 
			$("#tablaRemisionRealEdit tbody").append(tabla);
			$("#divRemisionRealEdit").show("slide");
		}

		ajusteSistema = function(material){
			$("#spanS_"+material).hide("slow");
			$("#inputS_"+material).show("explode");
			$("#textS_"+material).show("explode");
		}
		ajusteFisico = function(material){
			$("#spanF_"+material).hide("slow");
			$("#inputF_"+material).show("explode");
			$("#textF_"+material).show("explode");
		}
		calculaSistema = function(material){
			//console.log("sistema");
			var ajuste = $("#inputS_"+material).val();
			var existencia = limpiaValor($("#row_"+material).find('td:eq(4)').text());
			var fisico = limpiaValor($("#row_"+material).find('td:eq(2)').text());
			var diferencia = $("#row_"+material).find('td:eq(3)').text();
			var sum = parseInt(existencia) + parseInt(ajuste);
			//console.log(ajuste, " ajuste ", existencia, "existencia", sum);
			var operacion = parseInt(fisico) - parseInt(sum);
			//console.log(sum, operacion);
			$("#row_"+material).find('td:eq(1)').text(sum);
			$("#row_"+material).find('td:eq(3)').text(operacion);

		}
		calculaFisico = function(material){
			var ajuste = $("#inputF_"+material).val();
			var existencia = limpiaValor($("#row_"+material).find('td:eq(4)').text());
			var fisico = limpiaValor($("#row_"+material).find('td:eq(2)').text());
			var diferencia = $("#row_"+material).find('td:eq(3)').text();
			var sum = parseInt(existencia) - parseInt(ajuste);
			//console.log(ajuste, " ajuste ", existencia, "existencia", sum);
			var operacion = parseInt(sum) - parseInt(fisico);
			//console.log(sum, operacion);
			$("#row_"+material).find('td:eq(1)').text(sum);
			$("#row_"+material).find('td:eq(3)').text(operacion);
		}
		$( "#btnCerrar" ).click(function() {
			var htmlcontent = '<div class="col-md-12 table-responsive"><table class="table table-hover"><tbody>';
			swal({
				  title: "¿Está seguro que los ajustes realizados en este inventario son correctos?",
				  text: "No se podrá modificar el registro posteriormente",
				  type: "warning",
				  showCancelButton: true,
				  closeOnConfirm: true,
				  showLoaderOnConfirm: true
				},
				function(){
					var array = [];
					
					$(".trrow").each(function(index, element) {
						var nombre = limpiaValor($(this).find('td:eq(0)').text());
						var material = limpiaValor($(this).find('td:eq(5)').text());
						var existencia = limpiaValor($(this).find('td:eq(1)').text());
						var fisico = limpiaValor($(this).find('td:eq(2)').text());
						var diferencia = limpiaValor($(this).find('td:eq(3)').text());
						var idfolio = limpiaValor($(this).find('td:eq(6)').text());
						var folio = limpiaValor($(this).find('td:eq(7)').text());
						var cantidadEntrada = $("#inputS_"+material).val();
						var observacionEntrada = $("#textS_"+material).val();
						var cantidadSalida = $("#inputF_"+material).val();
						var observacionSalida = $("#textF_"+material).val();
						array.push({"id": idfolio,"existencia": existencia,"fisico": fisico,"diferencia": diferencia, "folio":folio,"cantidadEntrada": cantidadEntrada,"observacionEntrada": observacionEntrada,"cantidadSalida": cantidadSalida,"observacionSalida": observacionSalida,"material": material});
						htmlcontent+='<tr><td>'+nombre+'</td><td class="milesLimpio">'+existencia+'</td></tr>'
					});
					
					var json = JSON.stringify(array);

					console.log(json);

					$.post( "{% url 'inventarioFisicoCierreSave' %}",{
						json: json
					})
					.done(function(data, status) {
			            setTimeout(function () {
			            	htmlcontent+='</tbody></table></div>';
					    	swal({
			            	title: "Se creo el folio de ajuste: "+data.folio+".  Los saldos iniciales para el siguiente periodo son:",
			            	text : htmlcontent,
			            	html :true
			            		});
							
						}, 2000);
			            $("#btnCerrar").hide();
			            
			        })
			       	.error(function(data,status){
			            setTimeout(function () {
					    	swal("Error!", "Error en la petición al Guardar el Cierre de Inventario.", "error");
						}, 1000);
					})
					
				});

		});
		 $(function () {
	    	mostrarFolio();
	    	mostrarDetalle();
	    });
	  
	</script>
{% endblock %}