{% extends 'control_acero/layout.html' %}
{% block title_module %}
	LEVANTAMIENTO DE INVENTARIO FISICO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
		
			<div class="form-group col-md-12">
						<label  class="control-label" for="cmbTipoInventario'">Elige tipo de Inventario a Realizar:</label>
						<select name="cmbTipoInventario" id="cmbTipoInventario" class="cmbTipoInventario form-control"><option value="0">Selecciona un Tipo de Inventario</option>
						<option value="1">Varilla Corrugada</option>
						<option value="2">Pieza Habilitada</option>
						</select>
			</div> 
			<div style="display:none" id="busquedaElemento">
				<div class="form-group col-md-12">
					<label  class="control-label" for="cmbElemento">Elegir Elemento al que Pertenece:</label>
					<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
					</select>
				</div>
			</div>
			
			<div style="display:none;" id="divVarillasCheck" class="col-md-12">
				
			</div>
			<div style="display:none;" id="divCantidades" class="col-md-12">
			</div>
			<div style="display:none;" id="divCantidadesBotones" class="col-md-12">
				<button type="button" class="btn btn-info" name="btnAgregaVarilla" id="btnAgregaVarilla">Agregar</button>
			</div>
			
		</div>
		

		<div style="display: none" id="material" class="col-md-12 table-responsive">
			<table id="tablaMaterial" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Varilla</th>
						<th class="text-center">Longitud mts</th>
						<th class="text-center">Cantidad de Piezas Fisicas</th>
						<th class="text-center">Cantidad por Atado</th>
						<th class="text-center">Corregir</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div style="display: none" id="elemento" class="col-md-12 table-responsive">
			<table id="tablaElemento" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Varilla</th>
						<th class="text-center">Nomenclatura</th>
						<th class="text-center">Longitud</th>
						<th class="text-center">Cantidad de Piezas</th>
						<th class="text-center">Corregir</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>

		

		<div style="display: none" id="asignar" class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-success">Guardar</button>
		</div>
	</div>

	<script type="text/javascript">

		$( "#cmbTipoInventario" ).change(function() {
			var value = this.value;
			comboInventario(value);
		});
		
		comboInventario = function (value) {
			var val = value;
			//console.log(val);

			$("#divVarillasCheck").empty();
			$("#divCantidades").empty();
			
			var tabla = '';
			
			var html = '';
			var html2 = '';
			var checks = '';
			var conversionInicial = 0;
			$.post( "{% url 'elementoMaterial' %}",{
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                	conversionInicial = (object.conversion)*(object.materialLongitud);
	                	
	                	checks += '<div id="tablaVarillasCheck" class="col-md-3"><input onclick="muestraVarillas('+object.idMaterial+');" name="chk_'+object.idMaterial+'" id="chk_'+object.idMaterial+'" value="'+object.idMaterial+'" type="checkbox"/> '+object.nombreMaterial+'</div>';

	                	html +=	'<div style="display:none;" id="divVarilla_'+object.idMaterial+'" class="form-group col-md-6">'
	                				+'<br />'
									+ '<label class="control-label" for="txt'+object.idMaterial+'">'+object.nombreMaterial+'</label>'
									+'<br />'
									+ '<label class="control-label" for="txt'+object.idMaterial+'piezas">Cantidad de Piezas Sueltas</label>'
									+ '<div class="input-group">'
										+ '<input type="number" class="form-control"  name="txt'+object.idMaterial+'piezas" id="txt'+object.idMaterial+'piezas" value=""></input>'
										+ '<div class="input-group-addon">Pieza(s)</div>'
									+ '</div>'
																	
									+ '<label class="control-label" for="txt'+object.idMaterial+'Longitud">Longitud</label>'
									+ '<div class="input-group">'
										+ '<input type="number" min="1" class="form-control" name="txt'+object.idMaterial+'Longitud" id="txt'+object.idMaterial+'Longitud" value=""></input>'
										+ '<div class="input-group-addon">Mts</div>'
									+ '</div>'
									+ '<label class="control-label" for="txt'+object.idMaterial+'Atado">Núm. de Atados</label>'
									+ '<div class="input-group">'
										+ '<input  class="form-control cantidadTotal" attrMaterial="'+object.nombreMaterial+'" attrIdMaterial="'+object.idMaterial+'" attrTipo="1"  name="txt'+object.idMaterial+'Atado" id="txt'+object.idMaterial+'Atado" type="text" value="" />'
										+ '<div class="input-group-addon"></div>'
									+ '</div>'
									
									+ '<hr style="width: 100%; color: green; height: 1px; background-color:green;" />'
								+ '</div>';

							html2 +='<div style="display:none;" id="divVarilla_'+object.idMaterial+'" class="form-group col-md-6">'
									+'<br />'
									+ '<label class="control-label" for="txt'+object.idMaterial+'">'+object.nombreMaterial+'</label>'
									+'<br />'
									+ '<label class="control-label" for="txt'+object.idMaterial+'nom">Nomenclatura</label>'
									+ '<div class="input-group">'
										+ '<input type="text" class="form-control"  name="txt'+object.idMaterial+'nom" id="txt'+object.idMaterial+'nom" value=""></input>'
										+ '<div class="input-group-addon"> </div>'
									+ '</div>'
																	
									+ '<label class="control-label" for="txt'+object.idMaterial+'Longitud">Longitud</label>'
									+ '<div class="input-group">'
										+ '<input type="number" min="1" class="form-control" name="txt'+object.idMaterial+'Longitud" id="txt'+object.idMaterial+'Longitud" value=""></input>'
										+ '<div class="input-group-addon">Mts</div>'
									+ '</div>'
									+ '<label class="control-label" for="txt'+object.idMaterial+'piezas">Cantidad de Piezas por Varilla</label>'
									+ '<div class="input-group">'
										+ '<input  class="form-control cantidadTotal" attrMaterial="'+object.nombreMaterial+'" attrIdMaterial="'+object.idMaterial+'" attrTipo="2"  name="txt'+object.idMaterial+'piezas" id="txt'+object.idMaterial+'piezas" type="text" value="" />'
										+ '<div class="input-group-addon">Pieza(s)</div>'
									+ '</div>'
									
									
									+ '<hr style="width: 100%; color: green; height: 1px; background-color:green;" />'
								+ '</div>';
								
	                });
	            } catch (e) {
	                mensajeWarning("Error al cargar Varillas :" + e);
	            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición carga Varillas" );
			});
			$("#divVarillasCheck").show("slide");
		    $("#divVarillasCheck").append(checks);
		    

			if(val == 1){
				//$("#tablaElemento").hide('slide');
				$("#divCantidades").append(html);
				$("#busquedaElemento").hide('slide');
				$("#elemento").hide('slide');
				$("#material").hide('slide');

			}
			if(val == 2){
				$("#busquedaElemento").show('slide');
				$("#divCantidades").append(html2);
				$("#elemento").hide('slide');
				$("#material").hide('slide');
			}
			$("#divCantidades").show("slide");
			$("#divCantidadesBotones").show("slide");
			
		};

		$( "#btnGuardar" ).click(function() {
			
		   	bootbox.confirm("¿Estás seguro que la información capturada es la correcta, debido a que no se podrán realizar cambios posteriores?.", function(result) {
				if(result){
					
		        	var datos = [];
		        	
					$(":input[class=dataVarilla]").each(function(index, element) {

						datos.push({"data": this.value});
						
					});
					if(datos.length==0){
						mensajeWarning("Debes asignar peso");
						return false;
					}
					else{
					var json = JSON.stringify(datos);

					}
					$.post( "{% url 'inventarioSave' %}",{
					        		
					        		json: json
								},
					function(data, status) {
				            try {
				            	mensajeSuccess("<b>"+data.mensaje+"</b>");
				            	$("#asignar").hide("slide");
								$(".eliminar").hide();
				            	
				            } catch (e) {
				                alert("Error al cargar al Guardar el Material al Inventario:" + e);
				            }
					})
					.fail(function() {
						mensajeWarning( "Error en la petición al Guardar el Material al Inventario" );
					});	

				}
				
			});
			
		});

		comboElemento = function () {
			
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/elemento/combo/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar el elemento:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo:\n\n" + otroobj);
		        }
		    });
		};

		

		comboMaterial = function () {
			
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/material/combo/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	
		                $('.cmbMaterial').empty();
		                $('.cmbMaterial').append('<option value="0">Selecciona un Material</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbMaterial').append('<option value="' + object.idMaterial + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar el Material:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo:\n\n" + otroobj);
		        }
		    });
		};
		
	    $( "#btnAgregaVarilla" ).click(function() {
			
			$("#tablaElemento tbody").empty();
			$("#tablaMaterial tbody").empty();
			var elemento = $("#cmbElemento").val();
			//console.log("el:",elemento); 
			var tabla = '';
			var idMaterial = 0;
			var piezas = '';
			var nom = '';
			var atado = '';
			var longitud ='';
			var material = '';
			var tipo='';
			var colors = ["info"];
			var randomColor = Math.floor(Math.random()*colors.length);
			var color = colors[randomColor];
			

			$("input.cantidadTotal[type=text]").each(function(index, element) {
				
				idMaterial = $(this).attr("attrIdMaterial");		
				longitud = $("#txt"+idMaterial+"Longitud").val();
				piezas = $("#txt"+idMaterial+"piezas").val();
				tipo = $(this).attr("attrTipo");
				material = $(this).attr("attrMaterial");
				
				atado = $("#txt"+idMaterial+"Atado").val();

				if(tipo == 1 && longitud != 0 && piezas !=0){
					elemento = null;
					nom=null;
					tabla += '<tr  class="'+color+'">'
								+'<td class="text-center">'+material+'</td>'
								+'<td class="text-center">'+longitud+'</td>'
								+'<td class="text-center">'+piezas+'</td>'
								+'<td class="text-center">'+atado+'</td>'
								+'<td class="text-center eliminar"><span style="cursor: pointer;" class="glyphicon glyphicon-remove" onClick="eliminar(this);" data-eliminar="0"></span></td>'
								+'<td style="display:none" class="text-center">'
									+'<input type="hidden" class="dataVarilla" name="txtVarilla" id="txtVarilla" value="'+idMaterial+'|'+longitud+'|'+piezas+'|'+atado+'|'+nom+'|'+elemento+'" />'
								+'</td>'
							+'</tr>';
					//$("#count"+idMaterial).val(0);
					$("#txt"+idMaterial).val(0);
					$("#txt"+idMaterial+"Longitud").val('');
					$("#txt"+idMaterial+"piezas").val('');
					$("#txt"+idMaterial+"Atado").val('');
				
				}
				if(tipo == 2 && longitud != 0 && piezas !=0){
					nom = $("#txt"+idMaterial+"nom").val();
					atado=null;
					tabla += '<tr  class="'+color+'">'
								+'<td class="text-center">'+material+'</td>'
								+'<td class="text-center">'+nom+'</td>'
								+'<td class="text-center">'+longitud+'</td>'
								+'<td class="text-center">'+piezas+'</td>'
								+'<td class="text-center eliminar"><span style="cursor: pointer;" class="glyphicon glyphicon-remove" onClick="eliminar(this);" data-eliminar="0"></span></td>'
								+'<td style="display:none" class="text-center">'
									+'<input type="hidden" class="dataVarilla" name="txtVarilla" id="txtVarilla" value="'+idMaterial+'|'+longitud+'|'+piezas+'|'+atado+'|'+nom+'|'+elemento+'" />'
								+'</td>'
							+'</tr>';
					//$("#count"+idMaterial).val(0);
					$("#txt"+idMaterial).val(0);
					$("#txt"+idMaterial+"Longitud").val('');
					$("#txt"+idMaterial+"piezas").val('');
					$("#txt"+idMaterial+"nom").val('');
				} 
 			});
 			if(tabla.length==0){
				mensajeWarning("Campos vacios");
				return false;
			}
			else{
				if(tipo==1){
					$("#tablaMaterial tbody").append(tabla);
					$("#material").show("slide");
				}
				if(tipo==2){
					
					$("#tablaElemento tbody").append(tabla);
					$("#elemento").show("slide");
				}
			}

			$("#asignar").show("slide");
			
		});
		
	  	function muestraVarillas(valor){
			var checkbox = $("#chk_"+valor).val();
			if ($("#chk_"+valor).is(':checked')) {
				$("#divVarilla_"+valor).show("slide");
				$("#divCantidadesBotones").show("slide");

			} else {
				$("#divVarilla_"+valor).hide("slide");
			}
		}
		function eliminar (a){
			$(a).closest("tr").remove();
		}
	    $(function () {
	    	comboElemento();	
	    });

	</script>
{% endblock %}