{% extends 'control_acero/layout.html' %}
{% block title_module %}
	LEVANTAMIENTO DE INVENTARIO FISICO
{% endblock %}
{% block content %}
	{% if inventarioFisicoAnterior.count <= 1 %}
	<div class="col-xs-12">
		
		{% if request.session.nombreTaller > 0 %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> INVENTARIO FISICO {{ request.session.nombreTaller }}</h3>
			</div>
		{% else %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> No cuentas con Taller Asignado</h3>
			</div>
		{% endif %}
		<div class="form-group col-md-6 text-center alert-info">
			<h3> Folio: <span id="folio"></span></h3>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaRemisiones" class="table table-hover">
				<thead>
					<tr class="info">
						<th class="text-center" colspan="2">Entradas</th>
						<th class="text-center" colspan="2">Salidas</th>
						<th class="text-center">Existencias</th>
					</tr>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Toneladas</th>
						<th class="text-center">No</th>
						<th class="text-center">Toneladas</th>
						<th class="text-center">Total Existencias</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<button class="btn btn-success" id="btn1">Comenzar Inventario Físico</button>
		</div>
		<div style="display:none;" id="divVarillasCheck" class="col-md-12">
		</div>
		<div id="divCantidades" class="col-md-12">
		</div>
		<div style="display:none;" id="divCantidadesBotones" class="col-md-12">
			<button type="button" class="btn btn-info" name="btnAgregaVarilla" id="btnAgregaVarilla">Continuar</button>
			<!-- <button type="button" class="btn btn-success" name="btnExcel" id="btnExcel">Cargar Excel</button> -->
		</div>
		<div style="display:none;" id="divDetalle" class="col-md-12 table-responsive">
			<table id="tablaApoyoElemento" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center col-md-2">Material</th>
						<th class="text-center col-md-2">Piezas</th>
						<th class="text-center col-md-3">Peso Total Kg</th>
						<th class="text-center col-md-1">Longitud Mts</th>
						<th class="text-center col-md-3">Tipo de Varilla</th>
						<th class="text-center col-md-3">Referencia</th>
						<th class="text-center eliminar col-md-1">¿Corregir?</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
				<!--<tfoot>
					<tr>
						<th class="col-md-2">Peso Total</th>
						<th class="col-md-4"><div id="divPesoTotal"></div><input type="hidden" name="txtPesoTotal" id="txtPesoTotal" /></th>
						<th class="col-md-4"><div id="divPesoTonelada"></div></th>
					</tr>
				</tfoot>-->
			</table>
		</div>
		<div class="col-md-12">
			<button type="button" style="display:none;" class="btn btn-info" name="btn2" id="btn2">¿Terminaste?</button>
			<!-- <button type="button" class="btn btn-success" name="btnExcel" id="btnExcel">Cargar Excel</button> -->
		</div>
		<div id="divRemisionReal" style="display: ;" class="col-md-12 table-responsive">
			<table id="tablaRemisionReal" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="4">Existencias del Sistema vs Físicas</th>
					</tr>
					<tr>
						<th class="text-center col-md-3">Material</th>
						<th class="text-center col-md-2">Existencias del Sistema</th>
						<th class="text-center col-md-2">Existencias Física</th>
						<th class="text-center col-md-2">Diferencia</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript">
		$( "#btn1" ).click(function() {
			$("#divVarillasCheck").empty();
			$("#divCantidades").empty();
			$("#tablaRemisionReal tbody").empty();
			var tabla = '';
			var html = '';
			var checks = '';
			var conversionInicial = 0;
			$.post( "{% url 'elementoMaterial' %}",{
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                	conversionInicial = (object.conversion)*(object.materialLongitud);
	                	
	                	checks += '<div id="tablaVarillasCheck" class="col-md-3"><input onclick="muestraVarillas('+object.idMaterial+');" name="chk_'+object.idMaterial+'" id="chk_'+object.idMaterial+'" value="'+object.idMaterial+'" type="checkbox"> '+object.nombreMaterial+'</div>';
	                	html +=	'<div style="display:none;" id="divVarilla_'+object.idMaterial+'" class="form-group col-md-6">'
									+ '<label class="control-label" for="txt'+object.idMaterial+'">'+object.nombreMaterial+'</label>'
									+ '<div class="input-group">'
										+ '<input class="form-control milesLimpio" name="count'+object.idMaterial+'" id="count'+object.idMaterial+'" type="text" value="0" title="Elige una Cantidad" onkeyup="cantidadMaterial('+object.idMaterial+');" />'
										+ '<div class="input-group-addon">Piezas</div>'
									+ '</div>'
									+ '<label class="control-label" for="txt'+object.idMaterial+'Volumetrico">Peso Volumetrico</label>'
									+ '<div class="input-group">'
										+ '<input type="text" readonly disabled class="form-control" name="txt'+object.idMaterial+'Volumetrico" id="txt'+object.idMaterial+'Volumetrico" value="'+object.conversion+'"></input>'
										+ '<div class="input-group-addon">Kg/ml</div>'
									+ '</div>'
									+ '<label class="control-label" for="txt'+object.idMaterial+'Longitud">Longitud</label>'
									+ '<div class="input-group">'
										+ '<input type="number" min="1" class="form-control" name="txt'+object.idMaterial+'Longitud" id="txt'+object.idMaterial+'Longitud" value="'+object.materialLongitud+'" onkeyup="cantidadMaterial('+object.idMaterial+');"></input>'
										+ '<div class="input-group-addon">Mts</div>'
									+ '</div>'
									+ '<input type="hidden" disabled class="form-control" name="txt'+object.idMaterial+'LongitudOriginal" id="txt'+object.idMaterial+'Longitud" value="'+object.materialLongitud+'"></input>'
									+ '<label class="control-label" for="txt'+object.idMaterial+'">Peso</label>'
									+ '<div class="input-group">'
										+ '<input type="text" disabled class="form-control cantidadTotal" attrMaterial="'+object.nombreMaterial+'" attrIdMaterial="'+object.idMaterial+'" name="txt'+object.idMaterial+'" id="txt'+object.idMaterial+'" value="0"></input>'
										+ '<div class="input-group-addon">Kg</div>'
									+ '</div>'
									+ '<input type="hidden" disabled class="form-control" name="txt'+object.idMaterial+'Original" id="txt'+object.idMaterial+'Original" value="'+conversionInicial.toFixed(4)+'"></input>'
									+ '<input type="hidden" disabled class="form-control" name="txt'+object.idMaterial+'Conversion" id="txt'+object.idMaterial+'Conversion" value="'+object.conversion+'"></input>'
									+ '<label class="control-label" for="tipoVarilla">Tipo de Varilla</label>'
									+ '<div>'
										+'<select class="form-control" name="tipoVarilla_'+object.idMaterial+'" id="tipoVarilla_'+object.idMaterial+'">'
											+'<option value="1">Habilitada</option>'
											+'<option value="2">No Habilitada</option>'
										+'</select>'
									+ '</div>'
									+'<div>'
									+'<label class="control-label" for="observacionVarilla">Referencia</label>'
									 +'<textarea rows="4" cols="20" class="form-control observacionVarilla" name="observacionVarilla_'+object.idMaterial+'" id="observacionVarilla_'+object.idMaterial+'" placeholder="Ingresa Referencia"></textarea></div>'
									+ '<hr style="width: 100%; color: black; height: 1px; background-color:black;" />'
								+ '</div>';
	                });
	            } catch (e) {
	                swal("Error!","Error al cargar Varillas :" + e,"error");
	            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición carga Varillas","error" );
			});
			$("#divVarillasCheck").show("slide");
		    $("#divCantidades").append(html);
		    $("#divVarillasCheck").append(checks);
		    $("#divCantidades").show("slide");
		    $("#btn1").hide("slide");
		    remisiones();
		});
		var arrayRemisiones = [];
		var arrayRemisionesInventario = [];
		var arraySalidas = [];
		var arraySalidasInventario = [];
		remisiones = function () {
			$("#tablaRemisiones tbody").empty();
			var arrayFolioRemision = [];
			var foliosRemision = 0;
			var pesoRemision = 0;
			var arrayFolioSalida = [];
			var foliosSalida = 0;
			var pesoSalida = 0;
			var pesoInventario = 0;
			var tabla = '';
			var tablaRemisionReal = '';
			var valDefault = 0;
			var existenciaSistema = 0;
			var existenciaEntradas = 0;
			$.post( "{% url 'inventarioRemision' %}",{
						},
			function(data, status) {
				console.log(data)
	            try {
                    $.each(data.inventario, function (count, object) {
                    	console.log(object);
                    });
                    $.each(data.remisionesInventarioSum, function (count, object) {
                    	valDefault = Math.floor(object.peso);
                    	valDefault = -Math.abs(valDefault);
                    	//existenciaSistema = Math.floor(object.peso) + Math.floor(object.fisicoActual);
                    	existenciaSistema = Math.floor(object.peso);
                    	//console.log(object.peso, " juhdiuf ", object.fisicoActual);
                    	existenciaEntradas += Math.floor(object.peso);
                    	tablaRemisionReal += '<tr class="real row_'+object.materialId+'">';
                    		tablaRemisionReal += '<td style="display:none;">'+object.materialId+'</td>';
                    		tablaRemisionReal += '<td>'+object.material+'</td>';
                    		tablaRemisionReal += '<td class="milesLimpio">'+Math.floor(object.peso)+'</td>';
                    		tablaRemisionReal += '<td style="display:none;"><input type="text" name="txtPeso_'+object.materialId+'" id="txtPeso_'+object.materialId+'" value="'+existenciaSistema+'" /></td>';
                    		tablaRemisionReal += '<td class="default_'+object.materialId+'">0</td>';
                    		tablaRemisionReal += '<td class="default_'+object.materialId+'">'+-Math.abs(existenciaSistema);+'</td>';
                    	tablaRemisionReal += '</tr>';
                    });
                    $.each(data.remisiones, function (count, object) {
                    	arrayRemisiones.push(object.id);
                    	arrayFolioRemision.push(object.numFolio);
                    	pesoRemision += Math.floor(object.peso);
                    });
                    foliosRemision = jQuery.unique(arrayFolioRemision).length;
                    $.each(data.salidas, function (count, object) {
                    	arraySalidas.push(object.id);
                    	arrayFolioSalida.push(object.numFolio);
                    	pesoSalida += Math.floor(object.cantidadAsignada);
                    });
                    $.each(data.salidasInventario, function (count, object) {
                    	arraySalidasInventario.push(object.id);
                    });
                    $.each(data.remisionesInventario, function (count, object) {
                    	arrayRemisionesInventario.push(object.id);
                    	pesoInventario += Math.floor(object.peso);
                    });
                    foliosSalida = jQuery.unique(arrayFolioSalida).length;
                    var pesoRemisionDetalle = Math.floor(pesoSalida) + Math.floor(existenciaEntradas);
                    var pesoInventarioDetalle = Math.floor(existenciaEntradas);
                    tabla += '<tr>';
                    	tabla += '<td class="col-md-2">'+foliosRemision+'</td>';
                    	tabla += '<td class="col-md-2">'+(pesoRemisionDetalle/1000)+'</td>';
                    	tabla += '<td class="col-md-2">'+foliosSalida+'</td>';
                    	tabla += '<td class="col-md-2">'+(pesoSalida/1000)+'</td>';
                    	tabla += '<td class="col-md-4">'+(pesoInventarioDetalle/1000)+' Ton</td>';
                    	tabla += '<td style="display:none;"><input type="text" class="detallePeso" data-folioentrada="'+foliosRemision+'" data-pesoentrada="'+pesoRemision+'" data-foliosalida="'+foliosSalida+'" data-pesosalida="'+pesoSalida+'" data-totalexistencia="'+pesoInventario+'"></td>';
                    tabla += '</tr>';
                        
	            } catch (e) {
	                swal("Error!","Error al cargar al Guardar Recepción de Material de Fabricante:" + e,"error");
	            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición al Guardar Recepción de Material de Fabricante","error" );
			});
			$("#tablaRemisiones tbody").append(tabla);
			$("#tablaRemisionReal tbody").append(tablaRemisionReal);
		};
		$( "#btn2" ).click(function() {

	        	var datos = [];
	        	var materialDet = 0;
	        	var pesoDet = 0;
	        	var pesoSistema = 0;
	        	var resta = 0;
	        	var html = '';
	        	var fisico = 0;
	        	var pesoFisico = 0;
	        	swal({

				  title: "¿Está seguro que la información fisica por varilla son correctas?",
				  text: "No se podrá modificar el registro posteriormente",
				  type: "warning",
				  showCancelButton: true,
				  closeOnConfirm: true,
				  showLoaderOnConfirm: true
				},
				function(){
					var observacion = 0;
					var array =[];
					$(":input[class=dataVarilla]").each(function(index, element) {
						var material = $(this).data("material");
						var materialnombre = $(this).data("materialnombre");
						var peso = $(this).data("peso");
						var longitud = $(this).data("longitud");
						observacion = $(this).data("observacion");
						

						pesoSistema = $("#txtPeso_"+material).val();

						array.push({"id":parseInt(material),"observacion":observacion});

						if(materialDet != parseInt(material) && materialDet != 0){
							pesoDet = 0;
						}
						pesoDet += peso;
						materialDet = parseInt(material);
						resta = parseInt(pesoDet) - parseInt(pesoSistema);
						
						$(".fisico_"+material).remove();
						$(".default_"+material).remove();
						if( $(".row_"+material).length ){
							$(".rowtd_"+material).remove();
							$(".row_"+material).append('<td class="rowtd_'+material+' milesLimpio">'+pesoDet+'</td>');
							if(resta > 0){
								$(".row_"+material).append('<td class="rowtd_'+material+' success milesLimpio">'+parseInt(resta)+'</td>');
							}else{
								$(".row_"+material).append('<td class="rowtd_'+material+' danger">'+parseInt(resta)+'</td>');
							}
						}else{
							$(".non").remove();
							html += '<tr class="danger non row_faltante_'+material+'">';
								html += '<td style="display:none;">'+material+'</td>';
								html += '<td>'+materialnombre+'</td>';
								html += '<td>0</td>';
								html += '<td class="milesLimpio">'+pesoDet+'</td>';
								html += '<td class="milesLimpio">'+pesoDet+'</td>';
							html += '</tr>';
							$("#tablaRemisionReal tbody").append(html);
						}
					});
					guardaInventario(array);
					console.log(array);
				
			});
		});
		guardaInventario = function (observacion) {
			var obs=observacion;
			var materialId = 0;
			var existencias = 0;
			var existenciaFisica = 0;
			var diferencia = 0;
			var array = [];
			var folioEntrada = 0;
			var pesoEntrada = 0;
			var folioSalida = 0;
			var pesoSalida = 0;
			var totalexistencia = 0;

			$(":input[class=detallePeso]").each(function(index, element) {
				folioEntrada = $(this).data("folioentrada");
				pesoEntrada = $(this).data("pesoentrada");
				folioSalida = $(this).data("foliosalida");
				pesoSalida = $(this).data("pesosalida");
				totalexistencia = $(this).data("totalexistencia");
			});
			$('.real').each(function () {
				materialId = $(this).find('td:eq(0)').text();
				existencias = limpiaValor($(this).find('td:eq(2)').text());
				existenciaFisica = limpiaValor($(this).find('td:eq(4)').text());
				diferencia = limpiaValor($(this).find('td:eq(5)').text());
				array.push({"materialId": parseInt(materialId), "existencias": parseInt(existencias), "existenciaFisica": parseInt(existenciaFisica), "diferencia": parseInt(diferencia), "bandera": 0});
			});
			$('.non').each(function () {
				materialId = $(this).find('td:eq(0)').text();
				existencias = limpiaValor($(this).find('td:eq(2)').text());
				existenciaFisica = limpiaValor($(this).find('td:eq(3)').text());
				diferencia = limpiaValor($(this).find('td:eq(4)').text());
				array.push({"materialId": parseInt(materialId), "existencias": parseInt(existencias), "existenciaFisica": parseInt(existenciaFisica), "diferencia": parseInt(diferencia), "bandera": 1});
			});
			var json = JSON.stringify(array);
			var jsonObservaciones = JSON.stringify(obs);
			var jsonRemisiones = JSON.stringify(arrayRemisiones);
			var jsonRemisionesInventario = JSON.stringify(arrayRemisionesInventario);
			var jsonSalidas = JSON.stringify(arraySalidas);
			var jsonSalidasInventario = JSON.stringify(arraySalidasInventario);
			$.post( "{% url 'inventarioFisicoSave' %}",{
				folioEntrada: folioEntrada,
				pesoEntrada: pesoEntrada,
				folioSalida: folioSalida,
				pesoSalida: pesoSalida,
				totalexistencia: totalexistencia,
				json: json,
				jsonRemisiones: jsonRemisiones,
				jsonRemisionesInventario: jsonRemisionesInventario,
				jsonSalidas: jsonSalidas,
				jsonObservaciones: jsonObservaciones
			},
			function(data, status) {
	            try {
	            	setTimeout(function () {
					    swal("La información se guardo correctamente y se genero el Folio "+data.folio);
					}, 2000);
	            	
	            	$(".eliminar").remove();
	            } catch (e) {
	                swal("Error!","Error al cargar Guardar la información:" + e,"error");
	            }
			})
			.fail(function() {
				swal("Error!", "Error en la guardar Inventario","error" );
			});
			$("#divRemisionReal").show("slide");
			$("#btn1").hide("slide");
			$("#divVarillasCheck").hide("slide");
			$("#divCantidades").hide("slide");
			$("#btnAgregaVarilla").hide("slide");
			$("#btn2").hide("slide");
			backToTop();
		}
		$( "#btnAgregaVarilla" ).click(function() {
			$("#divPesoTotal").empty();
			$("#divPesoTonelada").empty();
			$("#txtPesoTotal").empty();
			var tabla = '';
			var idMaterial = 0;
			var pesoMaterial = 0;
			var material = '';
			var cantidadMaterial = 0;
			var cantidadMaterialReal = 0;
			var colors = ["info"];
			var randomColor = Math.floor(Math.random()*colors.length);
			var color = colors[randomColor];
			var apoyo = 1;
			var elemento = 1;
			var pesoTotal = 0;
			var pesoTotalReal = 0;
			var ton = 0;
			var flag = 0;
			var tonHtml = '';
			var pesoTd = 0;
			var tipoVarilla = 0;
			var tipoVarillaText = 0;
			$("input.cantidadTotal[type=text]").each(function(index, element) {
				idMaterial = $(this).attr("attrIdMaterial");
				cantidadMaterial = $("#count"+idMaterial).val();
				cantidadMaterialReal = $("#count"+idMaterial).val();
				cantidadMaterial = limpiaValor(cantidadMaterial);
				longitud = $("#txt"+idMaterial+"Longitud").val();
				tipoVarilla = $("#tipoVarilla_"+idMaterial).val();
				tipoVarillaText = $("#tipoVarilla_"+idMaterial+" option:selected").text();
				observacion = $("#observacionVarilla_"+idMaterial).val();
				pesoMaterial = this.value;
				pesoTotal += parseFloat(cantidadMaterial);
				pesoTotalReal = parseFloat(cantidadMaterial);
				material = $(this).attr("attrMaterial");
				if(cantidadMaterial != 0){
					tabla += '<tr  class="'+color+'">'
								+'<td class="text-center">'+material+'</td>'
								+'<td class="text-center">'+cantidadMaterialReal+'</td>'
								+'<td class="text-center milesLimpio">'+parseInt(pesoMaterial)+'</td>'
								+'<td style="display:none;" class="text-center pesoTotal">'+pesoTotalReal.toFixed(2)+'</td>'
								+'<td class="text-center">'+longitud+'</td>'
								+'<td class="text-center">'+tipoVarillaText+'</td>'
								+'<td class="text-center">'+observacion+'</td>'
								+'<td class="text-center eliminar"><span style="cursor: pointer;" class="glyphicon glyphicon-remove" onClick="eliminar(this);" data-eliminar="0"></span></td>'
								+'<td style="display:none" class="text-center">'
									+'<input type="hidden" class="dataVarilla" data-material="'+idMaterial+'" data-materialnombre="'+material+'" data-peso="'+parseInt(pesoMaterial)+'" data-longitud="'+longitud+'" data-observacion="'+observacion+'" name="txtVarilla" id="txtVarilla" value="'+apoyo+'|'+elemento+'|'+idMaterial+'|'+pesoMaterial+'|'+cantidadMaterial+'|'+longitud+'|'+observacion+'" />'
								+'</td>'
							+'</tr>';
					$("#count"+idMaterial).val(0);
					$("#txt"+idMaterial).val(0);
					pesoTotalReal = 0;

				} 
				
			});
			if(tabla.length==0){
				swal("Error!","Campos vacios","error");
				return false;
			}
			else{
				
				$("#tablaApoyoElemento").append(tabla);
				$('.pesoTotal').each(function(i, obj) {
					pesoTd += parseFloat($(this).text());
				});
				if(pesoTotal >= 1000){
					ton = pesoTd / 1000;
					tonHtml += ton.toFixed(2);
				}
				$("#divDetalle").show("slide");
				$("#divDetalleSolicita").show("slide");
			    $("#divDetalleCancelar").show("slide");
			    
				$("#divPesoTotal").append('<span class="milesLimpio">'+pesoTd+'</span>');
				$("#divPesoTotal").append('<span> Kg</span>');
				$("#divPesoTonelada").append('<span class="milesLimpio">'+Math.floor(tonHtml)+'</span>');
				$("#divPesoTonelada").append('<span> Ton</span>');
				$("#txtPesoTotal").val(pesoTd.toFixed(4));
				
			}
			$("#btn2").show("slide");
		});
		mostrarFolio = function(){
			var modulo = 4;
			$.post( "{% url 'foliosMostrar' %}",{
				modulo: modulo
			},
			function(data, status) {
		            try {
						$("#folio").html(data.folio);
						//$("#fechaRemision").html(data.date);
		            } catch (e) {
		                swal("Error!","Error al cargar el Folio:" + e,"error");
		            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición del Folio","error" );
			});
		}
		function cantidadMaterial (id){
			var value = $("#count"+id).val();
			value = parseFloat(limpiaValor(value));
			var original = parseFloat($("#txt"+id+"Original").val());
			var conversion = parseFloat($("#txt"+id+"Conversion").val());
			var longitud = parseFloat($("#txt"+id+"Longitud").val());
			var val = conversion * longitud;
			var total = value * val;
			$("#txt"+id).val(parseFloat(total).toFixed(4));
		}
		function calculaPeso(){
			$("#divPesoBruto").empty();
			$("#txtPesoBruto").val('');
			var tara = $("#txtTara").val();
			var total = $("#txtPesoTotal").val();
			var bruto = parseFloat(tara)+parseFloat(total);
			var brutoDecimal = bruto.toFixed(2);
			$("#divPesoBruto").append(brutoDecimal+" Kg");
			$("#txtPesoBruto").val(brutoDecimal);
		}
		function muestraVarillas(valor){
			var checkbox = $("#chk_"+valor).val();
			if ($("#chk_"+valor).is(':checked')) {
				$("#divVarilla_"+valor).show("slide");
				$("#divCantidadesBotones").show("slide");

			} else {
				$("#divVarilla_"+valor).hide("slide");
			}
		}
		function eliminar (a){
			$(a).closest("tr").remove();
		}
	    $(function () {
	    	mostrarFolio();
	    });

	</script>
	{% else %}
		<h1>Aun existe un Inventario Fisico Abierto, debes asegurarte de cerrarlo para poder continuar.</h1>
	{% endif %}
{% endblock %}