{% extends 'control_acero/layout.html' %}
{% block title_module %}
	LEVANTAMIENTO DE INVENTARIO FISICO
{% endblock %}
{% block content %}
	{% load humanize %}
	<div class="col-xs-12">
		
		{% if request.session.nombreTaller > 0 %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> INVENTARIO DEL {{ request.session.nombreTaller }}</h3>
			</div>
		{% else %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> No cuentas con Taller Asignado</h3>
			</div>
		{% endif %}
		<div class="form-group col-md-6 text-center alert-info">
			<h3> Folio: {{ inventario.folio }}</h3>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaRemisiones" class="table table-hover">
				<thead>
					<tr class="info">
						<th class="text-center" colspan="2">Entradas</th>
						<th class="text-center" colspan="2">Salidas</th>
						<th class="text-center">Existencias</th>
					</tr>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Toneladas</th>
						<th class="text-center">No</th>
						<th class="text-center">Toneladas</th>
						<th class="text-center">Total Existencias</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{ inventario.noEntradas }}
						</td>
						<td>
							{% widthratio inventario.totalEntradas 1000 1 %}
						</td>
						<td>
							{{ inventario.noSalidas }}
						</td>
						<td>
							{% widthratio inventario.totalSalidas 1000 1 %}
						</td>
						<td>
							{% widthratio inventario.totalExistencias 1000 1 %}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="divRemisionReal" class="col-md-12 table-responsive">
			<table id="tablaRemisionReal" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="4">Existencias del Sistema vs Físicas</th>
					</tr>
					<tr>
						<th class="text-center col-md-3">Material</th>
						<th class="text-center col-md-2">Existencias del Sistema</th>
						<th class="text-center col-md-2">Existencias Física</th>
						<th class="text-center col-md-2">Diferencia</th>
					</tr>
				</thead>
				<tbody>
					{% for detalle in detalles %}
						{% if detalle.tipoExistencia == 0 %}
						<tr>
							<td>{{ detalle.material__nombre }}</td>
							<td>{{ detalle.pesoExistencia|default_if_none:"0"|floatformat|intcomma }}</td>
							<td>{{ detalle.pesoFisico|default_if_none:"0"|floatformat|intcomma }}</td>
							{% if detalle.diferencia|length >= 0 %}
								<td class="success">{{ detalle.diferencia|default_if_none:"0"|floatformat|intcomma }}</td>
							{% endif %}
							{% if detalle.diferencia|length < 0 %}
								<td class="danger">{{ detalle.diferencia|default_if_none:"0"|floatformat|intcomma }}</td>
							{% endif %}
						</tr>
						{% else %}
						<tr class="danger">
							<td>{{ detalle.material__nombre }}</td>
							<td>{{ detalle.pesoExistencia|default_if_none:"0"|floatformat|intcomma }}</td>
							<td>{{ detalle.pesoFisico|default_if_none:"0"|floatformat|intcomma }}</td>
							<td>{{ detalle.diferencia|default_if_none:"0"|floatformat|intcomma }}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if cierres %}
		
		<div id="divRemisionRealCerrada" class="col-md-12 table-responsive">
			<table id="tablaRemisionRealCerrada" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="8">Detalle de Inventario Cerrado</th>
					</tr>
					<tr>
						<th class="text-center">Material</th>
						<th class="text-center">Existencias del Sistema</th>
						<th class="text-center">Existencias Física</th>
						<th class="text-center">Diferencia</th>
						<th class="text-center">Ajuste de Entrada</th>
						<th class="text-center">Observación de Entrada</th>
						<th class="text-center">Ajuste de Salida</th>
						<th class="text-center">Observación de Salida</th>
					</tr>
				</thead>
				<tbody>
					{% for cierre in cierres %}
						{% if cierre.tipoExistencia == 0 %}
						<tr>
							<td>
								{{ cierre.material_id }}
							</td>
							<td >
								{{ cierre.pesoExistencia|default_if_none:"0"|floatformat|intcomma }}
							</td>
							<td >
								{{ cierre.pesoFisico|default_if_none:"0"|floatformat|intcomma }}
							</td>
							{% if cierre.diferencia|length >= 0 %}
								<td class="success">
									{{ cierre.diferencia|default_if_none:"0"|floatformat }}
								</td>
							{% endif %}
							{% if cierre.diferencia|length < 0 %}
								<td class="danger">
									{{ cierre.diferencia|default_if_none:"0"|floatformat }}
								</td>
							{% endif %}
							<td>{{ cierre.cantidadEntrada|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.observacionEntrada }}</td>
							<td>{{ cierre.cantidadSalida|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.observacionSalida }}</td>
						</tr>
						{% else %}
						<tr class="danger">
							<td>{{ cierre.material_id }}</td>
							<td>{{ cierre.pesoExistencia|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.pesoFisico|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.diferencia|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.cantidadEntrada|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.observacionEntrada }}</td>
							<td>{{ cierre.cantidadSalida|default_if_none:"0"|floatformat }}</td>
							<td>{{ cierre.observacionSalida }}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
{% endblock %}