{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CREACIÓN DE REPORTE
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			
			<div class="form-group col-md-6">
				<label  class="control-label" for="cmbFuncion">Seleccionar Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
			<div style="display:none;" id="taller" class="form-group col-md-6">
				<label  class="control-label" for="cmbTaller">Seleccionar Talleres:</label>
				<select name="cmbTaller" id="cmbTaller" class="cmbTaller form-control">
				</select>
			</div>
			<div style="display:none;" id="frente" class="form-group col-md-6">
				<label  class="control-label" for="cmbFrente">Seleccionar Frente:</label>
				<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
				</select>
			</div>

			<div class="form-group col-md-6">
			<label  class="control-label" for="fechaInicial">Fecha Inicial:</label>
				<input type="text" class="calendario form-control" name="fechaInicial" id="fechaInicial" value=" "></input>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaFinal">Fecha Final:</label>
				<input type="text" class="calendario form-control" name="fechaFinal" id="fechaFinal" value=" "></input>
			</div>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-success" name="solicitarConsulta" id="solicitarConsulta">Seleccionar</button>
		</div>
		<div style="display:none;" id="divSolicita" class="col-md-12 table-responsive">
			<table id="tablaSolicita" class="table table-hover">
				<thead>
					
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
	</div>
	<script type="text/javascript">
		comboFuncion = function(){
			
			$.post( "{% url 'comboFuncionGeneral' %}",{
				
			},
			function(data, status) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona Proveedor</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.id + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Fabricante:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Fabricante" );
			});
		}

		
		comboFrente = function(){
			$.post( "{% url 'comboFrente' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Frente:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Frente" );
			});
		}

		comboTaller = function(value){
			var funcion = value;

			$.post( "{% url 'comboTaller' %}",{
				funcion:funcion
			},
			function(data, status) {
		            try {
		                $('.cmbTaller').empty();
		                $('.cmbTaller').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbTaller').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Taller:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Taller" );
			});
		}
		
		$( "#cmbFuncion" ).change(function() {
			var value = this.value;
			
			if(value>=5 && value<=9){ //Validacion para habilitadores
				
				comboTaller(value);
				$("#taller").show();

				$("#frente").show();
				
			}
			if(value>=1 && value<=4 && value==10){
				$("#taller").hide();
				$("#frente").hide();
				comboTaller(value);
			}
			if(value>10){
				console.log("else whats");
				$("#taller").hide();
				
				$("#frente").show();
			}
		});

		$( "#solicitarConsulta" ).click(function() {
			$("#tablaSolicita thead").empty();
			$("#tablaSolicita tbody").empty();
			var funcion = $("#cmbFuncion").val();
			var taller = $("#cmbTaller").val();
			var frente = $("#cmbFrente").val();
			var fechai = $("#fechaInicial").val();
			var fechaf = $("#fechaFinal").val();
			
			console.log(funcion+" - "+taller+" - "+frente+" - "+fechai+" - "+fechaf);
			var tabla = '';
			var head='';
			$.post( "{% url 'reporteConsulta' %}",{
						funcion:funcion,
		        		taller:taller,
		        		frente:frente,
		        		fechai:fechai,
		        		fechaf:fechaf
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                	console.log(data.data);

	                	if(object.value==1){
	                			
								head ='<tr>'
								+'<th class="text-center"># Orden</th>'
								+'<th class="text-center">Remisión</th>'	
								+'<th class="text-center">Varilla</th>'
								+'<th class="text-center">Piezas</th>'
								+'<th class="text-center">Longitud</th>'
								+'<th class="text-center">Peso</th>'
								+'</tr>';

	                        	tabla += '<tr>';
	                        	tabla +='<td>'+object.orden+'</td>';
								tabla +='<td>'+object.remision+'</td>';
	                    		tabla +='<td>'+object.material+'</td>';
	                    		tabla +='<td>'+object.piezas+'</td>';
	                    		tabla +='<td>'+object.longitud+'</td>';
	                    		tabla +='<td>'+object.peso+'</td>';
								tabla += '</tr>';

		                   }

		                 if(object.value==2){
		                 		head ='<tr>'
		                 		+'<th class="text-center">Remisión</th>'
		                 		+'<th class="text-center">Proveedor</th>'
								+'<th class="text-center">Elemento</th>'	
								+'<th class="text-center">Varilla</th>'
								+'<th class="text-center">Cantidad Asignada</th>'
								+'<th class="text-center">cantidad Real</th>'
								
								+'</tr>';

	                        	tabla += '<tr>';
	                        	tabla +='<td>'+object.remision+'</td>';
								tabla +='<td>'+object.proveedor+'</td>';
	                    		tabla +='<td>'+object.elemento+'</td>';
	                    		tabla +='<td>'+object.material+'</td>';
	                    		tabla +='<td>'+object.cantidad+'</td>';
	                    		tabla +='<td>'+object.cantidadReal+'</td>';
								tabla += '</tr>';
		                 }

		                 if(object.value==3){
		                 		head ='<tr>'
									
								+'<th class="text-center">Varilla</th>'
								+'<th class="text-center">Cantidad Asignada</th>'
								+'<th class="text-center">Cantidad Total</th>'
								+'<th class="text-center">Apoyo</th>'
								+'<th class="text-center">Elemento</th>'
								+'</tr>';

	                        	tabla += '<tr>';
	                        	
	                    		tabla +='<td>'+object.material+'</td>';
	                    		tabla +='<td>'+object.cantidad+'</td>';
	                    		tabla +='<td>'+object.cantidadReal+'</td>';
	                    		tabla +='<td>'+object.apoyo+'</td>';
	                    		tabla +='<td>'+object.elemento+'</td>';
								tabla += '</tr>';
		                 }
		                    });
		        } catch (e) {
	                mensajeWarning("Error al cargar Varillas :" + e);
	            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición carga Varillas" );
			});
			$('#tablaSolicita thead').append(head);
		    $("#tablaSolicita tbody").append(tabla);
		    $("#divSolicita").show('slide');
		});
		
	    $(function () {
	    	comboFuncion();
	    	comboFrente();
	    	comboTaller(0);
	    	
	    });
	</script>
{% endblock %}