{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE TALLER
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Proveedor</th>
					<th class="text-center">Ubicacion</th>
					<th class="text-center">Responsable</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for taller in talleres %}
				<tr>
			    	<td>{{taller.nombre}}</td>
			    	<td>{{taller.proveedor}}</td>
			    	<td>{{taller.ubicacion}}</td>
			    	<td>{{taller.responsable}}</td>
			    	<td><a href="/control_acero/catologos/talleres/{{taller.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catologos/talleres/delete/{{taller.id}}"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
		    <span class="step-links">
		        {% if talleres.has_previous %}
		            <a href="?page={{ talleres.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ talleres.number }} of {{ talleres.paginator.num_pages }}.
		        </span>

		        {% if talleres.has_next %}
		            <a href="?page={{ talleres.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'talleresNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}