{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE TALLER
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Proveedor</th>
					<th class="text-center">Identificador de Folio</th>
					<th class="text-center">Ubicacion</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for taller in talleres %}
				<tr>
			    	<td>{{taller.nombre}}</td>
			    	<td>{{taller.funcion__proveedor}}</td>
			    	<td>{{taller.proveedor}}</td>
			    	<td>{{taller.ubicacion}}</td>
			    	<td><a href="/control_acero/catalogos/talleres/{{taller.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catalogos/talleres/delete/{{taller.id}}"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="col-md-12">
	        <ul class="pagination">
		        {% if talleres.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ talleres.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in talleres.paginator.page_range %}
	            	<li class="{% if talleres.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if talleres.has_next %}
		        	<li>
		            	<a href="?page={{ talleres.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ talleres.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'talleresNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}