{% extends 'control_acero/layout.html' %}
{% block title_module %}
	SALIDA DEL HABILITADO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		
		{% if request.session.nombreTaller > 0 %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> Taller Asignado: {{ request.session.nombreTaller }}</h3>
			</div>
		{% else %}
			<div class="form-group col-md-6 text-center alert-info">
				<h3> No cuentas con Taller Asignado</h3>
			</div>
		{% endif %}
		<div class="form-group col-md-6 text-center alert-info">
			<h3> Folio: <span id="folio"></span></h3>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbFrente">Selecciona un Frente:</label>
			<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
			</select>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbApoyo">Selecciona un Apoyo:</label>
			<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
			</select>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbElemento">Selecciona Elemento:</label>
			<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
			</select>
		</div>
		
		<div class="form-group col-md-6">
			<label class="control-label" for="reposicion">Reposición de Material Faltante</label>
			<select class="form-control" name="reposicion" id="reposicion">
					<option value="2">NO</option>
					<option value="1">SI</option>
			</select>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaMaterial" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Nombre Material</th>
						<th class="text-center">Peso en Almacen en Kg</th>
						<th class="text-center">Peso de Salida en Kg</th>

					</tr>
				</thead>
				<tbody>
					<!--<td><input type="checkbox" name="test" value="0" /></td>-->
				</tbody>
			</table>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaMaterialDetalle" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="6">Detalle de Salida</th>
					</tr>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Nombre Material</th>
						<th class="text-center">Peso en Almacen en Kg</th>
						<th class="text-center">Peso de Salida en Kg</th>
						<th class="text-center">Peso Restante en Almacen en Kg</th>
						<th class="text-center eliminar">¿Corregir?</th>

					</tr>
				</thead>
				<tbody>
					<!--<td><input type="checkbox" name="test" value="0" /></td>-->
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<button class="btn btn-success" name="btnGuardar" id="btnGuardar">Generar Salida</button>
		</div>
	</div>
	<script type="text/javascript">
		mostrarFolio = function(){
			var modulo = 2;
			$.post( "{% url 'foliosMostrar' %}",{
				modulo: modulo
			},
			function(data, status) {
		            try {
						$("#folio").html(data.folio);
		            } catch (e) {
		                swal("Error!","Error al cargar Combo del Fabricante:" + e,"error");
		            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición del Fabricante","error");
			});
		}

		
		comboApoyo = function(value){
			var frente =value;
			$.post( "{% url 'comboApoyo' %}",{
				frente:frente
			},
			function(data, status) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.id + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                swal("Error!","Error al cargar Combo del Apoyo:" + e,"error");
		            }
			})
			.fail(function() {
				swal("Error!","Error en la petición del Apoyo","error");
			});
		}
		comboElemento = function(){
			$.post( "{% url 'comboElemento' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                swal("Error!","Error al cargar Combo del Elemento:" + e,"error");
		            }
			})
			.fail(function() {
				swal("Error!","Error en la petición del Elemento","error");
			});
		}
		materialRecepcionado = function(){
			$("#tablaMaterial tbody").empty();
			var tabla = '';
			var idTabla = 1;
			$.post( "{% url 'salidaHabilitadoMaterial' %}",{
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                    tabla += '<tr>'
	                		tabla +='<td>'+idTabla+'</td>';
	                		tabla +='<td>'+object.materialNombre+'</td>';
	                		tabla +='<td class="info milesLimpio">'+Math.floor(object.peso)+'</td>';
	                		tabla +='<td><input type="text" data-toggle="toolinfo" data-placement="bottom" title="Ingresa Peso de Salida" class="dataInfo form-control milesLimpio" name="txtAsignado_'+count+'" id="txtAsignado_'+count+'" data-idmaterial="'+object.id+'" data-nombrematerial="'+object.materialNombre+'" data-cantidadreal="'+object.peso+'" value="" /></td>';
	                		//tabla +='<td><input type="text" class="form-control miles" value="0" /></td>';
	                		tabla +='<td><button type="button" class="btn btn-info" name="btnAceptar" id="btnAceptar" onClick="agregaDetalle('+count+');">Aceptar Salida</button></td>';
	                    tabla +='</tr>';
	                	count++;
	                	idTabla++;
	                });
	            } catch (e) {
	                swal("Error!","Error al cargar el Material Recepcionado:" + e,"error");
	            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición del Material Recepcionado","error");
			});
			$("#tablaMaterial tbody").append(tabla);
			$('[data-toggle="toolinfo"]').tooltip();
		}
		agregaDetalle = function(posicion){
			var asignado = $("#txtAsignado_"+posicion).val();
			var nombre = $("#txtAsignado_"+posicion).data("nombrematerial");
			var peso = $("#txtAsignado_"+posicion).data("cantidadreal");
			var idmaterial = $("#txtAsignado_"+posicion).data("idmaterial");
			var posicionTabla = parseInt(posicion+1);
			var pesoRestante =parseFloat(limpiaValor(peso)) - parseFloat(limpiaValor(asignado));
			asignado= limpiaValor(asignado);
			
			
			if(asignado <= 0){
				swal("Error!","Debes capturar un peso de salida diferente a cero","error");
				return false;
			}
			
			if(pesoRestante < 0){
				swal("Error!","No debe exceder el peso existente ","error");
				return false;
			}
			$("#limpia_"+idmaterial).remove();
			var tabla = '';
				tabla += '<tr id="limpia_'+idmaterial+'">';
					tabla += '<td>'+posicionTabla+'</td>';
					tabla += '<td>'+nombre+'</td>';
					tabla += '<td class="milesLimpio info">'+Math.floor(peso)+'</td>';
					tabla += '<td class="milesLimpio success">'+asignado+'</td>';
					tabla += '<td class="warning milesLimpio">'+Math.floor(pesoRestante)+'</td>';
					tabla +='<td style="display:none;"><input type="text" class="form-control miles dataAsignacion" data-idmaterial="'+idmaterial+'" data-nombrematerial="'+nombre+'" data-cantidadreal="'+peso+'" data-cantidad="'+asignado+'" value="'+asignado+'" /></td>';
					tabla += '<td class="text-center eliminar"><span style="cursor: pointer;" class="glyphicon glyphicon-remove" onClick="eliminar(this);"></span></td>';
				tabla += '</tr>';
			$("#tablaMaterialDetalle").append(tabla);
			$("#txtAsignado_"+posicion).val('');
		}
		comboFrente = function(){
			$.post( "{% url 'comboFrente' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                swal("Error!","Error al cargar Combo del Frente:" + e,"error");
		            }
			})
			.fail(function() {
				swal("Error!", "Error en la petición del Frente","warning" );
			});
		}
		$( "#cmbFrente" ).change(function() {
			var value = this.value;
			comboApoyo(value,"error");
		});

		function eliminar (a){
			$(a).closest("tr").remove();
		}
		$( "#btnGuardar" ).click(function() {
			
					var array = [];
					var apoyo = $("#cmbApoyo").val();
					var elemento = $("#cmbElemento").val();
					var frente = $("#cmbFrente").val();
					var htmlMail = $("#tablaMaterialDetalle").html();
					var reposicion = $("#reposicion").val();
					console.log(reposicion);

					if(frente == 0){
						swal("Error!","Debes elegir una Frente.","error");
						return false;
					}
					if(apoyo == 0){
						swal("Error!","Debes elegir un Apoyo.","error");
						return false;
					}
					if(elemento == 0){
						swal("Error!","Debes elegir un Elemento.","error");
						return false;
					}
					$("input.dataAsignacion[type=text]").each(function(index, element) {
						var material = $(this).data("idmaterial");
						var cantidadReal = $(this).data("cantidadreal");
						var cantidad = $(this).data("cantidad");
						
						if (cantidad != 0){
							array.push({"material": material, "cantidadReal": cantidadReal, "cantidadAsignada": cantidad});	
						}
						
					});
					if(array.length != 0){
						var json = JSON.stringify(array);
					}
					else{
						swal("Error!","Debes asignar peso","error");
						return false;
					}
					swal({

						  title: "¿Está seguro que la información capturada es la correcta?",
						  text: "No se podrá modificar el registro posteriormente",
						  type: "warning",
						  showCancelButton: true,
						  closeOnConfirm: false,
						  showLoaderOnConfirm: true
					},
					function(){
						$.post( "{% url 'salidaHabilitadoSave' %}",{
							apoyo: apoyo,
							elemento: elemento,
							frente: frente,
							htmlMail: htmlMail,
							reposicion:reposicion,
							json: json
						})
						.done(function(data, status) {
					            setTimeout(function () {
					    			swal("La información se guardo correctamente y se genero el Folio "+data.folio);
									}, 2000);
					            		
						            	materialRecepcionado();
						            	$("#folio").html(data.folio);
						            	$("#btnGuardar").hide('slide');
						            	$(".eliminar").hide("slide");
					            	
					            	
					            })
						.error(function(data,status){
									setTimeout(function () {
					   					 swal("Error!", "Error en la petición al Guardar la Salida de Material Habilitado.", "error");
										}, 1000);
				});
			});
		});
		function guardarExcel(){
			//console.log(array);
			var aux=[];
			var apoyo=0;
			var elemento=0;
			var frente=0;
			var reposicion=0;
			var htmlMail=0;
			$.ajax({
			    url: "/static/datos.csv",
			    async: false,
			    success: function (csvd) {//guardar por remision
			    	var mat=2;
					
			        var items = $.csv.toObjects(csvd);
			        var jsonobject = JSON.stringify(items);
			        //console.log(jsonobject);
			        var obj = $.parseJSON(jsonobject);
			         //console.log(obj);
			        for(var x = 0; x < obj.length; x++){
			        	//console.log("sdasd",obj[x]);
			        	$.each(obj[x], function(c, value){
			        		//console.log(c, value);
			        		if(isNaN(c)){
			        			if(c=="apoyo"){
			        					apoyo=value;
			        					
			        			}
			        			if(c=="elemento"){
			        					elemento=value;
			        			}
			        			if(c=="frente"){
			        					frente=value;
			        			}
			        			if(c=="reposicion"){
			        					reposicion=value;
			        			}
			        		}
			        		if(producto(c) && value!=''){
			        			aux.push({"material": c, "cantidadReal": producto(c), "cantidadAsignada": value});
			        		}
			        	});
			        	console.log("---")
			        	console.log(apoyo,elemento,frente,reposicion);
			        	console.log(aux);
			        	var json = JSON.stringify(aux);
			        	$.post( "{% url 'salidaHabilitadoSave' %}",{
			        		apoyo: apoyo,
							elemento: elemento,
							frente: frente,
							htmlMail: htmlMail,
							reposicion:reposicion,
							json: json
						},
						function(data, status) {
							$.each(data.data, function (count, object) {
	                        	console.log(object);
	                    	});
			        	
						});
			        	aux=[];
				    }

				
			    },
			    dataType: "text",
			    complete: function () {
			        // call a function on complete 
			    }
			});	
		}

		function producto(id){
			var array=[];
			$("input.dataInfo[type=text]").each(function(index, element) {
						var material = $(this).data("idmaterial");
						var cantidadReal = $(this).data("cantidadreal");
						var nombrematerial = $(this).data("nombrematerial");
						array[material] = cantidadReal;	
			});
			if(array[id]>0){
				return array[id];
			}
			else{
				return false;
			}

		} 

	    $(function () {
	    	mostrarFolio();
	    	comboApoyo();
	    	comboElemento();
	    	comboFrente();
	    	materialRecepcionado();
	    	guardarExcel();
	    });
	</script>
{% endblock %}