{% extends 'control_acero/layout.html' %}
{% block title_module %}
	SALIDA DEL HABILITADO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="form-group col-md-6 text-left alert-info">
			<h3> Folio: <span id="folio"></span></h3>
		</div>
		{% if request.session.nombreTaller > 0 %}
			<div class="form-group col-md-6 text-left alert-info">
				<h3> Taller Asignado: {{ request.session.nombreTaller }}</h3>
			</div>
		{% else %}
			<div class="form-group col-md-6 text-left alert-info">
				<h3> No cuentas con Taller Asignado</h3>
			</div>
		{% endif %}
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbFrente">Selecciona un Frente:</label>
			<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
			</select>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbApoyo">Selecciona un Apoyo:</label>
			<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
			</select>
		</div>
		<div class="form-group col-md-offset-3 col-md-6">
			<label  class="control-label" for="cmbElemento">Selecciona Elemento:</label>
			<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
			</select>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaMaterial" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Nombre Material</th>
						<th class="text-center">Peso en Almacen en Kg</th>
						<th class="text-center">Peso de Salida en Kg</th>

					</tr>
				</thead>
				<tbody>
					<!--<td><input type="checkbox" name="test" value="0" /></td>-->
				</tbody>
			</table>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="tablaMaterialDetalle" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="6">Detalle de Salida</th>
					</tr>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Nombre Material</th>
						<th class="text-center">Peso en Almacen en Kg</th>
						<th class="text-center">Peso de Salida en Kg</th>
						<th class="text-center">Peso Aceptado Restante en Kg</th>
						<th class="text-center">¿Corregir?</th>

					</tr>
				</thead>
				<tbody>
					<!--<td><input type="checkbox" name="test" value="0" /></td>-->
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<button class="btn btn-success" name="btnGuardar" id="btnGuardar">Generar Salida</button>
		</div>
	</div>
	<script type="text/javascript">
		mostrarFolio = function(){
			var modulo = 2;
			$.post( "{% url 'foliosMostrar' %}",{
				modulo: modulo
			},
			function(data, status) {
		            try {
						$("#folio").html(data.folio);
		            } catch (e) {
		                alert("Error al cargar Combo del Fabricante:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Fabricante" );
			});
		}

		
		comboApoyo = function(value){
			var frente =value;
			$.post( "{% url 'comboApoyo' %}",{
				frente:frente
			},
			function(data, status) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.id + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Apoyo:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Apoyo" );
			});
		}
		comboElemento = function(){
			$.post( "{% url 'comboElemento' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Elemento:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Elemento" );
			});
		}
		materialRecepcionado = function(){
			$("#tablaMaterial tbody").empty();
			var tabla = '';
			var idTabla = 1;
			$.post( "{% url 'salidaHabilitadoMaterial' %}",{
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                    tabla += '<tr>'
	                		tabla +='<td>'+idTabla+'</td>';
	                		tabla +='<td>'+object.materialNombre+'</td>';
	                		tabla +='<td class="info miles">'+object.peso+'</td>';
	                		tabla +='<td><input type="text" class="form-control miles" name="txtAsignado_'+count+'" id="txtAsignado_'+count+'" data-idmaterial="'+object.id+'" data-nombrematerial="'+object.materialNombre+'" data-cantidadreal="'+object.peso+'" value="0" /></td>';
	                		//tabla +='<td><input type="text" class="form-control miles" value="0" /></td>';
	                		tabla +='<td><button type="button" class="btn btn-info" name="btnAceptar" id="btnAceptar" onClick="agregaDetalle('+count+');">Aceptar Salida</button></td>';
	                    tabla +='</tr>';
	                	count++;
	                	idTabla++;
	                });
	            } catch (e) {
	                alert("Error al cargar el Material Recepcionado:" + e);
	            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Material Recepcionado" );
			});
			$("#tablaMaterial tbody").append(tabla);
		}
		agregaDetalle = function(posicion){
			var asignado = $("#txtAsignado_"+posicion).val();
			var nombre = $("#txtAsignado_"+posicion).data("nombrematerial");
			var peso = $("#txtAsignado_"+posicion).data("cantidadreal");
			var idmaterial = $("#txtAsignado_"+posicion).data("idmaterial");
			var posicionTabla = parseInt(posicion+1);
			var pesoRestante =parseFloat(limpiaValor(peso)) - parseFloat(limpiaValor(asignado));
			
			if(asignado <= 0){
				mensajeWarning("Debes capturar un peso de salida diferente a cero");
				return false;
			}
			
			if(pesoRestante < 0){
				mensajeWarning("No debe exceder el peso existente ");
				return false;
			}
			$("#limpia_"+idmaterial).remove();
			var tabla = '';
				tabla += '<tr id="limpia_'+idmaterial+'">';
					tabla += '<td>'+posicionTabla+'</td>';
					tabla += '<td>'+nombre+'</td>';
					tabla += '<td class="miles info">'+peso+'</td>';
					tabla += '<td class="miles success">'+asignado+'</td>';
					tabla += '<td class="warning miles">'+pesoRestante.toFixed(2)+'</td>';
					tabla +='<td style="display:none;"><input type="text" class="form-control miles dataAsignacion" data-idmaterial="'+idmaterial+'" data-nombrematerial="'+nombre+'" data-cantidadreal="'+peso+'" value="'+asignado+'" /></td>';
					tabla += '<td class="text-center"><span style="cursor: pointer;" class="glyphicon glyphicon-remove" onClick="eliminar(this);"></span></td>';
				tabla += '</tr>';
			$("#tablaMaterialDetalle").append(tabla);
			$("#txtAsignado_"+posicion).val(0);
		}
		comboFrente = function(){
			$.post( "{% url 'comboFrente' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Frente:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Frente" );
			});
		}
		$( "#cmbFrente" ).change(function() {
			var value = this.value;
			comboApoyo(value);
		});

		function eliminar (a){
			$(a).closest("tr").remove();
		}
		$( "#btnGuardar" ).click(function() {
			bootbox.confirm("¿Estás seguro que la información de salida es la correcta, debido a que no se podrán realizar cambios posteriores?.", function(result) {
				if(result){
					var array = [];
					var apoyo = $("#cmbApoyo").val();
					var elemento = $("#cmbElemento").val();
					var frente = $("#cmbFrente").val();
					var htmlMail = $("#tablaMaterialDetalle").html();

					if(frente == 0){
						mensajeWarning("<strong>Debes elegir una Frente.</strong>");
						return false;
					}
					if(apoyo == 0){
						mensajeWarning("<strong>Debes elegir un Apoyo.</strong>");
						return false;
					}
					if(elemento == 0){
						mensajeWarning("<strong>Debes elegir un Elemento.</strong>");
						return false;
					}
					$("input.dataAsignacion[type=text]").each(function(index, element) {
						var material = $(this).data("idmaterial");
						var cantidadReal = $(this).data("cantidadreal");
						var cantidadAsignada = limpiaValor(this.value);
						if (cantidadAsignada != 0){
							array.push({"material": material, "cantidadReal": cantidadReal, "cantidadAsignada": cantidadAsignada});	
						}
						
					});
					if(array.length != 0){
						var json = JSON.stringify(array);
					}
					else{
						mensajeWarning("Debes asignar peso");
						return false;
					}
					$.post( "{% url 'salidaHabilitadoSave' %}",{
						apoyo: apoyo,
						elemento: elemento,
						frente: frente,
						htmlMail: htmlMail,
						json: json
					},
					function(data, status) {
				            try {
				            		mensajeSuccess("<b>"+data.mensaje+"</b>");
					            	materialRecepcionado();
					            	$("#folio").html(data.folio);
					            	$("#btnGuardar").hide('slide');
				            	
				            	
				            } catch (e) {
				                alert("Error al cargar Guardar la información:" + e);
				            }
					})
					.fail(function() {
						mensajeWarning( "Error en la petición Guardar la información" );
					});
				}
			});

			
		});
	    $(function () {
	    	mostrarFolio();
	    	comboApoyo();
	    	comboElemento();
	    	comboFrente();
	    	materialRecepcionado();
	    });
	</script>
{% endblock %}