{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE ELEMENTO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<!-- <th class="text-center">Peso (Kg)</th> -->
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for elemento in elementos %}
				<tr>
			    	<td>{{elemento.nombre}}</td>
			    	<!-- <td>{{elemento.peso}}</td> -->
			    	<td><a href="/control_acero/catalogos/elementos/{{elemento.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catalogos/elementos/delete/{{elemento.id}}"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="col-md-12">
	        <ul class="pagination">
		        {% if elementos.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ elementos.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in elementos.paginator.page_range %}
	            	<li class="{% if elementos.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if elementos.has_next %}
		        	<li>
		            	<a href="?page={{ elementos.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ elementos.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'elementosNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}