{% extends 'control_acero/layout.html' %}

{% block content %}
	{% if messages %}	    
		{% for message in messages %}
	    	<div class="alert alert-warning">{{message}}</div>
	    {% endfor %}
	{% endif %}
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<figure class="nav-company pull-left">
						<img src="http://equipamiento.grupohi.mx/img/company-icon.png" alt="Grupo Hermes Infraestructura"/>
					</figure>
					Control Acero
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/auth/login"><i class="fa fa-sign-in fa-fw"></i> Iniciar Sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container theme-showcase" role="main">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<h1>Inicie Sesión</h1>
				<form method="POST" action="usuario/login/">{% csrf_token %}
					<input type="hidden" name="_token" value="kLb7WG35jFHwlDlimWzdaxmIcDPK4TEVgnetbMVc">

					<!-- Usuario Form Input -->
					<div class="form-group">
						<label for="usuario">Usuario:</label>
						<input class="form-control" required="required" autofocus="autofocus" name="usuario" type="text" id="usuario">
					</div>

					<!-- Password Form Input -->
					<div class="form-group">
						<label for="clave">Clave:</label>
						<input class="form-control" required="required" name="clave" type="password" id="clave">
					</div>

					<div class="checkbox">
						<label>
							<input name="remember_me" type="checkbox" value="1"> Recordar mi sesión en este equipo
						</label>
					</div>

					<div class="form-group">
						<input class="btn btn-primary" type="submit" value="Iniciar sesión">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}