{% extends 'control_acero/layout.html' %}
{% block title_module %}
	COLOCADO RECEPCIÓN
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elige un Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elige un Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbApoyo">Elige un Elemento:</label>
				<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
				</select>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaFrente" class="table table-hover">
					<thead>
						<tr>
							<th colspan="4" class="text-center"> Información Frente de Trabajo</th>
						</tr>
						<tr>
							<th class="text-center">Nombre Frente</th>
							<th class="text-center">Identificación</th>
							<th class="text-center">Ubicacion</th>
							<th class="text-center">Kilometros</th>
						</tr>
					</thead>
					<tbody>
						<!--<td><input type="checkbox" name="test" value="0" /></td>-->
					</tbody>
				</table>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaElemento" class="table table-hover">
					<thead>
						<tr>
							<th colspan="2" class="text-center"> Información Apoyo</th>
						</tr>
						<tr>
							<th class="text-center">Numero de Apoyo</th>
							<th class="text-center">Nombre Elemento</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaDetalle" class="table table-hover">
					<thead>
						<tr>
							<th colspan="10" class="text-center">Detalle Despiece</th>
						</tr>
						<tr>
							<th class="text-center">Apoyo</th>
							<th class="text-center">Elemento</th>
							<th class="text-center">Peso Recibido</th>
							<th class="text-center">Piezas Recibidas</th>
							<th class="text-center">Cantidad</th>
							<th class="text-center">Calibre</th>
							<th class="text-center">Longitud</th>
							<th class="text-center">Nomenclatura</th>
							<th class="text-center">Kilogramo</th>
							<th class="text-center">Figura</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Terminar Colocado</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( "#btnGuardar" ).click(function() {
			var programa = $("#cmbPrograma").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		comboPrograma = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/comboPrograma/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbPrograma').empty();
		                $('.cmbPrograma').append('<option value="0">Selecciona un Programa de Suministro</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbPrograma').append('<option value="' + object.idPrograma + '">Folio --->>> ' + object.idPrograma + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboFuncion = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/comboFuncion/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboApoyo = function () {
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/comboApoyo/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.idApoyo + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#cmbFuncion" ).change(function() {
			comboApoyo();
		});
		$( "#cmbApoyo" ).change(function() {
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var apoyo = $("#cmbApoyo").val();
			var tablaFrente = '';
			var tablaElemento = '';
			var tablaDetalle = '';
			$.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/detalle/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion,
		        		apoyo: apoyo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	console.log(datos);
	                    $.each(datos.frente, function (count, objectFrente) {
	                    	tablaFrente += '<tr>'
	                    						+'<td>'+objectFrente.frenteNombre+'</td>'
	                    						+'<td>'+objectFrente.frenteIdentificacion+'</td>'
	                    						+'<td>'+objectFrente.frenteUbicacion+'</td>'
	                    						+'<td>'+objectFrente.frenteKilometro+'</td>'
	                    					+'</tr>';
	                    });
	                    $.each(datos.apoyo, function (count, objectApoyo) {
	                    	tablaElemento += '<tr>'
	                    						+'<td>'+objectApoyo.apoyoNumero+'</td>'
	                    						+'<td>'+objectApoyo.elementoNombre+'</td>'
	                    					+'</tr>';
	                    });
	                    $.each(datos.detalle, function (count, objectDetalle) {
	                    	tablaDetalle += '<tr>';
	                    		tablaDetalle += '<td>'+objectDetalle.apoyo+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.elemento+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.pesoRecibido+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.piezasRecibidas+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.despieceCantidad+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.despieceMaterial+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.despieceLongitud+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.despieceNomenclatura+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.despiecePeso+'</td>';
	                    		tablaDetalle += '<td>'+objectDetalle.despieceFigura+'</td>';
	                    	tablaDetalle += '</tr>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		    $("#tablaFrente tbody").append(tablaFrente);
		    $("#tablaElemento tbody").append(tablaElemento);
		    $("#tablaDetalle tbody").append(tablaDetalle);
		});
	    $(function () {
	    	comboPrograma();
	    	comboFuncion();
	    });
	</script>
{% endblock %}