{% extends 'control_acero/layout.html' %}
{% block title_module %}
	RECEPCIÓN DE ARMADO PARA COLOCACION
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<!-- <div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elige un Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div> -->
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elige un Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elige una Orden de Trabajo:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbApoyo">Elige un Apoyo:</label>
				<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
				</select>
			</div>
			<!--<div class="col-md-12 table-responsive">
				<table id="tablaElemento" class="table table-hover">
					<thead>
						<tr>
							<th colspan="4" class="text-center">Detalle del Despiece Asignado al Elemento</th>
						</tr>
						<tr>
							<th class="text-center">Peso del Despiece</th>
							<th class="text-center">Nomenclaruta</th>
							<th class="text-center">Longitud del Despiece</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>-->
			<div class="col-md-12 table-responsive">
				<table id="tablaColocado" class="table table-hover">
					<thead>
						<tr>
							<th colspan="5" class="text-center">Detalle Despiece Armado</th>
						</tr>
						<tr>
							<th class="text-center">Nomenclaruta</th>
							<th class="text-center">Varilla #</th>
							<th class="text-center">Piezas Recibidas</th>
							<th class="text-center">Peso del Despiece Kg</th>
							<th class="text-center">Longitud del Despiece</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Terminar Colocado</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( "#btnGuardar" ).click(function() {
			var programa = $("#cmbPrograma").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		comboFuncion = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/comboFuncion/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboApoyo = function () {
			var funcion = $("#cmbFuncion").val();
			var orden = $("#cmbOrden").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/comboApoyo/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		funcion: funcion,
		        		orden: orden
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.idApoyo + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboOrden = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/recepcion/comboOrden/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbOrden').empty();
		                $('.cmbOrden').append('<option value="0">Selecciona una Orden de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbOrden').append('<option value="' + object.idOrdenTrabajo + '">Orden de Trabajo --->>> ' + object.idOrdenTrabajo + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#cmbFuncion" ).change(function() {
			comboOrden();
		});
		$( "#cmbOrden" ).change(function() {
			comboApoyo();
		});
		$( "#cmbApoyo" ).change(function() {
			var orden = $("#cmbOrden").val();
			var funcion = $("#cmbFuncion").val();
			var apoyo = $("#cmbApoyo").val();
			var tablaFrente = '';
			var tablaElemento = '';
			var tablaColocado = '';
			$.ajax({
		        type: "POST",
		        url: "/control_acero/colocado/recepcion/detalle/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		orden: orden,
		        		funcion: funcion,
		        		apoyo: apoyo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.despieceElemento, function (count, object) {
			            	tablaElemento += '<tr>';
			            		//tablaElemento +='<td>'+object.despieceTotal+'</td>';
			            		//tablaElemento +='<td>'+object.pesoRecibido+'</td>';
			            		tablaElemento +='<td>'+object.despiecePeso+'</td>';
			            		tablaElemento +='<td>'+object.despieceNomenclatura+'</td>';
			            		tablaElemento +='<td>'+object.despieceLongitud+'</td>';
			            		//tablaElemento +='<td><input type="checkbox" name="seleccionados" data-iddespiece="'+object.id+'" data-peso="'+object.despiecePeso+'" value="'+count+'" /></span></td>';
			            		//tablaElemento +='<td><input class="form-control dataDespiece"  type="number" data-iddespiece="'+object.id+'" /></td>';
	                    		tablaElemento += '<td>';
	                    			tablaElemento += '<a target="_blank" href="../../../media/'+object.despieceImagen+'">';
				                		tablaElemento += '<img width="100" class="img-responsive img-circle" src="../../../media/'+object.despieceImagen+'" alt="" class="img-responsive">';
				                	tablaElemento += '</a>';
				                tablaElemento += '</td>';
			            	tablaElemento +='</tr>';
	                    });
	                    $.each(datos.colocado, function (count, object) {
			            	tablaColocado += '<tr>';
			            		tablaColocado +='<td>'+object.despieceNomenclatura+'</td>';
			            		tablaColocado +='<td>'+object.idMaterial+'</td>';
			            		tablaColocado +='<td>'+object.piezas+'</td>';
			            		tablaColocado +='<td>'+object.despiecePeso+'</td>';
			            		tablaColocado +='<td>'+object.despieceLongitud+'</td>';
			            		//tablaColocado +='<td><input class="form-control dataDespiece'+count+'"  type="number" data-idetapa="'+object.id+'" data-iddespiece="'+object.despieceId+'" data-idetapadespiece="'+object.etapaDespieceId+'" data-idetapadespiecedetalle="'+object.etapaDespieceDetalleId+'" value="'+object.despiecePeso+'" /></td>';
			            		//tablaColocado +='<td><input type="checkbox" name="seleccionados" data-iddespiece="'+object.id+'" data-peso="'+object.despiecePeso+'" value="'+count+'" /></span></td>';
	                    		tablaColocado += '<td>';
	                    			tablaColocado += '<a target="_blank" href="../../../media/'+object.despieceImagen+'">';
				                		tablaColocado += '<img width="100" class="img-responsive img-circle" src="../../../media/'+object.despieceImagen+'" alt="" class="img-responsive">';
				                	tablaColocado += '</a>';
				                tablaColocado += '</td>';
			            	tablaColocado +='</tr>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		    //$("#tablaFrente tbody").append(tablaFrente);
		    $("#tablaElemento tbody").append(tablaElemento);
		    $("#tablaColocado tbody").append(tablaColocado);
		});
	    $(function () {
	    	comboFuncion();
	    });
	</script>
{% endblock %}