{% extends 'control_acero/layout.html' %}
{% block title_module %}
	ARMADO RECEPCIÓN
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elige un Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elige un Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbElemento">Elige un Elemento:</label>
				<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
				</select>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaSuministro" class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">Material</th>
							<th class="text-center">Despiece Total Peso</th>
							<th class="text-center">Peso Recibido</th>
							<th class="text-center">Peso Recepcionado</th>
							<th class="text-center">Seleccionar</th>
						</tr>
					</thead>
					<tbody>
						<!--<td><input type="checkbox" name="test" value="0" /></td>-->
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button class="btn btn-info" name="btnAceptarRecepcion" id="btnAceptarRecepcion">Aceptar Recepción</button>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaSuministroAsignado" class="table table-hover">
					<thead>
						<tr>
							<th colspan="11" class="text-center">Detalle de la Asignación</th>
						</tr>
						<tr>
							<th class="text-center">Material</th>
							<th class="text-center">Despiece Total Peso</th>
							<th class="text-center">Peso Recibido</th>
							<th class="text-center">Peso Recepcionado</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Guardar Asignacion</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( "#btnGuardar" ).click(function() {
			var datos = [];
			var datosString = '';
			$("input.dataAsignacion[type=text]").each(function(index, element) {
				console.log(this.name);
				if(this.name == "dataId"){
					datosString += this.value+"|";
				}
				if(this.name == "dataPesoRecibido"){
					datosString += this.value+"|";
				}
				if(this.name == "dataPiezasRecibidas"){
					datosString += this.value+"|";
				}
				if(this.name == "dataDespieceId"){
					datosString += this.value;
					datos.push({"data": datosString});
					datosString = '';
				}
			});

			var json = JSON.stringify(datos);

		    $.ajax({
		        type: "POST",
		        url: "/control_acero/armado/asigna/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		json: json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		comboPrograma = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/armado/asignar/comboPrograma/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbPrograma').empty();
		                $('.cmbPrograma').append('<option value="0">Selecciona un Programa de Suministro</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbPrograma').append('<option value="' + object.idPrograma + '">Folio --->>> ' + object.idPrograma + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboFuncion = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/armado/asignar/comboFuncion/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboElemento = function () {
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/armado/asignar/comboElemento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.idElemento + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTipoFuncion = function () {
	        $('.cmbTipoFuncion').empty();
	        $('.cmbTipoFuncion').append('<option value="0">Selecciona un Tipo de Proveedor</option>');
	        $('.cmbTipoFuncion').append('<option value="3">Armador</option>');
	        $('.cmbTipoFuncion').append('<option value="4">Colocador</option>');
		};
		comboFuncionElegido = function (value) {
			var tipo = value;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboFuncionElegido/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		tipo: tipo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('#cmbFuncionSeleccionada').empty();
		                $('#cmbFuncionSeleccionada').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('#cmbFuncionSeleccionada').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTaller = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboTaller/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbTaller').empty();
		                $('.cmbTaller').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbTaller').append('<option value="' + object.idTaller + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTransporte = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboTransporte/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbTransporte').empty();
		                $('.cmbTransporte').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbTransporte').append('<option value="' + object.idTransporte + '">' + object.placas + ' ---> ' + object.capacidad + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#cmbFuncion" ).change(function() {
			comboElemento();
		});
		$( "#cmbElemento" ).change(function() {
			$("#tablaSuministro tbody").empty();
			var tabla = '';
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var elemento = this.value;
			var count = 0;
			var idTabla = 1;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/armado/asignar/elemento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion,
		        		elemento: elemento
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                    	tabla += '<tr>';
	                    		tabla += '<td>'+object.materialNombre+'</td>';
	                    		tabla += '<td>'+object.despieceTotal+'</td>';
	                    		tabla += '<td>'+object.despieceRecibido+'</td>';
	                    		tabla += '<td>';
				                	tabla += '<img height="42" width="142" class="img-responsive img-circle" src="../../../media/'+object.materialImagen+'" alt="" class="img-responsive">';
				                tabla += '</td>';
	                    		tabla += '<td> <input type="number" min="0" class="form-control" name="txtPesoRecibido'+count+'" id="txtPesoRecibido'+count+'" /> </td>';
	                    		tabla += '<td> <input type="checkbox" name="seleccionados" value="'+count+'" /> </td>';
	                    		tabla += '<td style="display:none;">';
	                    			tabla += '<input name="txtIdEtapa'+count+'" id="txtIdEtapa'+count+'" value="'+object.id+'" />';
	                    			tabla += '<input name="txtMaterial'+count+'" id="txtMaterial'+count+'" value="'+object.materialNombre+'" />';
	                    			tabla += '<input name="txtDespieceTotal'+count+'" id="txtDespieceTotal'+count+'" value="'+object.despieceTotal+'" />';
	                    			tabla += '<input name="txtDespieceRecibido'+count+'" id="txtDespieceRecibido'+count+'" value="'+object.despieceRecibido+'" />';
	                    		tabla += '</td>';
	                    	tabla += '</tr>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		    $("#tablaSuministro tbody").append(tabla);
		});
		$( "#cmbTipoFuncion" ).change(function() {
			var value = this.value;
			comboFuncionElegido(value);
		});
		$( "#btnAceptarRecepcion" ).click(function() {
			$("#tablaSuministroAsignado tbody").empty();
			var tabla = '';
			$("input[name='seleccionados']").each( function () {
				if($(this).is(":checked")){
					var value = this.value;
					var idEtapa = $("#txtIdEtapa"+value).val();
					var material = $("#txtMaterial"+value).val();
					var despieceTotal = $("#txtDespieceTotal"+value).val();
					var despieceRecibido = $("#txtDespieceRecibido"+value).val();
					var recepcionado = $("#txtPesoRecibido"+value).val();
					tabla += '<tr>'
								+'<td class="text-center">'+material+'</td>'
								+'<td class="text-center">'+despieceTotal+'</td>'
								+'<td class="text-center">'+despieceRecibido+'</td>'
								+'<td class="text-center">'+recepcionado+'</td>'
								+'<td style="display:none;" class="text-center">'
									+'<input type="text" disabled readonly class="dataAsignacion" name="dataId" id="dataId" value="'+idEtapa+'" />'
									+'<input type="text" disabled readonly class="dataAsignacion" name="dataPesoRecibido" id="dataPesoRecibido" value="'+recepcionado+'" />'
								+'</td>'
							+'</tr>';
				}
			});
			$("#tablaSuministroAsignado tbody").append(tabla);
		});
	    $(function () {
	    	comboPrograma();
	    	comboTipoFuncion();
	    	comboFuncion();
	    	comboTaller();
	    	comboTransporte();
	    });
	</script>
{% endblock %}