{% extends 'control_acero/layout.html' %}
{% block title_module %}
	ARMADO RECEPCIÓN
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="form-group col-md-6 text-left alert-info">
			<h3> Folio: <span id="folio"></span></h3>
		</div>
		<div class="form-group col-md-6 text-left alert-info">
			<h3> Reponsable: {{ user.get_username }}</h3>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="remision">Agregar Remisión:</label>
			<input type="text" data-toggle="tooltip" data-placement="bottom" title="Agrega Remisión" class="form-control" name="remision" id="remision"></input>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbFolio">Folio:</label>
			<select style="width: 100%" name="cmbFolio" id="cmbFolio" class="select2 cmbFolio form-control col-md-6">
			</select>
		</div>
		<!--<div class="form-group col-md-6">
			<label  class="control-label" for="cmbApoyo">Selecciona un Apoyo:</label>
			<select name="cmbApoyo" id="cmbApoyo" class="cmbApoyo form-control">
			</select>
		</div>
		<div class="form-group col-md-6">
			<label  class="control-label" for="cmbElemento">Selecciona Elemento:</label>
			<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
			</select>
		</div>-->
		<div class="form-group col-md-offset-3 col-md-6">
			<label  class="control-label" for="cmbFuncion">Seleccionar Proveedor de Armado:</label>
			<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
			</select>
			<input type="hidden" name="txtApoyo" id="txtApoyo" />
			<input type="hidden" name="txtElemento" id="txtElemento" />
		</div>
		<div class="form-group col-md-12">
			<button type="button" class="btn btn-success" name="btnAgregar" id="btnAgregar">Aceptar</button>
		</div>
		<!--<div class="form-group col-md-6">
			<label  class="control-label" for="cmbFrente">Selecciona un Frente:</label>
			<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
			</select>
		</div>-->
		<div class="clearfix"></div>
		<div style="display: none" id="detalleHabilitado" class="col-md-12 table-responsive">
			<div class="text-center"><h3>Detalle del Envio desde el Habilitado</h3></div>
			<table id="tablaHabilitado" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Remision</th>
						<th class="text-center">Folio</th>
						<th class="text-center">Apoyo</th>
						<th class="text-center">Elemento</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div  style="display: none" id="indicadorColor" class="col-md-12">
			<div class="col-md-2">
				<div class="alert-info">&nbsp;</div>
			</div>
			<div class="col-md-4 text-left">
				<div class="alert-default"><b>Peso Original de Recepción</b></div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-2">
				<div class="alert-success">&nbsp;</div>
			</div>
			<div class="col-md-4 text-left">
				<div class="alert-default"><b>Cantidad Asignada en la Partida</b></div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-2">
				<div class="alert-warning">&nbsp;</div>
			</div>
			<div class="clear-fix"></div>
			<div class="col-md-4 text-left">
				<div class="alert-default"><b>Detalle de la Diferencia de la Partida</b></div>
			</div>
		</div>
		<div style="display: none" id="detalleMaterial" class="col-md-12 table-responsive">
			<div class="text-center"><h3>Detalle del Material Habilitado</h3></div>
			<table id="tablaMaterial" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Nombre del Material</th>
						<th class="text-center">Peso Enviado en Kg</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<hr>
		<div style="display: none" id="detalleRecepcion" class="col-md-12 table-responsive">
			<div class="text-center"><h3>Detalle de la Recepción Completa</h3></div>
			<table id="tablaMaterialDetalle" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Nombre Material</th>
						
						<th class="text-center">Peso Enviado por el Habilitado en Kg</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div style="display: none" id="detalleFaltante" class="col-md-12 table-responsive">
			<div class="text-center"><h3>Material Faltante</h3></div>
			<table id="tablaMaterialFaltante" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Nombre Material</th>
						<th class="text-center">Nomenclatura</th>
						<th class="text-center">Longitud</th>
						<th class="text-center">Piezas</th>
						<th class="text-center">Peso Enviado de Habilitado en Kg</th>
						<th class="text-center">Peso Faltante en Kg</th>
						<th class="text-center">Peso Real Recibido en Kg</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
		<div style="display: none" id="botones"class="col-md-12">
			<div  class="col-md-6">
				<button class="btn btn-success" name="btnGuardar" id="btnGuardar">Recibir Material</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-warning" name="btnCancelar" id="btnCancelar">Cancelar</button>
			</div>
		</div>
		<div class="clearfix"></div>
		
		
	</div>
	<script type="text/javascript">
		foliosSalidaHabilitado = function(){
			$.post( "{% url 'foliosSalidaHabilitado' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbFolio').empty();
	                    $.each(data.data, function (count, object) {
							$('.cmbFolio').append('<optgroup label="Apoyo asignado: ' + object.apoyo + ' Elemento asignado:' + object.elemento + '">');
	                        	$('.cmbFolio').append('<option data-folio="'+object.folio+'" value="' + object.numFolio + '">' + object.folio + '</option>');
	                        $('.cmbFolio').append('</optgroup>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Folio:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Folio" );
			});
		}
		mostrarFolio = function(){
			var modulo = 3;
			$.post( "{% url 'foliosMostrar' %}",{
				modulo: modulo
			},
			function(data, status) {
		            try {
						$("#folio").html(data.folio);
		            } catch (e) {
		                alert("Error al cargar Combo del Fabricante:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Fabricante" );
			});
		}
		comboApoyo = function(){
			$.post( "{% url 'entradaArmadoComboApoyo' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbApoyo').empty();
		                $('.cmbApoyo').append('<option value="0">Selecciona un Apoyo</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbApoyo').append('<option value="' + object.id + '">' + object.numero + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Apoyo:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Apoyo" );
			});
		}
		comboElemento = function(){
			$.post( "{% url 'entradaArmadoComboElemento' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Elemento</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Elemento:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Elemento" );
			});
		}
		materialRecepcionado = function(folio){
			$("#tablaMaterial tbody").empty();
			var tabla = '';
			var idTabla = 1;
			$.post( "{% url 'entradaArmadoMaterial' %}",{
				folio: folio
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                    tabla += '<tr>'
	                		tabla +='<td>'+idTabla+'</td>';
	                		tabla +='<td>'+object.materialNombre+'</td>';
	                		tabla +='<td class="info miles">'+object.cantidadAsignada+'</td>';
	                		tabla +='<td style="display:none;" id="asignado_'+count+'"><input type="text" readonly disabled data-toggle="toolinfo" data-placement="bottom" title="Peso Calculado" class="form-control dataAsignacion miles" name="row_'+count+'" id="row_'+count+'" data-idmaterial="'+object.id+'" data-materialnombre="'+object.materialNombre+'" data-cantidadreal="'+object.cantidadAsignada+'" value="0" /></td>';
	                		tabla +='<td style="display:none;" id="nomenclatura_'+count+'"><input type="text" data-toggle="toolinfo" data-placement="bottom" title="Digita la Nomenclatura" title="Nomenclatura" class="form-control text-uppercase" name="txtNomenclatura_'+count+'" id="txtNomenclatura_'+count+'" placeholder="Nomenclatura" /></td>';
	                		tabla +='<td style="display:none;" id="longitud_'+count+'"><input type="number" data-toggle="toolinfo" data-placement="bottom" title="Longitud" title="Longitud" step="0.01" class="form-control" min="0" name="txtLongitud_'+count+'" id="txtLongitud_'+count+'" placeholder="Longitud" /></td>';
	                		tabla +='<td style="display:none;" id="piezas_'+count+'"><input type="number" data-toggle="toolinfo" data-placement="bottom" title="Piezas" title="Piezas" step="0.01" class="form-control" min="0" name="txtPiezas_'+count+'" id="txtPiezas_'+count+'" placeholder="Piezas" onChange="calculo('+count+','+object.id+');" /></td>';
	                		tabla +='<td style="display:none;"><input type="text" class="form-control" name="txtBandera_'+count+'" id="txtBandera_'+count+'" value="0"/></td>';
	                		tabla += '<td><button type="button" class="btn btn-info" name="add_'+count+'" id="add_'+count+'" onClick="agregarAsignacion('+count+');">Completo</td>';
	                		tabla += '<td id="btnDiferencia_'+count+'"><button type="button" class="btn btn-danger" name="addDiferencia_'+count+'" id="addDiferencia_'+count+'" onClick="agregarDiferencia('+count+');">Material Faltante</td>';
	                		//tabla += '<td id="btnCancelarDif_'+count+'" style="display:none;"><button type="button" class="btn btn-warning" name="removeDiferencia_'+count+'" id="removeDiferencia_'+count+'" onClick="cancelarDiferencia('+count+');">Cancelar</td>';
	                    tabla +='</tr>';
	                	idTabla++;
	                	$("#divApoyo").html(object.apoyoNumero);
	                	$("#txtApoyo").val(object.apoyoId);
	                	$("#divElemento").html(object.elementoNombre);
	                	$("#txtElemento").val(object.elementoId);
	                });
	            } catch (e) {
	                alert("Error al cargar el Material Recepcionado:" + e);
	            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Material Recepcionado" );
			});
			$("#tablaMaterial tbody").append(tabla);
			$('[data-toggle="toolinfo"]').tooltip();
		}
		comboFrente = function(){
			$.post( "{% url 'comboFrente' %}",{
			},
			function(data, status) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.id + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Frente:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Frente" );
			});
		}
		comboFuncion = function(){
			var tipo = 3;
			$.post( "{% url 'comboFuncion' %}",{
				tipo: tipo
			},
			function(data, status) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona Proveedor de Armado</option>');
	                    $.each(data.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.id + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo del Fabricante:" + e);
		            }
			})
			.fail(function() {
				mensajeWarning( "Error en la petición del Fabricante" );
			});
		}
		agregarAsignacion = function(posicion){
			bootbox.confirm("¿Estás seguro de realizar esta acción, posteriormente no podrás realizar ningún cambio?", function(result) {
				if(result){
					$( "#add_"+posicion ).prop( "disabled", true );
					$( "#addDiferencia_"+posicion ).prop( "disabled", true );
					var cantidadAsignada = $("#row_"+posicion).val();
					var cantidadReal = $("#row_"+posicion).data("cantidadreal");
					var idMaterial = $("#row_"+posicion).data("idmaterial");
					var materialNombre = $("#row_"+posicion).data("materialnombre");
					var bandera = $("#txtBandera_"+posicion).val();
					var nomenclatura = $("#txtNomenclatura_"+posicion).val();
					var longitud = $("#txtLongitud_"+posicion).val();
					var piezas = $("#txtPiezas_"+posicion).val();
					var pesoRealCalculado = 0;
					var sumaTotalCalculado = parseFloat(cantidadAsignada);
					var tabla = '';
						if(bandera == 0){
							tabla += '<tr>';
								tabla += '<td>'+materialNombre+'</td>';
								tabla += '<td class="success miles">'+cantidadReal+'</td>';
								
								tabla += '<td><input type="hidden" class="datos" data-datosidmaterial="'+idMaterial+'" data-datoscantidadreal="'+cantidadReal+'" data-datoscantidadasignada="'+cantidadAsignada+'" data-datosnomenclatura="'+nomenclatura+'" data-datoslongitud="'+longitud+'" data-datospiezas="'+piezas+'" data-datosbandera="'+bandera+'" /></td>';
							tabla += '</tr>';
							$("#tablaMaterialDetalle").append(tabla);
							$("#detalleRecepcion").show("slide");
							$("#botones").show("slide");
						}else{
							$( "#add_"+posicion ).prop( "disabled", false );
							$( "#addDiferencia_"+posicion ).prop( "disabled", false );
							$(":input[class=real_"+idMaterial+"]").each(function(index, element) {
								sumaTotalCalculado += parseFloat(this.value);
							});
							pesoRealCalculado = parseFloat(cantidadReal) - parseFloat(sumaTotalCalculado);
							if(pesoRealCalculado < 0){
								mensajeWarning("El Material Faltante agregado es mayor a la Cantidad del Material");
								return false;
							}
							tabla += '<tr class="danger">';
								tabla += '<td>'+materialNombre+'</td>';
								tabla += '<td>'+nomenclatura+'</td>';
								tabla += '<td>'+longitud+'</td>';
								tabla += '<td>'+piezas+'</td>';
								tabla += '<td class="miles">'+cantidadReal+'</td>';
								tabla += '<td class="miles">' +cantidadAsignada+ '</td>';
								tabla += '<td style="display:none;"><input type="hidden" class="datosFaltante" data-datosidmaterial="'+idMaterial+'" data-datoscantidadreal="'+cantidadReal+'" data-datoscantidadasignada="'+cantidadAsignada+'" data-datosnomenclatura="'+nomenclatura+'" data-datoslongitud="'+longitud+'" data-datospiezas="'+piezas+'" data-datosbandera="'+bandera+'" data-pesoreal="'+pesoRealCalculado.toFixed(2)+'" /></td>';
								tabla += '<td class="miles">'+pesoRealCalculado.toFixed(2)+'</td>';
								tabla += '<td style="display:none;"><input type="text" class="real_'+idMaterial+'" value="'+cantidadAsignada+'" /></td>';
								
							tabla += '</tr>';
							$("#tablaMaterialFaltante").append(tabla);
							$("#detalleFaltante").show("slide");
							$("#botones").show("slide");
						}

				}
			});
		}
		agregarDiferencia = function(posicion){
			bootbox.confirm("¿Estás seguro que deseas agregar material faltante?", function(result) {
				if(result){
					$("#asignado_"+posicion).show('slide');
					$("#longitud_"+posicion).show('slide');
					$("#piezas_"+posicion).show('slide');
					$("#nomenclatura_"+posicion).show('slide');
					$("#btnDiferencia_"+posicion).hide('slide');
					$("#btnCancelarDif_"+posicion).show('slide');
					$("#txtBandera_"+posicion).val(1);
					$("#add_"+posicion).text("Agregar Material Faltante");
				}
			});
		}
		cancelarDiferencia = function(posicion){
			$("#asignado_"+posicion).hide('slide');
			$("#longitud_"+posicion).hide('slide');
			$("#piezas_"+posicion).hide('slide');
			$("#nomenclatura_"+posicion).hide('slide');
			$("#btnDiferencia_"+posicion).show('slide');
			$("#btnCancelarDif_"+posicion).hide('slide');
			$("#row_"+posicion).val('');
			$("#txtNomenclatura_"+posicion).val('');
			$("#txtLongitud_"+posicion).val('');
			$("#txtPiezas_"+posicion).val('');
			$("#txtBandera_"+posicion).val(0);
			$("#add_"+posicion).text("Completo");
		}
		calculo = function(indice, material){
			var factor = 0;
			var longitud = $("#txtLongitud_"+indice).val();
			var piezas = $("#txtPiezas_"+indice).val();
			var total = 0;
			$.post( "{% url 'elementoMaterial' %}",{
				"material": material
			},
			function(data, status) {
	            try {
	                $.each(data.data, function (count, object) {
	                	factor = object.conversion;
	                	total = parseFloat(factor) * parseFloat(longitud) * parseFloat(piezas);
	                });
	            } catch (e) {
	                alert("Error al cargar elemento Material:" + e);
	            }
	        });
	        $("#row_"+indice).val(total.toFixed(2));
		}
		$( "#btnAgregar" ).click(function() {
			$("#tablaHabilitado tbody").empty();
			var remision = $("#remision").val();
			var folio = $("#cmbFolio").val();
			var folioText = $("#cmbFolio").find(':selected').data('folio')
			var proveedor = $("#cmbFuncion").val();

			if(remision==0){
				mensajeWarning("<strong>Debes elegir una Remisión.</strong>");
				return false;
			}
			if(proveedor==0){
				mensajeWarning("<strong>Debes elegir un Proveedor de Armado.</strong>");
				return false;
			}
			if(folio==0){
				mensajeWarning("<strong>Debes elegir un Folio.</strong>");
				return false;
			}
			var tabla = '';
				tabla +='<tr>';
					tabla +='<td>'+remision+'</td>';
					tabla +='<td>'+folioText+'</td>';
					tabla +='<td><div id="divApoyo"></div></td>';
					tabla +='<td><div id="divElemento"></div></td>';
				tabla +='</tr>';
			$("#tablaHabilitado tbody").append(tabla);
			materialRecepcionado(folio);
			$("#detalleHabilitado").show("slide");
			$("#indicadorColor").show("slide");
			$("#detalleMaterial").show("slide");
		});
		$( "#btnCancelar" ).click(function() {
			bootbox.confirm("¿Estás seguro de Cancelar. Todos los datos capturados se eliminarán?.", function(result) {
				if(result){
					$("#tablaMaterial tbody").empty();
					$("#tablaMaterialDetalle tbody").empty();
					$("#tablaMaterialFaltante tbody").empty();
					$("#btnAgregar").trigger("click");
					$("#detalleRecepcion").hide("slide");
					$("#detalleMaterial").hide("slide");
					$("#detalleFaltante").hide("slide");
					$("#detalleHabilitado").hide("slide");
					$("#botones").hide("slide");
				}
			});
		});
		$( "#btnGuardar" ).click(function() {
			bootbox.confirm("¿Estás seguro que la información capturada es la correcta, debido a que no se podrán realizar cambios posteriores?.", function(result) {
				if(result){
					var array = [];
					var arrayFaltante = [];
					var remision = $("#remision").val();
					var funcion = $("#cmbFuncion").val();
					var folio = $("#cmbFolio").val();
					var apoyo = $("#txtApoyo").val();
					var elemento = $("#txtElemento").val();
					var htmlMail = $("#tablaMaterialDetalle").html();
					var htmlMailFaltante = $("#tablaMaterialFaltante").html();
					$("input.datos[type=hidden]").each(function(index, element) {
						var material = $(this).data("datosidmaterial");
						var cantidadReal = $(this).data("datoscantidadreal");
						var cantidadAsignada = $(this).data("datoscantidadasignada");
						var bandera = $(this).data("datosbandera");
						array.push({"material": material,
									"cantidadReal": cantidadReal,
									"cantidadAsignada": cantidadReal,
									"bandera": bandera
								});
					});
					$("input.datosFaltante[type=hidden]").each(function(index, element) {
						var materialFaltante = $(this).data("datosidmaterial");
						var cantidadRealFaltante = $(this).data("datoscantidadreal");
						var cantidadAsignadaFaltante = $(this).data("datoscantidadasignada");
						var nomenclaturaFaltante = $(this).data("datosnomenclatura");
						var longitudFaltante = $(this).data("datoslongitud");
						var piezasFaltante = $(this).data("datospiezas");
						var calculadoReal = $(this).data("pesoreal");
						var banderaFaltante = $(this).data("datosbandera");
						arrayFaltante.push({"material": materialFaltante,
									"cantidadReal": cantidadRealFaltante,
									"cantidadAsignada": cantidadAsignadaFaltante,
									"nomenclatura": nomenclaturaFaltante,
									"longitud": longitudFaltante,
									"piezas": piezasFaltante,
									"calculadoReal": calculadoReal,
									"bandera": banderaFaltante
								});
					});
					var json = JSON.stringify(array);
					var jsonFaltante = JSON.stringify(arrayFaltante);
					$.post( "{% url 'entradaArmadoSave' %}",{
						remision: remision,
						funcion: funcion,
						folio: folio,
						apoyo: apoyo,
						elemento: elemento,
						htmlMail: htmlMail,
						htmlMailFaltante: htmlMailFaltante,
						json: json,
						jsonFaltante: jsonFaltante
					},
					function(data, status) {
				            try {
				            	mensajeSuccess("<b>"+data.mensaje+"</b>");
				            	$("#folio").html(data.folio);
				            } catch (e) {
				                alert("Error al cargar Guardar la información:" + e);
				            }
					})
					.fail(function() {
						mensajeWarning( "Error en la petición Guardar la información" );
					});
					$("#botones").hide("slide");
				}
			});
		});
	    $(function () {
	    	foliosSalidaHabilitado();
	    	mostrarFolio();
	    	comboApoyo();
	    	comboElemento();
	    	comboFrente();
	    	comboFuncion();
	    	$(".select2").select2({
				placeholder: "Selecciona un Folio",
				allowClear: true
			});
	    });
	</script>
{% endblock %}