{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE MOVIMIENTO
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div style="display:none;"  id="btnBuscar" class="col-md-12">
			<div class="form-group col-md-6">
				<label  class="control-label" for="fechaBusca">Fecha Final:</label>
				<input type="text" class="calendario form-control" name="fechaBusca" id="fechaBusca" value="{% now "d/m/Y" %}"></input>
			</div>
			<br />
			<div  class="form-group col-md-6">
				<button type="button" class="btn btn-success" name="buscar" id="buscar">Buscar</button>
			</div>
		</div>
		

	<div id="divPrincipal" class="table-responsive col-md-12">
		<table id="tabla1" class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Nombre de Usuario</th>
					<th class="text-center">Apellidos(s)</th>
					<th class="text-center">Fecha de Movimiento</th>
					<th class="text-center">Modulo afectado</th>
					<th class="text-center">Ver Detalle</th>

				</tr>
			</thead>
			<tbody>

			{% for a in movimientos %}
				<tr>
			    	<td>{{ a.user__first_name}}</td>
			    	<td>{{ a.user__last_name }}</td>
			    	<td>{{ a.fechaRegistro }}</td>
			    	<td>{{ a.modulo__descripcion }}</td>
			    	<td>
				    	<a href="/control_acero/catalogos/movimientos/{{a.id}}/detalle/"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
				    </td>
			    </tr>
			{% endfor %}
			</tbody>
		</table>
		<div>
		<div id="paginador" style= "display:none;" class="col-md-12">
	        <ul class="pagination">
		        {% if movimientos.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ movimientos.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in movimientos.paginator.page_range %}
	            	<li class="{% if movimientos.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if movimientos.has_next %}
		        	<li>
		            	<a href="?page={{ movimientos.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ movimientos.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	</div>
	<script type="text/javascript">
	$( "#buscar" ).click(function() {
		var fecha = $("#fechaBusca").val();
		//console.log(fecha);
		$("#tabla1 tbody").empty();
		var tabla='';
		$.post( "{% url 'movimientosFecha' %}",{
					fecha:fecha	
			},
			function(data, status) {
	            try {
	            if (data.data.length==0){
	            	tabla='<tr><th class="text-center" colspan="5">No se encuentran registros con la fecha: ' +fecha+' </th></tr>'
	            }

	            	$.each(data.data, function (count, object) {
	            		
                    	console.log(object);
                    	tabla+='<tr><td class="text-center">'+object.nombre+'</td>'
					+'<td class="text-center">'+object.apellidos+'</td>'
					+'<td class="text-center">'+object.fechaRegistro+'</td>'
					+'<td class="text-center">'+object.descripcion+'</td>'
					+'<td class="text-center"><a href="/control_acero/catalogos/movimientos/'+object.id+'/detalle/"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td></tr>';
                    });
	            	
		        } catch (e) {
	                swal("Error!","Consulta invalida","error");
	            }
			})
			.fail(function() {
				swal("Error!", "Error no se encontro información ","error");
			});
			$("#tabla1").append(tabla);
			$("#paginador").hide("slide");
	});

		$("#btnBuscar").show("slide");
		$("#paginador").show("slide");
	</script>
{% endblock %}