{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CONTROL DE ASIGNACIONES
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elegir Orden de Compra:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
					<option value="0">Selecciona una Orden de Compra</option>
					<option value="1">Orden 1</option>
					<option value="2">Orden 2</option>
					<option value="3">Orden 3</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFrente">Elegir frente de Trabajo:</label>
				<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elegir Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elegir Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
		</div>

		<div class="col-md-12 text-center">
			<button class="btn btn-success" name="btnAgregaAsignacion" id="btnAgregaAsignacion">Agregar</button>
		</div>

		<div class="col-md-12 table-responsive">
			<table id="tablaAsignacion" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="7">Detalle de la Asignación</th>
					</tr>
					<tr>
						<th class="text-center">Orden de Compra</th>
						<th class="text-center">Frente de Trabajo</th>
						<th class="text-center">Folio Programa Suministro</th>
						<th class="text-center">Proveedor Asignado</th>
						<th class="text-center">Plan de Entrega</th>
						<th class="text-center">Peso Esperado en Kilogramos</th>
						<th class="text-center">Tiempo Estimado en Días</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				
			</table>
		</div>
		<div class="col-md-12">
			<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Guardar</button>
		</div>
	</div>


	<script type="text/javascript">
		comboFrente = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/frente/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.idFrente + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Frente:\n\n" + otroobj);
		        }
		    });
		};
		comboFunciones = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/funcion/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboPrograma = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/programa/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbPrograma').empty();
		                $('.cmbPrograma').append('<option value="0">Selecciona un Programa de Suministro</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbPrograma').append('<option value="' + object.idPrograma + '">Folio --->>> ' + object.idPrograma + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#btnAgregaAsignacion" ).click(function() {
			$("#tablaAsignacion tbody").empty();
			var orden = $("#cmbOrden").val();
			var ordenText = $("#cmbOrden option[value='"+orden+"']").text();
			var frente = $("#cmbFrente").val();
			var frenteText = $("#cmbFrente option[value='"+frente+"']").text();
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var funcionText = $("#cmbFuncion option[value='"+funcion+"']").text();
			var tabla = '';
				tabla += '<tr>'
							+'<td class="text-center">'+ordenText+'</td>'
							+'<td class="text-center">'+frenteText+'</td>'
							+'<td class="text-center">'+programa+'</td>'
							+'<td class="text-center">'+funcionText+'</td>'
							+'<td class="text-center"><span style="cursor: pointer;" class="glyphicon glyphicon-file"></span></td>'
							+'<td class="text-center"><input type="text" class="form-control" name="txtPeso" id="txtPeso"/></td>'
							+'<td class="text-center"><input type="text" class="form-control" name="txtDias" id="txtDias"/></td>'
						+'<tr>';
			$("#tablaAsignacion").append(tabla);
		});
		$( "#btnGuardar" ).click(function() {
			var orden = $("#cmbOrden").val();
			var frente = $("#cmbFrente").val();
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var estimado = $("#txtDias").val();
			var peso = $("#txtPeso").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/asignacion/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		orden: orden,
		        		frente: frente,
		        		programa: programa,
		        		funcion: funcion,
		        		estimado: estimado,
		        		peso:peso
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
	    $(function () {
	    	comboFrente();
	    	comboFunciones();
	    	comboPrograma();
	    });
	</script>
{% endblock %}