{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CONTROL DE ASIGNACIONES
{% endblock %}
{% block modals %}
<!-- Modal Plan -->
<div class="modal fade" id="modalPlan" tabindex="-1" role="dialog" aria-labelledby="modalPlanLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalPlanLabel">Carga de Plan de Entrega</h4>
			</div>
			<div class="modal-body">
				<div class="upload"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btnProcesar" name="btnProcesar" id="btnProcesar">Procesar</button>
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elegir Orden de Compra:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFrente">Elegir Frente de Trabajo:</label>
				<select name="cmbFrente" id="cmbFrente" class="cmbFrente form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elegir Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elige un Elemento:</label>
				<select name="cmbElemento" id="cmbElemento" multiple="multiple" class="cmbElemento form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elegir Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
		</div>

		<div class="col-md-12 text-center">
			<button class="btn btn-success" name="btnAgregaAsignacion" id="btnAgregaAsignacion">Agregar</button>
		</div>

		<div class="col-md-12 table-responsive">
			<table id="tablaAsignacion" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" colspan="8">Detalle de la Asignación</th>
					</tr>
					<tr>
						<th class="text-center">Orden de Compra</th>
						<th class="text-center">Frente de Trabajo</th>
						<th class="text-center">Folio Programa Suministro</th>
						<th class="text-center">Estructura</th>
						<th class="text-center">Proveedor Asignado</th>
						<th class="text-center">Plan de Entrega</th>
						<th class="text-center">Peso Total</th>
						<th class="text-center">Tiempo Estimado en Días</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				
			</table>
		</div>
		<div class="col-md-12">
			<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Guardar</button>
		</div>
	</div>


	<script type="text/javascript">
		comboOrden = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/asignacion/comboOrden/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbOrden').empty();
		                $('.cmbOrden').append('<option value="0">Selecciona un Orden de Compra</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbOrden').append('<option value="' + object.idOrden + '">Orden' + object.idOrden + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Orden:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Orden:\n\n" + otroobj);
		        }
		    });
		};
		comboFrente = function (idOrden) {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/asignacion/comboFrente/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		orden: idOrden
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFrente').empty();
		                $('.cmbFrente').append('<option value="0">Selecciona un Frente de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFrente').append('<option value="' + object.idFrente + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Frente:\n\n" + otroobj);
		        }
		    });
		};
		comboFunciones = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/funcion/combofiltrado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboPrograma = function (idOrden, idFrente) {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/asignacion/comboPrograma/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		orden: idOrden,
		        		frente: idFrente
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbPrograma').empty();
		                $('.cmbPrograma').append('<option value="0">Selecciona un Programa de Suministro</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbPrograma').append('<option value="' + object.idPrograma + '">Folio --->>> ' + object.idPrograma + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Programa:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Programa:\n\n" + otroobj);
		        }
		    });
		};
		comboEstructura = function (programa) {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/asignacion/comboElementos/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbElemento').empty();
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.id + '|' + object.total + '">' + object.elementoNombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
                complete: function (datos) {
                    $(".cmbElemento").addClass("elementoMultiple");
                    $(".elementoMultiple").select2();
                },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Estructura:\n\n" + otroobj);
		        }
		    });
		};
		$( "#btnAgregaAsignacion" ).click(function() {
			$("#tablaAsignacion tbody").empty();
			var count = 0;
			var orden = $("#cmbOrden").val();
			var ordenText = $("#cmbOrden option[value='"+orden+"']").text();
			var frente = $("#cmbFrente").val();
			var frenteText = $("#cmbFrente option[value='"+frente+"']").text();
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var funcionText = $("#cmbFuncion option[value='"+funcion+"']").text();
			var elementos = $(".elementoMultiple").select2('data');
			var tabla = '';
			$.each(elementos, function (count, object) {
				var explodeElemento = object.id.split("|");
				var idElemento = explodeElemento[0];
				var totalElemento = explodeElemento[1];
				tabla += '<tr>'
							+'<td class="text-center">'+ordenText+'</td>'
							+'<td class="text-center">'+frenteText+'</td>'
							+'<td class="text-center">'+programa+'</td>'
							+'<td class="text-center">'+object.text+'</td>'
							+'<td class="text-center">'+funcionText+'</td>'
							+'<td class="text-center"><span style="cursor: pointer;" class="glyphicon glyphicon-file" aria-hidden="true" data-toggle="modal" data-target="#modalPlan"></span></td>'
							+'<td class="text-center">'+totalElemento+'</td>'
							+'<td style="display:none;" class="text-center"><input type="text" disabled readonly class="form-control dataAsignacion" name="txtPeso" id="txtPeso" value="'+totalElemento+'" /></td>'
							+'<td class="text-center"><input type="text" class="form-control dataAsignacion" name="txtDias" id="txtDias" /></td>'
							+'<td style="display:none;" class="text-center">'
								+'<input type="text" disabled readonly class="dataAsignacion" name="txtOrden" id="txtOrden" value="'+orden+'" />'
								+'<input type="text" disabled readonly class="dataAsignacion" name="txtFrente" id="txtFrente" value="'+frente+'" />'
								+'<input type="text" disabled readonly class="dataAsignacion" name="txtPrograma" id="txtPrograma" value="'+programa+'" />'
								+'<input type="text" disabled readonly class="dataAsignacion" name="txtEstructura" id="txtEstructura" value="'+idElemento+'" />'
								+'<input type="text" disabled readonly class="dataAsignacion" name="txtFuncion" id="txtFuncion" value="'+funcion+'" />'
							+'</td>'
						+'<tr>';
				count++;
			});
			$("#tablaAsignacion").append(tabla);
		});
		$( "#btnGuardar" ).click(function() {
			var datos = [];
			var datosString = '';
			$("input.dataAsignacion[type=text]").each(function(index, element) {
				if(this.name == "txtOrden"){
					datosString += this.value+"|";
				}
				if(this.name == "txtFrente"){
					datosString += this.value+"|";
				}
				if(this.name == "txtPrograma"){
					datosString += this.value+"|";
				}
				if(this.name == "txtEstructura"){
					datosString += this.value+"|";
				}
				if(this.name == "txtPeso"){
					datosString += this.value+"|";
				}
				if(this.name == "txtDias"){
					datosString += this.value+"|";
				}
				if(this.name == "txtFuncion"){
					datosString += this.value;
					datos.push({"data": datosString});
					datosString = '';
				}
			});

			var json = JSON.stringify(datos);

		    $.ajax({
		        type: "POST",
		        url: "/control_acero/asignacion/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		json: json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		$( "#cmbOrden" ).change(function() {
			var value = this.value;
			comboFrente(value);
		});
		$( "#cmbFrente" ).change(function() {
			var orden = $("#cmbOrden").val();
			var frente = this.value;
			comboPrograma(orden,frente);
		});
		$( "#cmbPrograma" ).change(function() {
			var programa = this.value;
			comboEstructura(programa);
		});
	    $(function () {
	    	comboOrden();
	    	comboFunciones();
	    });
	</script>
{% endblock %}