{% extends 'control_acero/layout.html' %}
{% block title_module %}
	CATALOGO DE FUNCION
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Proveedor</th>
					<th class="text-center">Tipo</th>
					<th class="text-center">Porcentaje Maximo</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for funcion in funciones %}
				<tr>
			    	
			    	<td>{{funcion.proveedor}}</td>
			    	<td>{{funcion.get_tipo_display}}</td>
			    	<td>{{funcion.porcentajeMaximo}}</td> 
			    	<td><a href="/control_acero/catalogos/funciones/{{funcion.id}}/edit/"><span style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span></a> | <a href="/control_acero/catalogos/funciones/delete/{{funcion.id}}"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a></td>
			   	</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="col-md-12">
	        <ul class="pagination">
		        {% if funciones.has_previous %}
		            <li>
		            	<a href="?page=1"> Principio </a>
		            </li>
		            <li>
		            	<a href="?page={{ funciones.previous_page_number }}"> << </a>
		            </li>
		        {% endif %}
				{% for page in funciones.paginator.page_range %}
	            	<li class="{% if funciones.number == page %}active{% endif %}">
	            		<a href="?page={{ page }}">{{ page }}</a>
	            	</li>
				{% endfor %}
		        {% if funciones.has_next %}
		        	<li>
		            	<a href="?page={{ funciones.next_page_number }}"> >> </a>
		            </li>
		            <li>
		            	<a href="?page={{ funciones.paginator.num_pages }}"> Fin </a>
		            </li>
		        {% endif %}
	        </ul>
	    </div>
	</div>
	<div class="col-xs-12">
		<form action="{% url 'funcionesNewView' %}">
			<button type="submit" class="btn btn-primary">Agregar Nuevo</button>
		</form>
	</div>
{% endblock %}