{% extends 'control_acero/layout.html' %}
{% block title_module %}
	RECEPCIÓN DE MATERIAL PARA HABILITAR
{% endblock %}
{% block modals %}
<!-- Modal Pdf -->
<div class="modal fade" id="modalPdf" tabindex="-1" role="dialog" aria-labelledby="modalPdfLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalPdfLabel">Impresion PDF</h4>
			</div>
			<div class="modal-body">
				<iframe class="col-lg-12 col-md-12 col-sm-12" height="600" name="framePdf" id="framePdf"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elige un Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elige un Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaSuministro" class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">Programa de Suministro</th>
							<th class="text-center">Material</th>
							<th class="text-center">Peso</th>
							<th class="text-center">Cantidad</th>
							<th class="text-center">Peso Asignado</th>
							<th class="text-center">Taller Asignado</th>
							<th class="text-center">Transporte</th>
							<th class="text-center">Seleccionar</th>
							<th class="text-center">Existencia</th>
							<th class="text-center">Existencia Total</th>
						</tr>
					</thead>
					<tbody>
						<!--<td><input type="checkbox" name="test" value="0" /></td>-->
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnAceptarRecepcion" id="btnAceptarRecepcion" class="btn btn-primary">Aceptar Habilitado</button>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaHabilitadoAsignado" class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">Programa de Suministro</th>
							<th class="text-center">Material</th>
							<th class="text-center">Peso</th>
							<th class="text-center">Cantidad</th>
							<th class="text-center">Peso Asignado</th>
							<th class="text-center">Taller Asignado</th>
							<th class="text-center">Transporte</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Guardar Recepción</button>
			</div>
			<div style="display:none;" id="divImpresion" class="col-md-12 text-center">
				<button type="button" class="btn btn-success btn-lg" name="btnImprimir" id="btnImprimir" data-toggle="modal" data-target="#modalPdf">Imprimir</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( "#btnAceptarRecepcion" ).click(function() {
			$("#tablaHabilitadoAsignado tbody").empty();
			var tabla = '';
			$("input[name='seleccionados']").each( function () {
				if($(this).is(":checked")){
					var value = this.value;
					var idEtapa = $("#txtId"+value).val();
					var suministro = $("#txtIdSuministro"+value).val();
					var nombre = $("#txtNombreMaterial"+value).val();
					var funcion = $("#txtIdFuncion"+value).val();
					var peso = $("#txtPeso"+value).val();
					var cantidad = $("#txtCantidad"+value).val();
					var cantidadAsignada = $("#txtCantidadAsignada"+value).val();
					var taller = $("#txtTaller"+value).val();
					var tallerTexto = $("#txtTallerTexto"+value).val();
					var transporte = $("#txtTransporte"+value).val();
					var transporteTexto = $("#txtTransporteTexto"+value).val();
					tabla += '<tr>'
								+'<td class="text-center">'+suministro+'</td>'
								+'<td class="text-center">'+nombre+'</td>'
								+'<td class="text-center">'+peso+'</td>'
								+'<td class="text-center">'+cantidad+'</td>'
								+'<td class="text-center">'+cantidadAsignada+'</td>'
								+'<td class="text-center">'+tallerTexto+'</td>'
								+'<td class="text-center">'+transporteTexto+'</td>'
								+'<td style="display:none;" class="text-center">'
									+'<input type="text" disabled readonly class="dataAsignacion" name="dataId" id="dataId" value="'+idEtapa+'" />'
								+'</td>'
							+'</tr>';
				}
			});
			$("#tablaHabilitadoAsignado tbody").append(tabla);
		});
		$( "#btnGuardar" ).click(function() {
			var datos = [];
			var datosString = '';
			$("input.dataAsignacion[type=text]").each(function(index, element) {
				datosString += this.value;
				datos.push({"data": datosString});
				datosString = '';
			});
			var json = JSON.stringify(datos);
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/recepcion/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		json: json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            	$("#divImpresion").show('slide');
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		comboPrograma = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asigna/comboPrograma/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbPrograma').empty();
		                $('.cmbPrograma').append('<option value="0">Selecciona un Programa de Suministro</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbPrograma').append('<option value="' + object.idPrograma + '">Folio --->>> ' + object.idPrograma + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboFuncion = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asigna/comboFuncion/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#cmbFuncion" ).change(function() {
			$("#tablaSuministro tbody").empty();
			var tabla = '';
			var programa = $("#cmbPrograma").val();
			var funcion = this.value;
			var count = 0;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/recepcion/habilitado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                        tabla += '<tr>'
	                        			+'<td>'+object.programaSuministro+'</td>'
	                        			+'<td>'+object.nombreMaterial+'</td>'
	                        			+'<td>'+object.peso+'</td>'
	                        			+'<td>'+object.cantidad+'</td>'
	                        			+'<td>'+object.cantidadAsignada+'</td>'
	                        			+'<td>'+object.tallerNombre+'</td>'
	                        			+'<td>'+object.transportePlacas+'</td>'
	                        			+'<td><input type="checkbox" name="seleccionados" value="'+count+'" /></span></td>'
										+'<td style="display:none;" class="text-center">'
											+'<input type="text" disabled readonly name="txtId'+count+'" id="txtId'+count+'" value="'+object.id+'" />'
											+'<input type="text" disabled readonly name="txtIdSuministro'+count+'" id="txtIdSuministro'+count+'" value="'+object.programaSuministro+'" />'
											+'<input type="text" disabled readonly name="txtNombreMaterial'+count+'" id="txtNombreMaterial'+count+'" value="'+object.nombreMaterial+'" />'
											+'<input type="text" disabled readonly name="txtIdFuncion'+count+'" id="txtIdFuncion'+count+'" value="'+funcion+'" />'
											+'<input type="text" disabled readonly name="txtPeso'+count+'" id="txtPeso'+count+'" value="'+object.peso+'" />'
											+'<input type="text" disabled readonly name="txtCantidad'+count+'" id="txtCantidad'+count+'" value="'+object.cantidad+'" />'
											+'<input type="text" disabled readonly name="txtCantidadAsignada'+count+'" id="txtCantidadAsignada'+count+'" value="'+object.cantidadAsignada+'" />'
											+'<input type="text" disabled readonly name="txtTaller'+count+'" id="txtTaller'+count+'" value="'+object.tallerId+'" />'
											+'<input type="text" disabled readonly name="txtTallerTexto'+count+'" id="txtTallerTexto'+count+'" value="'+object.tallerNombre+'" />'
											+'<input type="text" disabled readonly name="txtTransporte'+count+'" id="txtTransporte'+count+'" value="'+object.transporteId+'" />'
											+'<input type="text" disabled readonly name="txtTransporteTexto'+count+'" id="txtTransporteTexto'+count+'" value="'+object.transportePlacas+'" />'
										+'</td>'
	                        		+'</tr>';
	                    	count++;
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		    $("#tablaSuministro tbody").append(tabla);
		});
		$( "#btnImprimir" ).click(function() {
			var folio = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var href = "http://localhost:8000/RecepcionHabilitado/"+folio+"/"+funcion+"/";
			$("#framePdf").attr("src", href);
		});
	    $(function () {
	    	comboPrograma();
	    	comboFuncion();
	    });
	</script>
{% endblock %}