{% extends 'control_acero/layout.html' %}
{% block title_module %}
	ASIGNACIÓN DE DESPIECE A ARMADO
{% endblock %}
{% block modals %}
<!-- Modal Pdf -->
<div class="modal fade" id="modalPdf" tabindex="-1" role="dialog" aria-labelledby="modalPdfLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalPdfLabel">Impresion PDF</h4>
			</div>
			<div class="modal-body">
				<iframe class="col-lg-12 col-md-12 col-sm-12" height="600" name="framePdf" id="framePdf"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbOrden">Elige una Orden de Trabajo:</label>
				<select name="cmbOrden" id="cmbOrden" class="cmbOrden form-control">
				</select>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaDespiece" class="table table-hover">
					<thead>
						<tr>
							<!--<th class="text-center">Despiece Total</th>
							<th class="text-center">Peso Recibido</th>-->
							<th class="text-center">Peso del Despiece</th>
							<th class="text-center">Nomenclaruta</th>
							<th class="text-center">Longitud del Despiece</th>
							<th class="text-center">Asignar Cantidad</th>
						</tr>
					</thead>
					<tbody>
						<!--<td><input type="checkbox" name="test" value="0" /></td>-->
					</tbody>
				</table>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaSuministroAsignado" class="table table-hover">
					<thead>
						<tr>
							<th colspan="9" class="text-center">Detalle de la Asignación</th>
						</tr>
						<tr>
							<th class="text-center">Proveedores Funciones</th>
							<th class="text-center">Elige Proveedor</th>
							<th class="text-center">Asignar Taller</th>
							<th class="text-center">Transporte</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
	            				<select name="cmbTipoFuncion" id="cmbTipoFuncion" class="cmbTipoFuncion form-control">
								</select>
							</td>
							<td>
	            				<select name="cmbFuncionSeleccionada" id="cmbFuncionSeleccionada" class="cmbFuncionSeleccionada form-control">
								</select>
							</td>
							<td>
	            				<select name="cmbTaller" id="cmbTaller" class="cmbTaller form-control">
								</select>
							</td>
							<td>
	            				<select name="cmbTransporte" id="cmbTransporte" class="cmbTransporte form-control">
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Guardar Asignacion</button>
			</div>
			<div style="display:none;" id="divImpresion" class="col-md-12 text-center">
				<button type="button" class="btn btn-success btn-lg" name="btnImprimir" id="btnImprimir" data-toggle="modal" data-target="#modalPdf">Imprimir</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		$( "#cmbOrden" ).change(function() {
			$("#tablaDespiece tbody").empty();
			var orden = this.value;
			var tabla = '';
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asignar/armado/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        			orden: orden
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
			            	tabla += '<tr>';
			            		//tabla +='<td>'+object.despieceTotal+'</td>';
			            		//tabla +='<td>'+object.pesoRecibido+'</td>';
			            		tabla +='<td>'+object.despiecePeso+'</td>';
			            		tabla +='<td>'+object.despieceNomenclatura+'</td>';
			            		tabla +='<td>'+object.despieceLongitud+'</td>';
			            		tabla +='<td><input class="form-control dataDespiece"  type="number" data-iddespiece="'+object.id+'" /></td>';
	                    		tabla += '<td>';
	                    			tabla += '<a target="_blank" href="../../../media/'+object.despieceImagen+'">';
				                		tabla += '<img width="100" class="img-responsive img-circle" src="../../../media/'+object.despieceImagen+'" alt="" class="img-responsive">';
				                	tabla += '</a>';
				                tabla += '</td>';
			            	tabla +='</tr>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		    $("#tablaDespiece tbody").append(tabla);
		});
		$( "#btnGuardar" ).click(function() {
			var idDespiece = 0;
			var cantidadAsignada = 0;
			var idOrden = $("#cmbOrden").val();
			var funcion = $("#cmbFuncionSeleccionada").val();
			var taller = $("#cmbTaller").val();
			var transporte = $("#cmbTransporte").val();
			var array = [];
			$("input.dataDespiece[type=number]").each(function(index, element) {
				idDespiece = $(this).data("iddespiece");
				cantidadAsignada = this.value;
				array.push({"idDespiece":idDespiece,"cantidadAsignada":cantidadAsignada});
			});
			var json = JSON.stringify(array);
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/armado/asigna/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		idOrden: idOrden,
		        		funcion: funcion,
		        		taller: taller,
		        		transporte: transporte,
		        		json:json
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('#cmbFuncionSeleccionada').empty();
		                $('#cmbFuncionSeleccionada').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('#cmbFuncionSeleccionada').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		});
		comboTipoFuncion = function () {
	        $('.cmbTipoFuncion').empty();
	        $('.cmbTipoFuncion').append('<option value="0">Selecciona un Tipo de Proveedor</option>');
	        $('.cmbTipoFuncion').append('<option value="3">Armador</option>');
	        $('.cmbTipoFuncion').append('<option value="4">Colocador</option>');
		};
		comboFuncionElegido = function (value) {
			var tipo = value;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboFuncionElegido/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		tipo: tipo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('#cmbFuncionSeleccionada').empty();
		                $('#cmbFuncionSeleccionada').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('#cmbFuncionSeleccionada').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTaller = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboTaller/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbTaller').empty();
		                $('.cmbTaller').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbTaller').append('<option value="' + object.idTaller + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTransporte = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboTransporte/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbTransporte').empty();
		                $('.cmbTransporte').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbTransporte').append('<option value="' + object.idTransporte + '">' + object.placas + ' ---> ' + object.capacidad + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#cmbFuncion" ).change(function() {
			comboElemento();
		});
		$( "#btnAgregar" ).click(function() {
		});
		$( "#cmbTipoFuncion" ).change(function() {
			var value = this.value;
			comboFuncionElegido(value);
		});
		$( "#btnImprimir" ).click(function() {
			var folio = $("#cmbPrograma").val();
			var href = "http://localhost:8000/AsignarHabilitado/"+folio;
			$("#framePdf").attr("src", href);
		});
		comboOrden = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/recepcion/comboOrden/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbOrden').empty();
		                $('.cmbOrden').append('<option value="0">Selecciona una Orden de Trabajo</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbOrden').append('<option value="' + object.idOrdenTrabajo + '">Orden de Trabajo --->>> ' + object.idOrdenTrabajo + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
	    $(function () {
	    	comboTipoFuncion();
	    	comboTaller();
	    	comboTransporte();
	    	comboOrden();
	    });
	</script>
{% endblock %}