{% extends 'control_acero/layout.html' %}
{% block title_module %}
	HABILITADO ASIGNACIÓN
{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<div class="col-md-12">
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbPrograma">Elige un Programa de Suministro:</label>
				<select name="cmbPrograma" id="cmbPrograma" class="cmbPrograma form-control">
				</select>
			</div>
			<div class="form-group col-md-12">
				<label  class="control-label" for="cmbFuncion">Elige un Proveedor:</label>
				<select name="cmbFuncion" id="cmbFuncion" class="cmbFuncion form-control">
				</select>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="cmbElemento">Elige un Elemento:</label>
				<select name="cmbElemento" id="cmbElemento" class="cmbElemento form-control">
				</select>
			</div>
			<div class="form-group col-md-6">
				<label  class="control-label" for="txtNumber">Indica una Cantidad:</label>
				<input type="number" class="form-control" name="txtNumber" id="txtNumber" min="1" value="1">
			</div>
			<div class="form-group text-center col-md-12">
				<button type="button" class="btn btn-info" name="btnAgregar" id="btnAgregar">Agregar</button>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaSuministro" class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">Material Nombre</th>
							<th class="text-center">Despiece Nomenclatura</th>
							<th class="text-center">Despiece Figura</th>
							<th class="text-center">Despiece Longitud</th>
							<th class="text-center">Despiece Cantidad</th>
							<th class="text-center">Despiece Peso</th>
						</tr>
					</thead>
					<tbody>
						<!--<td><input type="checkbox" name="test" value="0" /></td>-->
					</tbody>
				</table>
			</div>
			<div class="col-md-12 table-responsive">
				<table id="tablaSuministroAsignado" class="table table-hover">
					<thead>
						<tr>
							<th colspan="9" class="text-center">Detalle de la Asignación</th>
						</tr>
						<tr>
							<th class="text-center">Proveedores Funciones</th>
							<th class="text-center">Elige Proveedor</th>
							<th class="text-center">Asignar Taller</th>
							<th class="text-center">Transporte</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
	            				<select name="cmbTipoFuncion" id="cmbTipoFuncion" class="cmbTipoFuncion form-control">
								</select>
							</td>
							<td>
	            				<select name="cmbFuncionSeleccionada" id="cmbFuncionSeleccionada" class="cmbFuncionSeleccionada form-control">
								</select>
							</td>
							<td>
	            				<select name="cmbTaller" id="cmbTaller" class="cmbTaller form-control">
								</select>
							</td>
							<td>
	            				<select name="cmbTransporte" id="cmbTransporte" class="cmbTransporte form-control">
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">Guardar Asignacion</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( "#btnGuardar" ).click(function() {
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var elemento = $("#cmbElemento").val();
			var funcionSelect = $("#cmbFuncionSeleccionada").val();
			var taller = $("#cmbTaller").val();
			var transporte = $("#cmbTransporte").val();
			var cantidad = $("#txtNumber").val();
			var datos = [];
			var datosAsignacion = [];
			var datosAsignacionDetalle = [];
			$("input.dataIdEtapa[type=text]").each(function(index, element) {
				datos.push({"dataIdEtapa": this.value});
			});
			$("input.dataAsignacion[type=text]").each(function(index, element) {
				datosAsignacion.push({"dataAsignacion": this.value});
			});
			$("input.dataAsignacionDetalle[type=text]").each(function(index, element) {
				datosAsignacionDetalle.push({"dataAsignacionDetalle": this.value});
			});
			var json = JSON.stringify(datos);
			var jsonAsignacion = JSON.stringify(datosAsignacion);
			var jsonAsignacionDetalle = JSON.stringify(datosAsignacionDetalle);

		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asignar/save/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion,
		        		elemento: elemento,
		        		funcionSelect: funcionSelect,
		        		taller: taller,
		        		transporte: transporte,
		        		cantidad:cantidad,
		        		json: json,
		        		jsonAsignacion: jsonAsignacion,
		        		jsonAsignacionDetalle: jsonAsignacionDetalle
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		            	mensajeSuccess("<b>"+datos.mensaje+"</b>");
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion del Frente:\n\n" + otroobj);
		        }
		    });
		});
		comboPrograma = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asignar/comboPrograma/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbPrograma').empty();
		                $('.cmbPrograma').append('<option value="0">Selecciona un Programa de Suministro</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbPrograma').append('<option value="' + object.idPrograma + '">Folio --->>> ' + object.idPrograma + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboFuncion = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asignar/comboFuncion/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbFuncion').empty();
		                $('.cmbFuncion').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbFuncion').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboElemento = function () {
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asignar/comboElemento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		programa: programa,
		        		funcion: funcion
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbElemento').empty();
		                $('.cmbElemento').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbElemento').append('<option value="' + object.idElemento + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTipoFuncion = function () {
	        $('.cmbTipoFuncion').empty();
	        $('.cmbTipoFuncion').append('<option value="0">Selecciona un Tipo de Proveedor</option>');
	        $('.cmbTipoFuncion').append('<option value="3">Armador</option>');
	        $('.cmbTipoFuncion').append('<option value="4">Colocador</option>');
		};
		comboFuncionElegido = function (value) {
			var tipo = value;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboFuncionElegido/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		tipo: tipo
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('#cmbFuncionSeleccionada').empty();
		                $('#cmbFuncionSeleccionada').append('<option value="0">Selecciona un Proveedor</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('#cmbFuncionSeleccionada').append('<option value="' + object.idFuncion + '">' + object.proveedor + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTaller = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboTaller/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbTaller').empty();
		                $('.cmbTaller').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbTaller').append('<option value="' + object.idTaller + '">' + object.nombre + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		comboTransporte = function () {
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/suministro/asignar/comboTransporte/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
		                $('.cmbTransporte').empty();
		                $('.cmbTransporte').append('<option value="0">Selecciona un Taller</option>');
	                    $.each(datos.data, function (count, object) {
	                        $('.cmbTransporte').append('<option value="' + object.idTransporte + '">' + object.placas + ' ---> ' + object.capacidad + '</option>');
	                    });
		            } catch (e) {
		                alert("Error al cargar Combo Funcion:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		};
		$( "#cmbFuncion" ).change(function() {
			comboElemento();
		});
		$( "#btnAgregar" ).click(function() {
			$("#tablaSuministro tbody").empty();
			var tabla = '';
			var programa = $("#cmbPrograma").val();
			var funcion = $("#cmbFuncion").val();
			var elemento =$("#cmbElemento").val();
			var cantidad =$("#txtNumber").val();
			var count = 0;
			var idTabla = 1;
			var total = 0;
			var totalDespiecePeso = 0;
		    $.ajax({
		        type: "POST",
		        url: "/control_acero/habilitado/asignar/elemento/",
		        async: false,
		        dataType: "json",
		        data: {csrfmiddlewaretoken: csrftoken,
		        		cantidad: cantidad,
		        		programa: programa,
		        		funcion: funcion,
		        		elemento: elemento
						},
		        beforeSend: function (objeto) {
		        },
		        success: function (datos) {
		            try {
	                    $.each(datos.data, function (count, object) {
	                    	if(total != object.materialId && total != 0){
	                    		tabla += '<tr class="info">';
	                    			tabla += '<td><b>Totales</b></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td><b>'+totalDespiecePeso.toFixed(4)+'</b></td>';
	                    		tabla += '</tr>';
	                    		totalDespiecePeso = 0;
	                    	}
	                    	tabla += '<tr>';
	                    		tabla += '<td>'+object.materialNombre+'</td>'
	                    		tabla += '<td>'+object.despieceNomenclatura+'</td>'
	                    		tabla += '<td>'+object.despieceFigura+'</td>'
	                    		tabla += '<td>'+object.despieceLongitud+'</td>'
	                    		tabla += '<td>'+object.despieceCantidad+'</td>'
	                    		tabla += '<td>'+object.despiecePeso+'</td>'
	                    		tabla += '<td style="display:none";><input type="text" class="dataAsignacionDetalle" readonly disabled value="'+object.despieceId+'|'+object.despiecePeso+'|'+object.materialId+'" /></td>';
	                    	tabla += '</tr>';
	                    	total = object.materialId;
	                    	totalDespiecePeso += parseFloat(object.despiecePeso);
	                    	if(count == datos.data.length-1){
	                    		tabla += '<tr class="info">';
	                    			tabla += '<td><b>Totales</b></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td></td>';
	                    			tabla += '<td><b>'+totalDespiecePeso.toFixed(4)+'</b></td>';
	                    		tabla += '</tr>';
	                    	}
	                    });
	                    $.each(datos.dataTotales, function (countTotales, objectTotales) {
	                    	tabla += '<tr>';
	                    		tabla += '<td>'+objectTotales.nombre+'</td>';
	                    		tabla += '<td>Despiece Total Peso: '+objectTotales.despiecePeso+'</td>';
	                    		tabla += '<td>Peso Recibido: '+objectTotales.pesoRecibido+'</td>';
	                    		tabla += '<td>Peso Restante: '+objectTotales.pesoAsignado+'</td>';
	                    		tabla += '<td style="display:none;"><input type="text" class="dataIdEtapa" readonly disabled value="'+objectTotales.idEtapa+'" /></td>';
	                    		tabla += '<td style="display:none;"><input type="text" class="dataAsignacion" readonly disabled value="'+objectTotales.despiecePeso+'|'+objectTotales.pesoRecibido+'|'+objectTotales.pesoAsignado+'|'+objectTotales.idMaterial+'" /></td>';
	                    	tabla += '</tr>';
	                    });
		            } catch (e) {
		                alert("Error al cargar El Frente:" + e);
		            }
		        },
		        error: function (objeto, quepaso, otroobj) {
		            alert("Error en la peticion de Combo Funcion:\n\n" + otroobj);
		        }
		    });
		    $("#tablaSuministro tbody").append(tabla);
		    //comboTipoFuncion();
		   	//comboTaller();
		   	//comboTransporte();
		});
		$( "#cmbTipoFuncion" ).change(function() {
			var value = this.value;
			comboFuncionElegido(value);
		});
		function agregaAsignacion (posicion){
			var programa = $("#cmbPrograma").val();
			var idTabla = $("#idTabla"+posicion).val();
			var idAsignacion = $("#idAsignacion"+posicion).val();
			var pesoSolicitado = $("#pesoSolicitado"+posicion).val();
			var pesoRecibido = $("#pesoRecibido"+posicion).val();
			var funcion = $("#cmbFuncionSeleccionada"+posicion).val();
			var funcionText = $("#cmbFuncionSeleccionada"+posicion+" option[value='"+funcion+"']").text();
			var taller = $("#cmbTaller"+posicion).val();
			var tallerText = $("#cmbTaller"+posicion+" option[value='"+taller+"']").text();
			var transporte = $("#cmbTransporte"+posicion).val();
			var transporteText = $("#cmbTransporte"+posicion+" option[value='"+transporte+"']").text();
			var cantidadAsignada = $("#cantidadAsignada"+posicion).val();
			var etapaPertenece = $("#etapaPertenece"+posicion).val();
			var tabla = '';
				tabla += '<tr>'
							+'<td class="text-center">'+idTabla+'</td>'
							+'<td class="text-center">'+pesoSolicitado+'</td>'
							+'<td class="text-center">'+pesoRecibido+'</td>'
							+'<td class="text-center">'+funcionText+'</td>'
							+'<td class="text-center">'+tallerText+'</td>'
	                        +'<td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>'
	                        +'<td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>'
							+'<td class="text-center">'+transporteText+'</td>'
							+'<td class="text-center success">'+cantidadAsignada+'</td>'
						+'</tr>';
			$("#tablaSuministroAsignado").append(tabla);
		}
	    $(function () {
	    	comboPrograma();
	    	comboTipoFuncion();
	    	comboFuncion();
	    	comboTaller();
	    	comboTransporte();
	    });
	</script>
{% endblock %}